<ol class="stepper-wrapper">
  <li class="stepper-item completed">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/complete.svg" alt="">
    </div>
    <div class="step-name">
      Associate
      <span class="sr-only">completed</span>
    </div>
  </li>
  <li class="stepper-item completed">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/complete.svg" alt="">
    </div>
    <div class="step-name">
      Junior
      <span class="sr-only">completed</span>
    </div>
  </li>
  <li class="stepper-item completed">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/complete.svg" alt="">
    </div>
    <div class="step-name">
      Mid-level
      <span class="sr-only">completed</span>
    </div>
  </li>
  <li class="stepper-item completed">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/complete.svg" alt="">
    </div>
    <div class="step-name">
      Senior
      <span class="sr-only">completed</span>
    </div>
  </li>
  <li class="stepper-item" aria-current="true">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/current.svg" alt="">
    </div>
    <div class="step-name">
      Staff
    </div>
  </li>
  <li class="stepper-item">
    <div class="step-counter">
      <img src="/img/career-pathways/icons/innactive.svg" alt="">
    </div>
    <div class="step-name">
      Principal
      <span class="sr-only">not completed</span>
    </div>
  </li>
</ol>
