---
layout: default
title: GearFit
permalink: /work/solutions/gear-fit/
excerpt: Shape the future of gear with feedback.
image: /img/ditap_executive/ditap-executive-social.png
image_description: Banner of Skylight's GearFit
class: ditap page-offering
preload: hero-gearfit.svg
class_1_spots:
class_2_spots:
---

{% include hero_banner.html
 hero_content = "Shape the future of gear with feedback."
 color = "purple"
 image = "hero-gearfit.svg"
 additional_class = "hero-banner-btm" %}

<div class="services-content left-justified-list">
  <div class="">
    <div class="grid-container prose">
      <div class="row pt-3">
        <div class="col-md-6 order-2 order-md-1 mt-4 mt-md-0">
          <h2 id='service-delivery'>What is GearFit?</h2>
          <p>
            GearFit creates a feedback loop between gear users and acquirers, enabling data-driven decisions about gear problems and priorities like never before.
          </p>
          <p>
            With GearFit, you can truly empower your frontline personnel — from fighter pilots to firefighters — to perform their best in service to your organization's critical mission.
          </p>
          <a class="btn btn-purple font-weight-bold" href="{{ page.cta }}">Request a demo</a>
        </div>
        <div class="col-md-6 order-1 order-md-2">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gear-fit-computer.png" alt="A computer showing the gearfit feedback page" />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 bg-purple-lightest py-6">
    <div class="grid-container prose">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1 mt-4 mt-md-0">
          <h2 id="procurement">Tackle your toughest gear challenges</h2>
          <p>
            Without the ability to collect, manage, and respond to feedback from the field well, your organization runs the risk of supplying gear that's ill-fitting, ineffective, and misused.
          </p>
          <p>GearFit allows you to avoid negative impacts to these critical areas:</p>
        </div>
      </div>
      <div class="in-page-selection">
        <div class="row">
          <div class="col-md-3">
            <ul>
              <li
                class='control-list-item'
                tabindex="0"
                data-controls="health">Health
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="17"
                  viewBox="0 0 10 17"
                  fill="none">
                  <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                </svg>
              </li>
              <li
                class='control-list-item'
                tabindex="0"
                data-controls="safety">Safety
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="17"
                  viewBox="0 0 10 17"
                  fill="none">
                  <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                </svg>
              </li>
              <li
                class='control-list-item'
                tabindex="0"
                data-controls="mission">Mission effectiveness
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="17"
                  viewBox="0 0 10 17"
                  fill="none">
                  <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                </svg>
              </li>
              <li
                class='control-list-item'
                tabindex="0"
                data-controls="quality">Quality of life
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="17"
                  viewBox="0 0 10 17"
                  fill="none">
                  <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                </svg>
              </li>
              <li
                class='control-list-item'
                tabindex="0"
                data-controls="money">
                Money
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="10"
                  height="17"
                  viewBox="0 0 10 17"
                  fill="none">
                  <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                </svg>
              </li>
            </ul>
          </div>
          <div class="col-md-6 controlled-item" data-id="health">
            <h4 class="controlled-heading">Long-term health issues</h4>
            <p>"The Joint Helmet Mounted Cueing System (JHMCS) has done irreparable damage to nearly every F-16 pilot I have flown with in my career. The price of addressing it will quickly be offset by
              <b>preventing the loss of experienced pilots to neck issues</b>
              and having to pay years of disability."</p>
            <p class="quote-author">– F-16 Pilot</p>
          </div>
          <div class="col-md-3 controlled-item" data-id="health">
            <img src="{{ site.baseurl }}/img/projects/gearfit/health.png" alt="" />
          </div>

          <div class="col-md-6 controlled-item hidden" data-id="safety">
            <h4 class="controlled-heading">Safety risks</h4>
            <p>"Current Aircrew Eye and Respiratory Protection System (AERPS) gear poses a significant safety risk in the event of bailout and ejection via parachute. Even if the equipment is worn correctly, the straps can cover the parachute itself, preventing proper opening,
              <b>which will almost certainly lead to death.</b>"</p>
            <p class="quote-author">– AC-130 Aerial Gunner</p>
          </div>
          <div class="col-md-3 controlled-item" data-id="safety">
            <img src="{{ site.baseurl }}/img/projects/gearfit/safety.png" alt="" />
          </div>

          <div class="col-md-6 controlled-item hidden" data-id="mission">
            <h4 class="controlled-heading">Decreased mission effectiveness</h4>
            <p>"The standard ear-cups on my helmet are insufficient for me to accomplish my job effectively. They are uncomfortable, don't have a good enough seal on my ears so while performing duties on the tail of the aircraft,
              <b>I can't hear radio and communications transmissions.</b>"</p>
            <p class="quote-author">– CV-22 Special Mission Aviator</p>
          </div>
          <div class="col-md-3 controlled-item" data-id="mission">
            <img src="{{ site.baseurl }}/img/projects/gearfit/mission.png" alt="" />
          </div>

          <div class="col-md-6 controlled-item hidden" data-id="quality">
            <h4 class="controlled-heading">Lower quality of life</h4>
            <p>"The length and weight of the Eagle Combat Integrated Armor Carrier System (CIACS) vest is not conducive to my stature as a female in the pilot seat. The armor plate sits under my chin when I am seated due to my short torso, making mobility next to impossible.
              <b>Moving the flight controls or accessing any equipment is incredibly difficult and unsafe.</b>"</p>
            <p class="quote-author">– C-17 Pilot</p>
          </div>
          <div class="col-md-3 controlled-item" data-id="quality">
            <img src="{{ site.baseurl }}/img/projects/gearfit/quality.png" alt="" />
          </div>

          <div class="col-md-6 controlled-item hidden" data-id="money">
            <h4 class="controlled-heading">Budget waste</h4>
            <p>"The PACE ear protection system is very susceptible to damage.
              <b>In just three months, I broke four of these externally-configured adaptors.</b>
              I don't know one person who actively uses this product, which is not ideal because perception in the fighter cockpit is everything. The device must be reinforced or be capable of mounting in a different position to prevent such damage."</p>
            <p class="quote-author">– B-2 Pilot</p>
          </div>
          <div class="col-md-3 controlled-item" data-id="money">
            <img src="{{ site.baseurl }}/img/projects/gearfit/money.png" alt="" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <div class="grid-container prose">
      <div class="row">
        <div class="col-md-12 mt-4 mt-md-0">
          <h2>What GearFit offers your organization</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 order-2 order-md-1 mt-4 mt-md-0">
          <h3>Centralized feedback channel</h2>
          <p>
            Collect and keep track of feedback from the field, all in one tool. You can customize forms to collect the desired information — anonymously or not.
          </p>
        </div>
        <div class="col-md-6 order-1 order-md-2">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gearfit-woman-computer.png" alt="Woman on computer" />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 order-2 order-md-2 mt-4 mt-md-0">
          <h3>Data analytics and AI
            <span class='round-purple'>Coming soon!</span>
          </h3>
          <p>
            Surface priority gear problems, identify trends, and make data-driven decisions with analytics tools. Easily manage feedback at scale by leveraging conversational AI, large language models, and natural language processing.
          </p>
        </div>
        <div class="col-md-6 order-1 order-md-1">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gearfit-tablet.png" alt="tablet with charts" />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 order-1 order-md-1 mt-4 mt-md-0">
          <h3>Workflow management</h3>
          <p>
            Access flexible support for your organization’s process and privacy needs with role-based access controls and customizable workflows.
          </p>
        </div>
        <div class="col-md-6 order-2 order-md-2">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gearfit-woman-computer-2.png" alt="Woman on computer reading information" />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 order-2 order-md-2 mt-4 mt-md-0">
          <h3>Integrated resource and knowledge hub</h3>
          <p>
            Provide gear technicians and operators with access to an integrated content management system for gear information, resources, and training.
          </p>
        </div>
        <div class="col-md-6 order-1 order-md-1">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gearfit-tablet-2.png" alt="Tablet with information" />
        </div>
      </div>

      <div class="row mt-4">
        <div class="col-md-6 order-1 order-md-1 mt-4 mt-md-0">
          <h3>Flexible, secure platform</h3>
          <p>
            Leverage a modern architecture that enables flexible hosting, customization, and integration options to meet your organization's specific needs — such as Cloud One hosting for DoD customers.
          </p>
        </div>
        <div class="col-md-6 order-2 order-md-2">
          <img src="{{ site.baseurl }}/img/projects/gearfit/gearfit-placeholder.png" alt="placeholder" />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 bg-purple-lightest py-6">
    <div class="grid-container prose">
      <div class="row">
        <div class="col-md-12">
          <h2 id="customer_spotlight">Customer spotlight</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-9 order-2 order-md-1 mt-4 mt-md-0">
          <h3 id="human_systems_divisions">U.S. Air Force - Human Systems Division</h3>
          <p>
            Agile Combat Support (ACS) Directorate, Air Force Life Cycle Management Center (AFLCMC)
          </p>
          <p>
            The USAF Human Systems Division (HSD) mission is to acquire and support human systems to enhance warfighter performance, protection, and survivability. The GearFit program arose after a female fitment event in 2019, women expressed a desire to provide feedback about their gear.
          </p>
        </div>
        <div class="col-md-3 order-1 order-md-2">
          <img src="{{ site.baseurl }}/img/projects/gearfit/Air_Force_Life_Cycle_Management_Center_-_Transparent 1.png" alt="Air force life cycle management center seal" />
        </div>
      </div>
      <div class="row mt-4 mt-sm-5 text">
        <div class="callout callout--gear-fit">
          <h3>Challenges</h3>
          <ul>
            <li>
              <b>Limited support for female aviators.</b>
              Much of today's gear was designed using data from the 1960s, when only men were in aviator roles. As a result, female pilots have faced unique issues with their gear. For HSD, providing better fitting gear to women was a top priority that went all the way up to Congress.</li>
            <li>
              <b>Limited pathways for feedback.</b>
              Without a formal system for collecting and analyzing feedback from the field, feedback was disjointed and valuable insights were often missed. Also, the Air Force’s historical culture of “grin and bear it” suppressed the free flow of gear feedback.</li>
            <li>
              <b>Aviators are busy.</b>
              Aircrew are constantly moving and focused on the mission, leaving little time for computer work. Even in uncomfortable or imperfect gear, they find ways to carry on. This makes it difficult to recall feedback on the spot.</li>
          </ul>
        </div>
      </div>

      <div class="row mt-4 mt-sm-5 text">
        <div class="callout callout--gear-fit">
          <h3>Solutions</h3>
          <ul>
            <li>
              <b>Targeting female aircrew.</b>
              After initially launching to 100+ female fighter pilots, GearFit opened to 3,500+ aircrew across 10 MAJCOMs to address the limited gear support for female aviators. Many female GearFit users have expressed gratitude to the Air Force for listening to their concerns and providing an avenue to submit feedback.
            </li>
            <li>
              <b>New feedback pathways.</b>
              After gear data and feedback is collected, we built a subject matter expert (SME) feedback-response workflow with an anonymous mode for submissions. The GearFit team also produced 75 pages of content on common gear solutions and information in order to arm aircrew and gear technicians with comprehensive knowledge.
            </li>
            <li>
              <b>Clear and simple submit flow.</b>
              GearFit's design is simple, accessible, and straight to the point. When aircrew have feedback, they select the gear they use and describe the problem in just a few clicks. GearFit can sort and display gear based on the impact it has on aircrew, making it easy for leaders to understand at a glance which gear needs attention the most.
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-4 mt-sm-5 text">
        <div class="callout callout--gear-fit">
          <h3>GearFit's impact</h3>
          <p>
            After receiving
            <b>~1,000 feedback submissions</b>, GearFit helped identify
            <b>50+ gear improvement opportunities</b>
            — including procurement actions, gear requirement changes, safety updates, and technician training — and collected innovative suggestions for improving gear throughout the acquisition life cycle.
          </p>
          <div class="in-page-selection">
            <div class="row">
              <div class="col-md-3">
                <ul>
                  <li
                    class='control-list-item'
                    tabindex="0"
                    data-controls="health">Health
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="17"
                      viewBox="0 0 10 17"
                      fill="none">
                      <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                    </svg>
                  </li>
                  <li
                    class='control-list-item'
                    tabindex="0"
                    data-controls="safety">Safety
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="17"
                      viewBox="0 0 10 17"
                      fill="none">
                      <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                    </svg>
                  </li>
                  <li
                    class='control-list-item'
                    tabindex="0"
                    data-controls="mission">Mission effectiveness
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="17"
                      viewBox="0 0 10 17"
                      fill="none">
                      <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                    </svg>
                  </li>
                  <li
                    class='control-list-item'
                    tabindex="0"
                    data-controls="quality-of-life">Quality of life
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="17"
                      viewBox="0 0 10 17"
                      fill="none">
                      <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                    </svg>
                  </li>
                  <li
                    class='control-list-item'
                    tabindex="0"
                    data-controls="money">
                    Money
                    <svg
                      xmlns="http://www.w3.org/2000/svg"
                      width="10"
                      height="17"
                      viewBox="0 0 10 17"
                      fill="none">
                      <path d="M8.92105 9.03031L2.8478 15.1035C2.5549 15.3964 2.08002 15.3964 1.78715 15.1035L1.0788 14.3952C0.786397 14.1028 0.785835 13.6289 1.07755 13.3358L5.89071 8.49997L1.07755 3.66419C0.785835 3.37109 0.786397 2.89719 1.0788 2.60478L1.78715 1.89644C2.08005 1.60353 2.55493 1.60353 2.8478 1.89644L8.92102 7.96966C9.21393 8.26253 9.21393 8.73741 8.92105 9.03031Z" fill="#76767B" />
                    </svg>
                  </li>
                </ul>
              </div>
              <div class="col-md-9">
                <div class="controlled-item" data-id="health">
                  <h4 class="controlled-heading">Surfacing critical female fitment issues</h4>
                  <p>
                    A female pilot shared that she could not wear her parachute harness without significant pain and restriction of movement because the chest straps were cut too short by the manufacturer. A safe, short-term solution for a harness strap extender was crafted by MAJCOM gear reps while longer-term fixes are in progress.
                  </p>
                </div>
                <div class="controlled-item hidden" data-id="safety">
                  <h4 class="controlled-heading">Improving safety and mobility for smaller-stature pilots</h4>
                  <p>Many aircrew, especially those with small stature, have submitted feedback in GearFit that their survival vests restrict mobility when flying, introducing significant safety concerns. Innovative pilots have contributed ideas within GearFit to make survival vests lighter, smaller, and more agile for when they're needed most.</p>
                </div>
                <div class="controlled-item hidden" data-id="mission">
                  <h4 class="controlled-heading">Reducing bulk of life-preserver unit to increase mobility</h4>
                  <p>Aircrew were experiencing restricted motion wearing their life-preserver unit (LPU), which prevented them from “checking their six” (looking behind them) in a dogfight. A gear technician at another base found a solution in packing the LPU to a certain thickness around the neck, a modification that’s being added to the Technical Order (TO) to address the issue for other aircrew.</p>
                </div>
                <div class="controlled-item hidden" data-id="quality-of-life">
                  <h4 class="controlled-heading">Preventing bald spots for those with afro-textured hair</h4>
                  <p>Some aircrew shared experiences with helmets causing bald spots in their afro-textured hair due to a lack of flight-approved hair wraps. These submissions shed light on a problem previously unknown to AF gear officials, who shared that "this is exactly the type of feedback we need."</p>
                </div>
                <div class="controlled-item hidden" data-id="money">
                  <h4 class="controlled-heading">Ensuring proper ear protection installation</h4>
                  <p>New ear protection devices were breaking down, causing the local flight equipment shops to use their funds to frequently replace these devices. A GearFit submission highlighted the issue, and gear experts investigated and remedied a training gap for the shop.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% include hire_us_cta.html %}