---
layout: default
title: Our Services
---

<div class="our-services">

  <section class="page-hdr">
    <div class="page-hdr-title-wrapper">
      <div class="page-hdr-title">
        <h1> Our Services </h1>
      </div>
    </div>

    <div class="page-hdr-content-wrapper">
      <div class="page-hdr-content">
        <p> A lot goes into making you a digital-first agency. </p>
      </div>
    </div>
  </section>

  <div class="container-fluid">
    <div class="service-areas">

      {% for service_area in site.service_areas %}
        <div class="service-area">
          <a href="{{service_area.path}}">
            <div class="service-area-card">
              <img class="service-area-icon" src="{{service_area.icon_path}}" alt="{{service_area.icon_description}}">
              <div class="service-area-description">
                <h3>{{service_area.name}}</h3>
                <p>{{service_area.description}}</p>
              </div>
              <div class="service-area-directional-icon">
                <i class="fa fa-3x fa-arrow-circle-o-right" aria-hidden="true"></i>
              </div>
            </div>
          </a>
        </div>
      {% endfor %}

    </div>
  </div>

</div>

{% include hire_us_cta.html %}
