---
layout: default
title: Thanks for submitting!
permalink: /thankyou.html
skip_index: true
---

<div class="text">
  {% capture header_content %}
    <p>We received your submission, and will be in touch shortly.
    In the meantime, feel free to check out <a href="/thoughts/blog/">our blog</a>,
    or follow us on <a href="{{site.twitter_url}}">Twitter</a> or
    <a href="{{site.linkedin_url}}">LinkedIn</a>.</p>
  {% endcapture %}

  {% include page_header.html
    header_title = "Thank you!"
    header_content_class = "page-header-content-1"
    header_content = header_content
    header_img_src = "/img/message-received.svg"
    header_img_desc = "A hand holding a cell phone that receives an email"
  %}
</div>

{% include testimonial_cta.html %}
