---
layout: default
title: Public Health Data & Digital Services
permalink: /work/solutions/public-health/
excerpt: "Learn how Skylight can empower your agency with cutting-edge tools so you make the most of your data."
image_description: Banner of Skylight's GearFit.
class: public-health
preload: hero-public-health.svg
class_1_spots:
class_2_spots:
cta: /connect/contact/?page=public-health
pagination:
  enabled: true
  per_page: 10000
  collection: projects
  sort_field: "order"
  sort_reverse: false
---

{% include hero_banner.html
hero_content = "Learn how Skylight can empower your agency with cutting-edge tools so you make the most of your data."
link_content = "Contact us"
link_href = "#"
link_class = "btn btn-lg btn-10 usa-button usa-button--outline usa-button--inverse"
link_type = "button"
color = "blue-100"
image = "hero-public-health.svg"
additional_class = "hero-banner-btm" %}

<div class="services-content public-health-content left-justified-list">
  <div class="">
    <div class="grid-container prose">
      <div class="row pt-3">
        <div class="col-md-6 order-1 order-md-1 mt-4 mt-md-0">
          <h2 id='service-delivery'>Who is Skylight?</h2>
          <p>
            We're an interdisciplinary team of researchers, designers, engineers, and data scientists with deep
            experience in the
            public health data and digital services space.
          </p>
          <p>
            Our goal is to enable public health leaders with the tools and expertise they need to build flexible,
            modern, and
            performant data systems.
          </p>
        </div>
        <div class="col-md-6 order-2 order-md-2 image-div img-bottom">
          <img src="{{ site.baseurl }}/img/public-health/landing-page.svg" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 bg-blue-20 py-6">
    <div class="grid-container prose">
      <div class="row">
        <div class="col-md-12 order-2 order-md-1 mt-4 mt-md-0">
          <h2 id="procurement" class="mb-4">Our services</h2>
          <p>
            At Skylight, our public health technologists combine a human-centered, research-based approach with lean and
            agile
            principles and deep public health data expertise to deliver exceptional user experiences and enduring
            software
            solutions.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 order-2 order-md-1 mt-4 mt-md-0 white-callout-border">
          <h3 id="procurement" class="mb-4">We can help you:</h2>
            <p>
            <ul>
              <li>Build modern digital infrastructure usable for both daily and emergent public health action, across
                multiple disease
                areas and types of public health threats</li>
              <li>Strengthen data systems and processes to enable timely, complete data sharing for public health action
              </li>
              <li>Break down siloes and connect data across person, place, and time</li>
              <li>Grow your team's technical capacity through tailored workforce support and training</li>
            </ul>
            </p>
        </div>
      </div>

      <div class="row mt-6">
        <div class="col-md-12 order-2 order-md-1 mt-4 mt-md-0">
          <i>
            We want to understand your unique data needs and assess how we can support your data modernization efforts.
            Engaging
            with us includes elements of the following:
          </i>
        </div>
      </div>

      <div class="row pt-3 mt-6">
        <div class="col-md-6 order-1 order-md-1 mt-4 mt-md-0 pt-6 pxr-1">
          <h3>Needs assessment</h2>
            <p>
              We'll perform an analysis of your current data systems, from hosting to end-user experience. Through this
              analysis, you
              can learn how your users interact with every system and discover opportunities to accelerate the adoption
              of modern
              digital and data practices.
            </p>
        </div>
        <div class="col-md-6 order-2 order-md-2 image-div img-bottom pt-6 pxl-1">
          <img src="{{ site.baseurl }}/img/public-health/whiteboard-public-health.svg" alt="" class="img-95" />
        </div>
      </div>

      <div class="row pt-3 mt-6">
        <div class="col-md-6 order-1 order-md-1 image-div img-bottom pt-6 pxr-1">
          <img src="{{ site.baseurl }}/img/public-health/belt-public-health.svg" alt="" class="img-95" />
        </div>
        <div class="col-md-6 order-2 order-md-2 mt-4 mt-md-0 pt-6 pxl-1">
          <h3>Data modernization strategy</h2>
            <p>
              We'll design a strategy to meet your data modernization goals and maximize your dollars and time. You can
              use this
              strategy to find out how to improve your organization's systems, processes, and technical capabilities.
            </p>
        </div>
      </div>

      <div class="row pt-3 mt-6">
        <div class="col-md-6 order-1 order-md-1 mt-4 mt-md-0 pt-6 pxr-1">
          <h3>Implementation</h2>
            <p>
              We'll use an agile, user-centered product development approach to develop custom software solutions. Our
              flexible,
              sustainable software tools will help solve your jurisdiction's data challenges and modernize your data
              workflows.
            </p>
        </div>
        <div class="col-md-6 order-2 order-md-2 image-div img-bottom pt-6 pxl-1">
          <img src="{{ site.baseurl }}/img/public-health/agile-public-health.svg" alt="" class="img-95" />
        </div>
      </div>

      <div class="row pt-3 mt-6">
        <div class="col-md-6 order-1 order-md-1 image-div img-bottom pt-6 pxr-1">
          <img src="{{ site.baseurl }}/img/public-health/stairs-public-health.svg" alt="" class="img-95" />
        </div>
        <div class="col-md-6 order-2 order-md-2 mt-4 mt-md-0 pt-6 pxl-1">
          <h3>Workforce enablement</h2>
            <p>
              We'll partner directly with your team to build their technical capacity through pairing, shadowing, and
              regular product
              demonstrations. Through this tailored support and training, our experts can develop your team’s internal
              competencies.
            </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6">
    <div class="grid-container prose gearfit-offers">
      <div class="row">
        <div class="col-md-12 mt-4 mt-md-0 mb-4">
          <h2>Our track record</h2>
          <p>
            As a contractor to CDC and the Office of Public Health Data, Surveillance, and Technology (OPHDST), we're
            behind some
            high priority improvements and innovations that directly benefit public health authorities at all levels of
            government,
            including SimpleReport and Data Integration Building Blocks.
          </p>
          <p>
            We've helped multiple public health partners improve the way that they collect, process, and share data so
            they can
            more easily:
          </p>
          <p>
          <ul>
            <li>Identify diseases and conditions</li>
            <li>Detect emerging public health threats</li>
            <li>Conduct data analysis to derive insights</li>
            <li>Understand disease burden and severity across different populations</li>
            <li>Leverage data to take public health action</li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-6 bg-blue-20 py-6">
    <div class="grid-container prose">
      <div class="row">
        <div class="col-md-5 order-1 order-md-1">
          <div class="m0 p0"
            style="height: 100%; width: 100%; display: flex; align-items: center; justify-content: left;">
            <img class="mobile-width" src="{{ site.baseurl }}/img/public-health/people-high-fiving-1.svg" alt="" />
          </div>
        </div>
        <div class="col-md-7 order-2 order-md-2 mt-4 mt-md-0">
          <h2 id="customer_spotlight">How to engage with us</h2>
          <p>
          <ul>
            <li>State and local contracting vehicles</li>
            <li>Microconsulting packages</li>
            <li>GSA Multiple Award Schedule (MAS)</li>
            <li>
              Accessible to all federal, state, and local governments
              <ul>
                <li>
                  Partner with Skylight through Cooperative Purchasing Agreement or Disaster Relief Funding; Information
                  Technology - IT
                  Services SIN 54151S (<a
                    href="https://www.gsa.gov/resources/programs-for-state-and-local-governments">learn more</a>)
                </li>
                <li>
                  <a href="https://www.youtube.com/playlist?list=PLvdwyPgXnxxU3O3f6kFoSVaTJ-c_mdQxj">
                    GSA resources to onboard and use MAS
                  </a>
                </li>
              </ul>
            </li>
          </ul>
          </p>
        </div>
      </div>
    </div>
  </div>

  
  {% assign collection = include.collection %}
  {% assign prefix = 'project' %}
  {% assign cta_text = include.cta_text %}
  {% assign context = include.context %}
  {% assign limit = include.limit %}
  {% if limit %}
  {% assign collection_size = limit %}
  {% else %}
  {% assign collection_size = collection.size %}
  {% endif %}
  {% include hanging_column_size.html collection_size = collection_size col_size = 3 %}
  {% capture case_studies_content %}
    - Modernizing infectious disease testing and reporting in non-traditional and under-resourced healthcare settings
    - Building a response-ready public health data system
    - Advancing nationwide adoption of telehealth in response to COVID-19
    - Piloting a pipeline that improves public health data processing and analysis
    - Creating a knowledge platform for improving healthcare
    - Transforming how Medicaid and CHIP data are leveraged
  {% endcapture %}
  

  <div class="our-experience">
    <div class="projects grid-container">
      <h2>Case studies</h2>
      <div class="projects-row">
        {% for item in paginator.posts %}
        {% unless case_studies_content contains item.title %}
          {% continue %}
        {% endunless %}
        <article class="project-col" data-tags="{{item.tags | join: ', '}}" data-display="{{item.display}}">
          <div class="project-card card-link" data-href="{{item.permalink | prepend: site.baseurl }}" tabindex="-1">
            <div role="img" class="project-img" style="background-image: url({{item.image | prepend: site.baseurl}});"
              title="{{item.image_description}}"></div>
            <div class="project-block">
              {% if item.title_tag %}
              <p class="project-title-tag">{{item.title_tag}}</p>
              {% endif %}
              <h2 class="project-title {{context}}">{{item.title}}</h2>
              <div class="card-text project-text">{{item.excerpt | markdownify}}</div>
            </div>
            <div class="project-footer">
              <a href="{{item.permalink | prepend: site.baseurl }}" tabindex="0">
                <span>Read more</span><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </article>
        {% endfor %}
      </div>
      {% unless context == 'related' %}
    </div>
  {% endunless %}
</div>
</div>
{% include public_health_cta.html %}