---
layout: default
title: "Service design: Transforming user experiences"
permalink: /work/services/service-design/
excerpt: Learn what service design can do for you and how Skylight can help you use it to deliver greater public value.
image: /img/ditap/ditap-banner.png
image_description: People designing a complex service.
tags: [service design]
class: ditap page-service-design
preload: hero.svg
---

<div
  class="bg-primary hero-banner"
  style="
    background-image: url(/img/hero-service-design.svg);
    background-repeat: no-repeat;
    background-size: 1190px;
  "
>
  <div class="hero">
    <div class="hero-container grid-container">
      <div class="">
        <div class="text-center">
          <h1 class="text-white">
            Service design: <br class="linebreak">Transforming user experiences
          </h1>
          <p class="text-white font-lg mt-2 mb-0">
            Learn what service design can do for you and how Skylight <br class="linebreak">can help
            you use it to deliver greater public value.
          </p>
          <a
            class="text-white d-block mt-1"
            href="#why-service-design"
            role="button"
          >
            <i class="fas fa-chevron-circle-down"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-container">
  <div class="row">
    <div class="sidenav col-12 col-md-3 mt-5 d-none d-md-block">
      <div class="is-sticky">
        <nav class="subnav-col" id="sidenav">
          <ul role="presentation">
            <li>
              <a class="nav-link" href="#why-service-design"
                >Why service design?</a
              >
            </li>
            <li>
              <a class="nav-link" href="#how-we-work">How we work</a>
            </li>
            <li><a class="nav-link" href="#case-studies">Case studies</a></li>
            <li>
              <a class="nav-link" href="#how-to-engage-with-us"
                >How to engage with us</a
              >
            </li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="col-12 col-md-9 text">
      <div class="mt-5">
        <h2 class="margin-heading" id="why-service-design">
          Why service design?
        </h2>
        <p>
          Government services involve a complex mix of components, such as
          policies, operations, people, and technology. For people accessing
          government services, this complexity is often passed onto them. This
          results in disjointed and frustrating experiences, or worse — not
          getting the services they need. For example, how many times have you
          been transferred from one customer support agent to the next, only to
          have to repeat the same information over and over again? This type of
          inefficiency is due to a lack of service design.
        </p>
        <img
          class="img--frontstage-backstage img-fluid mb-3"
          src="/img/service_design/service-design-stages.svg"
          alt="Service design components broken down into frontstage and backstage."
        />
        <p>
          Through service design, government organizations can take a more
          holistic, human-centered approach to providing services, including
          both the “frontstage” (what the user sees) and the “backstage” (what
          happens behind the scenes). The result is optimized, end-to-end user
          experiences that deliver greater public value.
        </p>
        <p>
          According to the Design Management Institute,
          <a
            href="https://hbr.org/2014/04/design-can-drive-exceptional-returns-for-shareholders"
            >design-centric organizations consistently achieve high levels of
            performance</a
          >. Clear benefits and tangible results mean organizations across all
          industries, including government, are increasingly investing in
          service design.
        </p>
        {% include callout.html
          type = "pullquote"
          content = "Always design a thing by considering it in its larger context — a
                    chair in a room, a room in a house, a house in an environment, an
                    environment in a city plan."
          cite_name = "Eero Saarinen"
          cite_title = "Architect"
        %}
        <h2 class="margin-heading" id="how-we-work">How we work</h2>
        <p>
          Our goal is to help you embed service design ways of thinking and
          working throughout your entire organization. To accomplish that, our
          experts collaborate with you to identify your goals and needs, then
          pair with you to solve complex problems and build internal capacity
          using the Skylight Service Design Framework.
        </p>
        <p>
          Our framework draws on years of experience working on complex
          government projects. It leverages best practices for building services
          that work better for users and the government offices who administer
          them.
        </p>
        <img
          class="img-fluid"
          src="/img/service_design/skylight-service-design-framework-descriptions.svg"
          alt="The Skylight Service Design Framework."
        />
        <h2 class="margin-heading" id="case-studies">Case studies</h2>
        <div class="blog-posts-row mx-0">
          <article>
            <div
              class="blog-post-card card-link"
              data-href="/work/experience/usaf-gearfit/"
              tabindex="-1"
            >
              <div
                role="img"
                class="card-img blog-post-img col-md-4"
                style="
                  background-image: url(/img/projects/usaf_gearfit/gearfit.svg);
                "
                title=""
              ></div>
              <div class="blog-post-block">
                <p class="project-title-tag">U.S. Air Force</p>
                <h3 class="blog-post-title">
                  Modernizing the management of personal protective equipment
                </h3>
                <p class="blog-post-text">
                  Using service design to transform how the U.S. Air Force
                  provides better-fitting gear to aircrew personnel.
                </p>
                <div class="card-footer blog-post-footer">
                  <a href="/work/experience/usaf-gearfit/" tabindex="0">
                    <span>Read more</span
                    ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
          </article>
          <article class="mt-5">
            <div
              class="blog-post-card card-link"
              data-href="#0"
              tabindex="-1"
            >
              <div
                role="img"
                class="card-img blog-post-img col-md-4"
                style="
                  background-image: url(/img/talks/podcast-placeholder-02.svg);
                "
                title=""
              ></div>
              <div class="blog-post-block">
                <p class="project-title-tag">
                  Centers for Medicare & Medicaid Services
                </p>
                <h3 class="blog-post-title">
                  Transforming how Medicaid and CHIP data are delivered
                </h3>
                <p class="blog-post-text">
                  Identifying opportunity areas for process improvements within
                  the MACBIS (Medicaid and CHIP Business Information Solutions)
                  product ecosystem.
                </p>
                <div class="card-footer blog-post-footer">
                  <a href="/work/experience/usaf-gearfit/" tabindex="0">
                    <span>Read more</span
                    ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </article>
          <article class="mt-5">
            <div
              class="blog-post-card card-link"
              data-href="#0"
              tabindex="-1"
            >
              <div
                role="img"
                class="card-img blog-post-img col-md-4"
                style="
                  background-image: url(/img/talks/podcast-placeholder-02.svg);
                "
                title=""
              ></div>
              <div class="blog-post-block">
                <p class="project-title-tag">U.S. Air Force</p>
                <h3 class="blog-post-title">
                  Building service design capacity
                </h3>
                <p class="blog-post-text">
                  Jumpstarting the U.S. Weather Systems Program Office’s journey
                  toward mastering service design while improving their
                  customers’ cloud migration experience.
                </p>
                <div class="card-footer blog-post-footer">
                  <a href="/work/experience/usaf-gearfit/" tabindex="0">
                    <span>Read more</span
                    ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </div>
          </article>
        </div>
        <h2 class="margin-heading" id="how-to-engage-with-us">
          How to engage with us
        </h2>
        <div class="row">
          <div class="col-sm-4 col-md-4">
            <img
              class="img-fluid mt-sm-2 mb-3"
              src="/img/service_design/people-high-fiving.svg"
              alt="Two people effortlessly high-fiving."
            />
          </div>
          <div class="col-sm-6 col-md-8">
            <p>
              The best way to contract with Skylight is through the federal
              government’s Small Business Innovation Research (SBIR) / Small
              Business Technology Transfer (STTR) program.
            </p>
            <p>
              Through this program, the U.S. Air Force awarded Skylight a series of
              STTR contracts related to service design. Any government agency can
              leverage these contracts to issue direct (or non-competitive) awards —
              without dollar, time, or size standard restrictions.
            </p>
          </div>
        </div>
        <p>
          For more information on how to work with Skylight through the
          SBIR/STTR program,
          <a href="/assets/Skylight-SBIR-STTR-Procurement-Guide.pdf"
            >check out our guide</a
          >.
        </p>
      </div>
    </div>
  </div>
</div>

{% include service_design_cta.html %}
