---
layout: default
title: Skylight Career Pathways
description: text
permalink: /careers/career-pathways/
hero_content: Roles at Skylight and the skills needed to do them.
preload: hero-join-us.svg
---

{% include hero_banner.html
  hero_content = "Roles at Skylight and the skills needed to do them."
  color = "green"
  image = "hero-join-us.svg"
%}

<div class="maxw-prose grid-container text page--join__text">
  <div class="text" id="">
    <h2 class="mt-0" id="">Title</h2>
    <p>
      Lorem ipsum.
    </p>
    <p>
      <a href="/careers/career-pathways/user-researcher/">User Researcher</a>
    </p>
    <p>
      <a href="/careers/career-pathways/product-manager/">Product Manager</a>
    </p>
  </div>
</div>

{% include pcf_cta.html %}
