---
layout: default
title: Product manager
description: text
permalink: /careers/career-pathways/product-manager/
hero_content: Find out what a product manager does and the skills you need to do the job.
preload: hero-join-us.svg
---

{% include hero_banner.html
  hero_content = 'Find out what a product manager does and the skills <br class="linebreak">you need to do the job.'
  color = "green"
  image = "hero-join-us.svg"
%}

<div class="grid-container">
  <div class="row">
    <div class="sidenav col-12 col-md-3 d-none d-md-block">
      <div class="is-sticky">
        <nav class="subnav-col px-0" id="sidenav">
          <ul>
            <li class="current">
              <a class="nav-link" href="#" aria-current="location">Introduction</a>
            </li>
            <li><a class="nav-link" href="#">Associate Product Manager</a></li>
            <li><a class="nav-link" href="#">Junior Product Manager</a></li>
            <li><a class="nav-link" href="#">Product Manager</a></li>
            <li><a class="nav-link" href="#">Senior Product Manager</a></li>
            <li><a class="nav-link" href="#">Staff Product Manager</a></li>
            <li><a class="nav-link" href="#">Principal Product Manager</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <section class="col-12 col-md-9 page--join__text">
      <div class="text" id="join">
        <h2 class="mt-0" id="why-skylight">Title</h2>
        <p>
          Lorem ipsum.
        </p>
      </div>
    </section>
  </div>
</div>

{% include pcf_cta.html %}
