---
layout: default
title: Agile Micro-sprints at the SSA
subtitle: Advancing the turnaround of a troubled program in 3 days.
permalink: /work/ssa-agile-microsprints/
image: /img/projects/ssa_agile_microsprints/people-brainstorming-stickies.jpg
image_description: Picture of people brainstorming with stickies on a whiteboard.
feature_image: true
order: 1100
tags: [digital services delivery, microconsulting, robert read, chris cairns]
excerpt: Contributing to the turnaround of a troubled system modernization program at the Social Security Administration through agile micro-sprints.
project_members:
  - robert-read
  - chris-cairns
technologies:
  - Existing technology stack
practices:
  - Agile workshop facilitation
  - User-centered design
  - Scrum framework
  - Team building
  - Training and coaching
screenshots:
news_posts:
  - title: A story of an agile workshop
    url: https://18f.gsa.gov/2015/02/11/a-story-of-an-agile-workshop/
project_url:
source_code_url:
---

{% capture header_title %} Agile Micro-sprints <br> at the SSA {% endcapture %}

{% include page_header.html
  header_title = header_title
  header_content_class = 'page-header-content-1'
%}

{% capture summary %}
  <p>
    The Social Security Administration (SSA) needed help turning around
    a failing case management system modernization program, which included
    a staff of over 200 government and contractor personnel. We were brought
    in to provide advice on transitioning their software delivery practices
    from waterfall to agile, contributing to the start of a successful turnaround.
  </p>
{% endcapture %}

{% capture challenge %}
  <p>
    The SSA's case management system modernization program was
    suffering from the ill-effects of a waterfall-based software
    development approach, including the dysfunctional separation of
    users from the development team.
  </p>

  <p>
    With oversight bodies coming down more and more heavily on the program,
    the SSA needed to make immediate course corrections. Leadership decided
    to explore the idea of phasing in the adoption of agile, but the program
    team had no prior experience with this new and more effective way of delivering
    software.
  </p>
{% endcapture %}

{% capture solution %}
  <p>
    To demonstrate the power of agile and how it could be applied within the
    context of the SSA's troubled program, we designed and facilitated an
    extensive, hands-on workshop using formal agile practices based on the
    Scrum framework.
  </p>

  <p>
    Over the course of 6 formal sprints packed into 3 days, we guided a small
    subset of the SSA program team through a collaborative process of writing
    user stories, prioritizing and grooming a product backlog, implementing the
    prioritized user stories in the system's development environment, and
    experiencing other standard Scrum ceremonies such as sprint reviews and
    retrospectives.
  </p>
{% endcapture %}

{% capture results %}
  <p>Notable results include:</p>

  <ul>
    <li>
      Brought together users and developers into the room for the first time
    </li>

    <li>
      Within just 3 days of work, produced an astounding improvement to the
      usability of the system, as expressed by representative users
    </li>

    <li>
      Gave leadership practical insight into the transformative nature of
      agile, inspiring a decision to accelerate its adoption that's led to
      a promising turnaround
    </li>
  </ul>
{% endcapture %}

{% include project.html
  summary = summary
  challenge = challenge
  solution = solution
  results = results
%}
