---
layout: default
title: "Digital IT Acquisition Professional (DITAP) Training &mdash; Executive Edition"
permalink: /work/services/training/ditap-executive/
excerpt: Learn how to transform the way your agency procures modern technology products and services through a condensed, 1-day version of our 6-month DITAP training program.
tags: [digital acquisition training, agile acquisition training]
class: ditap
preload: hero-training-single.svg
class_1_spots:
class_2_spots:
---

<div class="bg-blue hero-banner"
  style="
    background-image: url(/img/hero-training-single.svg);
    background-repeat: no-repeat;
    background-size: cover;">
  <div class="hero">
    <div class="container hero-container container-fluid">
      <div class="row">
        <div class="col-12 col-lg-7 mx-auto">
          <h1 class="hero-heading text-shadow">{{ page.title }}</h1>
          <p class="hero-content text-shadow">{{ page.excerpt }}</p>
          <div class="hero-btn-group mt-2">
            <div class="hero-btn-wrapper pr-1">
              <a class="btn btn-warning text-dark mr-2 mt-sm-3" href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-executive-edition-tickets-105264284308">Register now <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container page-ditap-content">
  <div class="row">
    <div class="sidenav col-12 col-md-3 mt-5 d-none d-md-block">
      <div class="is-sticky">
        <nav class="subnav-col" id="sidenav">
          <ul role="presentation">
            <li><a class="nav-link" href="#overview">Overview</a></li>
            <li><a class="nav-link" href="#learning-experience">Learning experience</a></li>
            <li><a class="nav-link" href="#curriculum">Curriculum</a></li>
            <li><a class="nav-link" href="#instructors">Instructors</a></li>
            <li><a class="nav-link" href="#tuition-and-dates">Dates and cost</a></li>
            <li><a class="nav-link" href="#faqs">FAQs</a></li>
          </ul>
        </nav>
        <a class="btn btn-primary-dark font-weight-bold mt-2" href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-executive-edition-tickets-105264284308">Register now <i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
      </div>
    </div>

    <div class="col-12 col-md-9 text">
      <div class="mt-5">
        <h2 class="" id="overview">Become a digital acquisition leader</h2>
        <p class="text-intro">Learn what it takes to transform how your agency procures in today's digital world.</p>

        <div class="text-grid row">
          <div class="col-12 col-lg-4">
            <h3>Learn the essentials</h3>
            <p>Understand the fundamental concepts, tools, and techniques that your organization needs to master in order to excel at digital acquisition.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Learn to lead</h3>
            <p>Understand how modern approaches to delivering technology, such as agile, have changed the way your agency needs to buy. Learn how to lead your agency through the process of adopting modern procurement methods successfully.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Reinvent procurement</h3>
            <p>Fundamentally change the way you and your agency procures products and services from industry. Experience greater collaboration with vendors, more breakthrough innovations, faster delivery of value, higher quality results, and lower costs.</p>
          </div>
        </div>

        <h2 id="learning-experience">Engage in a tailor-made learning experience</h2>
        <p class="text-intro">Led by our team of master coaches and educators, our online learning environment is designed to immerse you in the core fundamentals of digital acquisition and how to use this knowledge to lead your agency.</p>

        <div class="image-list row mt-4">
          <div class="image-list-img col-12 col-lg-3">
            <img src="/img/ditap_executive/expert-instructors.svg" alt="A teacher instructing in front of a white board">
          </div>
          <div class="col-12 col-lg-9">
            <h3>Expert instructors</h3>
            <p>Our instructors are recognized experts in the field of digital acquisition, and are eager to share their past and current experiences with you. Through our course, you'll have the chance to engage with the pioneers of modern procurement techniques.</p>
          </div>
          <div class="image-list-img col-12 col-lg-3">
            <img src="/img/ditap_executive/distilled-content.svg" alt="A man pouring the contents of the course into a funnel.">
          </div>
          <div class="col-12 col-lg-9">
            <h3>Distilled content</h3>
            <p>We know how valuable your time is, and as a busy executive, you need a learning experience that gets right to the point. Our course is a 1-day distillation of the core elements of our longer, 6-month, custom-made DITAP program.</p>
          </div>
          <div class="image-list-img col-12 col-lg-3">
            <img src="/img/ditap_executive/focused-learning.svg" alt="A woman studying.">
          </div>
          <div class="col-12 col-lg-9">
            <h3>Focused learning</h3>
            <p>Through a suite of presentation material, case studies, focused discussions, and our team's expertise, you'll learn the essentials of digital acquisition and how to transform the way your agency procures.</p>
          </div>
        </div>

        <h2 id="curriculum">What you'll learn</h2>
        <p class="text-intro">In this course, you'll learn how to translate critical concepts and resources in the field of digital acquisition into effective, real-world practice at your agency.</p>

        <div class="text-grid row">
          <div class="col-12 col-lg-4">
            <h3>Digital Services in the 21st Century Government</h3>
            <p>Learn the fundamentals of digital services, including agile software delivery, human-centered design, cloud computing, and X-as-a-service.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Understanding What You're Buying</h3>
            <p>Learn how to determine customer needs, how to assess which digital service solutions are most likely to succeed given your agency's current level of maturity, and how to conduct market research.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>How to buy</h3>
            <p>Understand how to develop an acquisition strategy that effectively factors in customer needs, digital service maturity, market research findings, and digital acquisition best practices.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Awarding and Administering Digital Service Contracts</h3>
            <p>Learn proven tools and techniques for awarding and administering digital service contracts that actually deliver results.</p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Leading change as a digital acquisition professional</h3>
            <p>Master the leadership and communication skills you need to win stakeholder buy-in for digital acquisition.</p>
          </div>
          <div class="col-12 col-lg-4 d-none d-md-block">
            <div class="course-cta card border p-4">
              <p>Ready to get started?</p>
              <p class="mt-3">
                <a href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-executive-edition-tickets-105264284308">Register now<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></a>
              </p>
            </div>
          </div>
      </div>

      <div class="quote-container bg-warning py-5 mt-6">
        <div class="container">
          <p class="quote-text font-size-large">"As one of the first students to complete the DITAP program in 2016, I walked away with the critical know-how necessary to help change the way my agency acquires technology services. Because of what I learned, the contracting results that I experienced supporting some of the government's most critical programs were the reasons why I became an acquisition professional in the first place."</p>
          <p class="text-intro"><i><strong>Dan Levenson,</strong> Former Centers for Medicare & Medicaid Services Digital Service Contracting Advisor and Lead Contracting Officer for the Quality Payment Program</i></p>
        </div>
      </div>

      <h2 id="instructors">Meet your instructors</h2>
      <p class="text-intro">Learn from skilled instructors with unparalleled experience in the field.</p>

      <div class="image-list row">
        <div class="col-12 col-lg-4">
          <div class="employee-gradient employee-gradient__img">
            <div role="img" class="employee-img" style="background-image: url(/img/people/chris-cairns.jpg);" title="Chris Cairns"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h3>Chris Cairns</h3>
          <p>Chris served as a White House Presidential Innovation Fellow, and co-founded 18F. He started and built 18F's influential acquisition group, which specializes in digital acquisition methods. Chris is known for pioneering 18F's <a href="/work/experience/agile-acquisition-framework/">agile acquisition framework</a>, and for architecting the government's first-ever <a href="/work/experience/agile-delivery-services-marketplace/">agile vendor contract vehicle</a> using a tech challenge.</p>
        </div>
        <div class="col-12 col-lg-4">
          <div class="employee-gradient employee-gradient__img">
            <div role="img" class="employee-img" style="background-image: url(/img/people/dan-levenson.jpg);" title="Dan Levenson"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h3>Dan Levenson</h3>
          <p>Dan is a senior executive with <a href="https://agile6.com/">Agile Six</a>. He previously served as a certified digital acquisition expert and contracting officer for the Centers for Medicare & Medicaid Services (CMS). At CMS, Dan architected and managed a highly successful agile vendor contract vehicle, which supports programs such as the Quality Payment Program.</p>
        </div>
        <div class="col-12 col-lg-4">
          <div class="employee-gradient employee-gradient__img">
            <div role="img" class="employee-img" style="background-image: url(/img/people/robert-read.jpg);" title="Robert Read, PhD"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h3>Robert Read, PhD</h3>
          <p>Robert served as a White House Presidential Innovation Fellow, and co-founded 18F. Originally trained by agile pioneer Kent Beck, Robert has over 15 years experience as an agile practitioner and coach. He holds a PhD in computer science, and is best known for writing a popular, multilingual guide on <a href="https://github.com/braydie/HowToBeAProgrammer">how to be a programmer</a>.</p>
        </div>
        <div class="col-12 col-lg-4">
          <div class="employee-gradient employee-gradient__img">
            <div role="img" class="employee-img" style="background-image: url(/img/people/lara-kohl.jpg);" title="Lara Kohl"></div>
          </div>
        </div>
        <div class="col-12 col-lg-8">
          <h3>Lara Kohl</h3>
          <p>Lara is a former member of the U.S. Digital Service, where she served as the UX lead over the Veteran Appeals Modernization initiative. She's also a former professor at NYU, SUNY, and Pratt Institute. Lara specializes in design leadership, design research, service design, and user experience design.</p>
        </div>
      </div>

      <h2 id="tuition-and-dates">Dates and cost</h2>
      <a href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-executive-edition-tickets-105264284308" class="row tuition-card no-gutters mt-4">
        <div class="col-12">
          <h3 class="class-heading">Thu, July 23, 9:00 AM &ndash; 5:00 PM ET</h3>
          {% if page.class_1_spots %}
            <div class="class-spots">
              <span>{{ page.class_1_spots }} spots left</span>
            </div>
          {% endif %}
          <div class="tuition-card-meta mt-3">
            <p><strong>Location:</strong> Online</p>
            <p><strong>Instructors:</strong> Chris Cairns, Dan Levenson, Robert Read, and Lara Kohl</p>
            <p><strong>Cost:</strong> $750 USD</p>
          </div>
          <p class="mt-2">
            <strong class="tuition-card-link">Register now<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></strong>
          </p>
        </div>
      </a>
      <a href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-executive-edition-tickets-105264284308" class="row tuition-card no-gutters mt-4">
        <div class="col-12">
          <h3 class="class-heading">Thu, August 27, 9:00 AM &ndash; 5:00 PM ET</h3>
          {% if page.class_2_spots %}
            <div class="class-spots">
              <span>{{ page.class_2_spots }} spots left</span>
            </div>
          {% endif %}
          <div class="tuition-card-meta mt-3">
            <p><strong>Location:</strong> Online</p>
            <p><strong>Instructors:</strong> Chris Cairns, Dan Levenson, Robert Read, and Lara Kohl</p>
            <p><strong>Cost:</strong> $750 USD</p>
          </div>
          <p class="mt-2">
            <strong class="tuition-card-link">Register now<i class="fa fa-chevron-right ml-2" aria-hidden="true"></i></strong>
          </p>
        </div>
      </a>
      <h2 id="faqs">Get answers</h2>
      <p class="text-intro mb-4">Here are some questions that we're typically asked, along with our responses:</p>

      {% capture accordion_body %}
      <p>The U.S. Digital Service and the Office of Federal Procurement Policy launched the DITAP program in order to increase the development of digital acquisition experts across government. By 2022, all federal acquisition professionals managing contracts of $7M or more will require <a href="https://www.fai.gov/announcements/new-fac-specialization-focuses-digital-services">FAC-C-DS certification</a>. This certification can be obtained by completing our <a href="/work/services/training/ditap/">accredited DITAP training course</a>, led by experts who pioneered the field as former members of 18F and the U.S. Digital Service.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'Where did DITAP come from?' accordion_body = accordion_body accordion_index = '1' %}

      {% capture accordion_body %}
      <p>To achieve mission success in today's digital world, agencies must master the art of digital acquisition. Leaders arguably play the most important role in making this transition happen, but need to manage their time carefully. We've taken the core elements from our longer, 6-month DITAP course and distilled it into an executive-level, crash-course summary &mdash; perfect for those who need a learning experience that gets right to the point.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'Why make a condensed DITAP course for executives?' accordion_body = accordion_body accordion_index = '2' %}

      {% capture accordion_body %}
      <p>This course is designed primarily for agency leaders and executives who need a "Cliff Notes" version of our longer, more in-depth DITAP course. But that's not to say this course is only for executives. Anyone plays a role in the lifecycle of an acquisition (for example, finance officer, legal counsellor, procurement officer, program manager, or technical manager) and needs a crash-course tour of modern digital acquisition will benefit greatly from this training.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'Is this course for someone like me?' accordion_body = accordion_body accordion_index = '3' %}

      {% capture accordion_body %}
      <p>None! Any amount of familiarity with modern practices and technologies will be helpful, but this course is designed to give you an introduction to the fundamentals of modern digital acquisition. As such, we don't assume you come in with any more knowledge than maybe hearing the word "agile" a couple times.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'What are the prerequisites for taking this course?' accordion_body = accordion_body accordion_index = '4' %}

      {% capture accordion_body %}
      <p>Our default method of administering this course is remote. After you register, you'll be given a Zoom weblink to join the meeting. We recommend that you download the Zoom web-based application prior to joining class.</p>
      <p>Remove course delivery isn't the only option, however. While we've designed the course to be virtual so that anyone, anywhere can sign up to learn about digital acquisition, we love to administer in-person training, too. If you'd like to schedule an in-person training for your organization, please <a href="mailto:training@skylight.digital">reach out to us</a>.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'How is this course delivered?' accordion_body = accordion_body accordion_index = '5' %}

      {% capture accordion_body %}
      <ul>
        <li>Access to all course materials.</li>
        <li>Course certificate of completion.</li>
      </ul>
      {% endcapture %}

      {% include accordion.html accordion_header = 'What does the cost of registration include?' accordion_body = accordion_body accordion_index = '6' %}

      {% capture accordion_body %}
      <p>No.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'Will I receive continuing education units?' accordion_body = accordion_body accordion_index = '7' %}

      {% capture accordion_body %}
      <ul>
        <li>Other agency leaders, like you, who want a fast, concise delivery of the core elements of modern digital acquisition.</li>
        <li>Fellow acquisition professionals who are as passionate about changing procurement outcomes as you are.</li>
        <li>Future collaborators and friends.</li>
      </ul>

      {% endcapture %}
      {% include accordion.html accordion_header = 'Who else will be attending this course with me?' accordion_body = accordion_body accordion_index = '8' %}

      {% capture accordion_body %}
      <p>Each course requires a minimum of 15 participants. The run dates are contingent upon meeting this minimum. You'll be refunded 100% of the registration cost in the event that we cancel the course.</p>
      {% endcapture %}

      {% include accordion.html accordion_header = 'Is the course guaranteed to run if I sign-up?' accordion_body = accordion_body accordion_index = '9' %}

      {% capture accordion_body %}
      <ul>
        <li>You can submit a cancellation request 10 business days or more prior to the start of the course and receive a full refund.</li>
        <li>If you submit a cancellation request fewer than 10 business days prior to the start of the course, you'll be issued a credit toward a future Skylight training course. The credit will be equal to the amount paid for the initial course less any applicable fees.</li>
        <li>Should Skylight cancel the course for any reason, you'll be refunded 100% of the registration cost.</li>
      </ul>
      {% endcapture %}

      {% include accordion.html accordion_header = "What's the cancellation policy?" accordion_body = accordion_body accordion_index = '10' %}

    </div>
  </div>
</div>
</div>

{% include cta.html
  header = "Still have more questions?"
  text = "Please don't hesitate to ask."
  text_css_class = "page-subfooter-text-col"
  cta_path = "mailto:training@skylight.digital"
  cta = "Email Us"
  icon_css_class = "fa fa-at"
%}
