---
layout: default
title: Digital IT Acquisition Professional (DITAP) Training
permalink: /work/services/training/ditap/
redirect_from:
  - /services/ditap/
  - /services/ditap/apply/
  - /work/services/training/ditap/apply/
excerpt: Learn the skills required to master the art of digital acquisition through our expert-led, 6-month, part-time course.
image: /img/ditap/ditap-social.png
image_description: Banner of Skylight’s Digital IT Acquisition Professional Training course.
class: ditap page-offering
preload: hero-ditap.svg
class_1_spots: 13
class_2_spots:
---

<div
  class="bg-blue hero-banner"
  style="
    background-image: url(/img/hero-ditap.svg);
    background-repeat: no-repeat;
  "
>
  <div class="hero">
    <div class="container-lg hero-container container-fluid">
      <div class="row">
        <div class="col-12 col-sm-10 col-md-9 col-lg-7 mx-auto">
          <h1 class="hero-heading">
            Digital IT Acquisition Professional (DITAP) Training
          </h1>
          <p class="hero-content text-shadow">
            Learn the skills required to master the art of digital acquisition
            through our expert-led, 6-month, part-time course. Upon completion,
            you’ll earn the Federal Acquisition Certification in Contracting
            Core-Plus Specialization in Digital Services (FAC-C-DS) and up to 80
            Continuous Learning Points.
          </p>
          <div class="hero-btn-group mt-2">
            <div class="hero-btn-wrapper pr-1">
              <a
                class="btn btn-warning text-dark mr-2 mt-sm-3"
                href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-tickets-148264871221"
                >Register now
              </a>
            </div>
            <div class="hero-btn-wrapper pl-1">
              <a
                class="btn btn-outline-light mt-sm-3"
                href="/assets/Skylight-DITAP-Syllabus.pdf"
                >Read syllabus</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="grid-container page-ditap-content">
  <div class="row">
    <div class="sidenav col-12 col-md-3 mt-6 d-none d-md-block">
      <div class="is-sticky">
        <nav class="subnav-col" id="sidenav">
          <ul role="presentation">
            <li><a class="nav-link" href="#overview">Overview</a></li>
            <li>
              <a class="nav-link" href="#learning-experience"
                >Learning experience</a
              >
            </li>
            <li><a class="nav-link" href="#curriculum">Curriculum</a></li>
            <li><a class="nav-link" href="#instructors">Instructors</a></li>
            <li>
              <a class="nav-link" href="#dates-and-cost"
                >Dates and cost</a
              >
            </li>
            <li><a class="nav-link" href="#faqs">FAQs</a></li>
          </ul>
        </nav>
        <a
          class="btn btn-primary font-weight-bold mt-2"
          href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-tickets-148264871221"
          >Register now
        </a>
      </div>
    </div>

    <div class="col-12 col-md-9 text">
      <div class="mt-5">
        <h2 class="" id="overview">
          Become a digital acquisition professional
        </h2>
        <p class="text-intro">
          Acquire the skills you need to make procurement work for government in
          today’s digital world.
        </p>

        <div class="text-grid row">
          <div class="col-12 col-lg-4">
            <h3>Learn to lead</h3>
            <p>
              Understand how modern approaches to delivering technology, such as
              agile, have changed the way your agency needs to buy. Learn how to
              lead your agency through the process of adopting modern
              procurement methods successfully.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Achieve Mastery</h3>
            <p>
              Master the concepts, tools, and techniques you need to excel at
              digital acquisition through our expert-led, dynamic learning
              environment. Earn the Federal Acquisition Certification in
              Contracting Core-Plus Specialization in Digital Services (<a
                href="https://www.fai.gov/announcements/new-fac-specialization-focuses-digital-services"
                >FAC-C-DS</a
              >).
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Reinvent Procurement</h3>
            <p>
              Fundamentally change the way you and your agency procures products
              and services from industry. Experience greater collaboration with
              vendors, more breakthrough innovations, faster delivery of value,
              higher quality results, and lower costs.
            </p>
          </div>
        </div>

        <h2 id="learning-experience">Engage in a unique learning experience</h2>
        <p class="text-intro">
          Led by our team of master coaches and educators, our learning
          environment is designed to immerse you in both the theory and applied
          practice of digital acquisition.
        </p>

        <div class="image-list row mt-4">
          <div class="image-list-img col-12 col-lg-3">
            <img
              src="/img/ditap/expert-instructor.svg"
              alt="Woman teaching in front of a whiteboard."
            />
          </div>
          <div class="col-12 col-lg-9">
            <h3>Expert instructors</h3>
            <p>
              Our instructors are recognized experts in the field of digital
              acquisition, and are eager to share their past and current
              experiences with you. Through our blend of remote and onsite
              learning, you’ll have the chance to engage with the pioneers of
              modern procurement techniques.
            </p>
          </div>
          <div class="image-list-img col-12 col-lg-3">
            <img
              src="/img/ditap/dynamic-learning.svg"
              alt="Man walking up an incline holding a laptop."
            />
          </div>
          <div class="col-12 col-lg-9">
            <h3>Dynamic learning opportunities</h3>
            <p>
              Our balanced, holistic approach to teaching will give you the
              tools you need to master the course material — whatever your
              learning style. We blend traditional in-person classroom learning
              (such as seminars, panels, and guest speakers) with flexible,
              asynchronous online learning content (such as readings, team
              projects, and interactive discussions).
            </p>
          </div>
          <div class="image-list-img col-12 col-lg-3">
            <img
              src="/img/ditap/personalized-guidance.svg"
              alt="Woman walking with a book in front of a map pin."
            />
          </div>
          <div class="col-12 col-lg-9">
            <h3>Personalized guidance</h3>
            <p>
              When you train with Skylight, you can always rely on us to provide
              the support you need. Through office hours and other channels, our
              skilled facilitators are here to provide you with answers, tips,
              and more to help maximize your learning opportunities.
            </p>
          </div>
        </div>

        <h2 id="curriculum">What you’ll learn</h2>
        <p class="text-intro">
          In this program, you’ll learn how to translate critical concepts and
          resources in the field of digital acquisition into effective,
          real-world practice.
        </p>

        <div class="text-grid row">
          <div class="col-12 col-lg-4">
            <h3>Digital Services in the 21st Century Government</h3>
            <p>
              Learn the fundamentals of digital services, including agile
              software delivery, human-centered design, cloud computing, and X
              as a Service.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Understanding What You’re Buying</h3>
            <p>
              Learn how to determine what your customer’s needs are, how to
              assess which digital services solutions are most likely to succeed
              given your agency’s current level of maturity, and how to conduct
              market research.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>How to buy</h3>
            <p>
              Understand how to develop an acquisition strategy that effectively
              factors in the needs of your customer, your agency’s digital
              service maturity, your market research findings, and digital
              acquisition best practices.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Awarding and Administering Digital Services Contracts</h3>
            <p>
              Learn proven tools and techniques for awarding and administering
              digital services contracts that actually deliver results.
            </p>
          </div>
          <div class="col-12 col-lg-4">
            <h3>Leading change as a digital acquisition professional</h3>
            <p>
              Master the leadership and communication skills you need to win
              stakeholder buy-in for digital acquisition.
            </p>
          </div>
          <div class="col-12 col-lg-4 d-none d-md-block">
            <div class="course-cta card border p-4">
              <p>Want to know more about our course?</p>
              <p class="mt-3">
                <a class="link--cta" href="/assets/Skylight-DITAP-Syllabus.pdf">
                  <span class="link__text--cta">Read syllabus</span>
                  <i class="fal fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </p>
            </div>
          </div>
        </div>

        {% include callout.html
          type = "pullquote"
          content = "As one of the first students to complete the DITAP program in 2016,
                    I walked away with the critical know-how necessary to help change
                    the way my agency acquires technology services. Because of what I
                    learned, the contracting results that I experienced supporting some
                    of the government’s most critical programs were the reasons why I
                    became an acquisition professional in the first place."
          cite_name = "Dan Levenson"
          cite_title = "Former Centers for Medicare &
                    Medicaid Services Digital Service Contracting Advisor and Lead
                    Contracting Officer for the Quality Payment Program"
          class = "pullquote--alt mt-6"
        %}

        <h2 id="instructors">Meet your instructors</h2>
        <p class="text-intro">
          Learn from skilled instructors with unparalleled experience in the
          field.
        </p>

        {% include ditap_instructors.html %}

        <h2 id="dates-and-cost">Dates and cost</h2>
        <a
          href="https://www.eventbrite.com/e/digital-it-acquisition-professional-ditap-training-tickets-148264871221"
          class="row tuition-card no-gutters mt-4"
        >
          <div class="col-12">
            <div class="class-header">
              <h3 class="class-heading">Nov 8, 2021 to Apr 25, 2022</h3>
              {% if page.class_1_spots %}
              <div class="class-spots">
                <span>{{ page.class_1_spots }} spots left</span>
              </div>
              {% endif %}
            </div>
            <p class="tuition-card-note">
              In-person classroom sessions will be held on Nov 8–10, Jan
              18–20, Mar 7–9, and Apr 25–27. If COVID-19
              continues to present public-health risks, however, these sessions
              will be conducted virtually.
            </p>
            <div class="tuition-card-meta mt-3">
              <div class="tuition-card-meta-info">
                <h4>Location:</h4>
                <p>Online + Washington DC</p>
              </div>
              <div class="tuition-card-meta-info">
                <h4>Instructors:</h4>
                <p>
                  Chris Cairns, Dan Levenson, Robert Read, and Leslie Garner
                  Franklin
                </p>
              </div>
              <div class="tuition-card-meta-info">
                <h4>Cost:</h4>
                <p>$6,500 USD</p>
              </div>
            </div>
            <p class="mt-3">
              <strong class="tuition-card-link"
                >Register now<i
                  class="fal fa-long-arrow-right ml-3 font-lg"
                  aria-hidden="true"
                ></i
              ></strong>
            </p>
          </div>
        </a>
        <h2 id="faqs">Get answers</h2>
        <p class="text-intro mb-4">
          Here are some questions that we’re typically asked, along with our
          responses:
        </p>

        <section>
          {% capture accordion_body %}
          <p>
            All in-person classroom sessions will be held virtually if COVID-19
            continues to present any public-health risks.
          </p>
          {% endcapture %} {% include accordion.html accordion_header = 'How will
          in-person classroom training be handled during COVID-19?' accordion_body
          = accordion_body accordion_index = '0' %} {% capture accordion_body %}
          <p>
            The U.S. Digital Service and the Office of Federal Procurement Policy
            launched the DITAP program in order to increase the development of
            digital acquisition experts across government. By 2022, all federal
            acquisition professionals managing contracts of $7M or more will
            require
            <a
              href="https://www.fai.gov/announcements/new-fac-specialization-focuses-digital-services"
              >FAC-C-DS certification</a
            >. This certification can be obtained by completing our accredited
            DITAP training course, led by experts who pioneered the field as
            former members of 18F and the U.S. Digital Service.
          </p>
          {% endcapture %} {% include accordion.html accordion_header = 'Where did
          DITAP come from?' accordion_body = accordion_body accordion_index = '1'
          %} {% capture accordion_body %}
          <p>
            DITAP training isn’t just for contracting professionals seeking
            certification. Our training is for anyone who plays a role in the
            lifecycle of an acquisition, and wants to learn how to transform
            acquisition outcomes through digital acquisition methods. So whether
            you’re a finance officer, legal counsellor, procurement officer,
            program manager, or technical manager, you’ll benefit greatly from
            this training.
          </p>
          {% endcapture %} {% include accordion.html accordion_header = 'Is this
          course for someone like me?' accordion_body = accordion_body
          accordion_index = '2' %} {% capture accordion_body %}
          <ul>
            <li>
              12 full days of mandatory classroom instruction consisting of three
              separate, three-day in-person sessions.
            </li>
            <li>15 hours of virtual, instructor-led training.</li>
            <li>
              12 hours per week of asynchronous, self-paced learning (e.g.,
              reading articles, participating in online discussions, contributing
              to work activities, and working on assignments).
            </li>
          </ul>
          {% endcapture %} {% include accordion.html accordion_header = 'What’s
          the expected workload?' accordion_body = accordion_body accordion_index
          = '3' %} {% capture accordion_body %}
          <ul>
            <li>6 months of digital acquisition training.</li>
            <li>
              Access to all course materials and our online learning platform.
            </li>
            <li>
              Access to our training team, who will be available for 1-on-1
              sessions during non-classroom hours.
            </li>
            <li>Collaboration and networking opportunities.</li>
            <li>
              While most of the program can be completed remotely, travel for the
              in-person classroom session isn’t included.
            </li>
          </ul>
          {% endcapture %} {% include accordion.html accordion_header = 'What does
          my tuition cover?' accordion_body = accordion_body accordion_index = '4'
          %} {% capture accordion_body %}
          <ul>
            <li>
              Federal Acquisition Certification in Contracting Core-Plus
              Specialization in Digital Services (<a
                href="https://www.fai.gov/announcements/new-fac-specialization-focuses-digital-services"
                >FAC-C-DS</a
              >).
            </li>
            <li>
              Up to 80 Continuous Learning Points, or CLPs, based on your level of
              achievement in the program.
            </li>
          </ul>
          {% endcapture %} {% include accordion.html accordion_header = 'What do I
          earn for successfully completing the course?' accordion_body =
          accordion_body accordion_index = '5' %} {% capture accordion_body %}
          <p>
            Level II or Level III FAC-C certification is preferred, but not
            required as long as you have the requisite acquisition skills and
            knowledge to complete the program.
          </p>
          {% endcapture %} {% include accordion.html accordion_header = 'What are
          the prerequisites for taking this course?' accordion_body =
          accordion_body accordion_index = '6' %} {% capture accordion_body %}
          <ul>
            <li>
              Fellow acquisition professionals who are as passionate about
              changing procurement outcomes as you are.
            </li>
            <li>Future collaborators and friends.</li>
          </ul>

          {% endcapture %} {% include accordion.html accordion_header = 'Who else
          will be attending this course with me?' accordion_body = accordion_body
          accordion_index = '7' %} {% capture accordion_body %}
          <p>
            Each course requires a minimum of 15 participants. The run dates are
            contingent upon meeting this minimum.
          </p>
          {% endcapture %} {% include accordion.html accordion_header = 'Is the
          course guaranteed to run if I sign up?' accordion_body = accordion_body
          accordion_index = '8' %} {% capture accordion_body %}
          <ul>
            <li>
              You can submit a cancellation request 30 business days or more prior
              to the start of the course and receive a full refund, minus the
              Eventbrite processing fee, if applicable.
            </li>
            <li>
              If you submit a cancellation request fewer than 10 business days
              prior to the start of the course, you’ll be issued a credit toward a
              future Skylight training course. The credit will be equal to the
              amount paid for the initial course less any applicable fees.
            </li>
            <li>
              Should Skylight cancel the course for any reason, you’ll be refunded
              100% of the registration cost.
            </li>
          </ul>
          {% endcapture %} {% include accordion.html accordion_header = "What’s
          the cancellation policy?" accordion_body = accordion_body
          accordion_index = '9' %}
        </section>
      </div>
      <a class="post-footer__see-all border-0" href="/work/services/training/">
        <i class="fal fa-long-arrow-left mr-2" aria-hidden="true"></i>See all training courses
      </a>
    </div>
  </div>
</div>

{% include ditap_cta.html %}
