
  <!-- Accordion card -->
  <div class="card accordion-card">

    <!-- Card header -->
    <div class="accordion-header" role="tab" id="accordionHeading-{{include.accordion_index}}">
      <a data-toggle="collapse" href="#accordionCollapse-{{include.accordion_index}}" aria-expanded="false" aria-controls="accordionCollapse-{{include.accordion_index}}" class='collapsed'>
        <div>
          <h3 class="mb-0">
            <div>
              {{ include.accordion_header }}
            </div>
            <div class="plus-minus-toggle"></div>
          </h3>
        </div>
      </a>
    </div>

    <!-- Card body -->
    <div id="accordionCollapse-{{include.accordion_index}}" class="collapse" role="tabpanel" aria-labelledby="accordionHeading-{{include.accordion_index}}">
      <div class="card-body accordion-card-body">
        {{ include.accordion_body }}
      </div>
    </div>

  </div>
  <!-- Accordion card -->
