<form accept-charset="UTF-8" action="https://formkeep.com/f/24550e06a886" method="POST">
  <input type="hidden" name="utf8" value="✓">

  <fieldset class="form-group">
    <legend>Contact information</legend>

    <div class="form-group">
      <label class="required" for="name-input">Name</label>
      <input id="name-input" class="form-control" type="text" placeholder="Olivia Jones" name="name" autocomplete="name" required>
    </div>

    <div class="form-group">
      <label class="required" for="email-input">Email</label>
      <input id="email-input" class="form-control" type="email" placeholder="olivia@jones.com" name="email" autocomplete="email" required>
    </div>

    <div class="form-group">
      <label class="required" for="zip-input">Zip code</label>
      <input id="zip-input" class="form-control" type="text" pattern="[0-9]{5}" title="Five-digit zip code" placeholder="55555" name="zip" autocomplete="postal-code" aria-describedby="zip-help" required>
      <small id="zip-help" class="form-text text-muted">
        This helps us identify if you live in a <a href="/join/#who-where" target="_blank">HUBZone</a>.
      </small>
    </div>
  </fieldset>

  <fieldset class="form-group">
    <legend>Experience</legend>

    <div class="form-group">
      <label class="required" for="expertise-select">What is your primary field of expertise?</label>
      <select id="expertise-select" class="form-control" name="expertise" required>
        <option disabled selected>-select-</option>
        <option>Software engineering</option>
        <option>Frontend web development</option>
        <option>Legacy software reengineering</option>
        <option>DevOps and site reliability engineering</option>
        <option>Security engineering</option>
        <option>Engineering management</option>
        <option>Data engineering</option>
        <option>Data science</option>
        <option>Data analytics</option>
        <option>Internet of things</option>
        <option>Product management</option>
        <option>Product design</option>
        <option>Service design</option>
        <option>User experience design</option>
        <option>Visual design</option>
        <option>Content design</option>
        <option>Technology procurement</option>
        <option>Technical recruiting and talent operations</option>
        <option>Enterprise agile transformation</option>
        <option>Client engagement management</option>
        <option>Other</option>
      </select>
    </div>

    <div class="form-group">
      <label class="required" for="about-input">Tell us about yourself...</label>
      <textarea id="about-input" class="form-control" rows="3" placeholder="I have 3 years of software engineering experience..." name="about" required></textarea>
    </div>

    <div class="form-check">
      <label class="form-check-label">
        <input type="checkbox" class="form-check-input" name="internship">
        Are you interested in an internship?
      </label>
    </div>

    <fieldset class="fieldset-nested">
      <legend>
        Where can we find you online?
        <small>(select those that apply)</small>
      </legend>

      <div class="form-social-btn-icons">
        <button class="collapsed" type="button" role="button" data-target="#github-toggle" data-toggle="collapse" aria-controls="github-toggle" aria-expanded="false" tabindex="0">
          <span class="sr-only">Toggle GitHub Form Input Field</span>
          <i class="fa fa-github fa-2x" title="GitHub" aria-hidden="true"></i>
        </button>

        <button class="collapsed" type="button" role="button" data-target="#linkedin-toggle" data-toggle="collapse" aria-controls="linkedin-toggle" aria-expanded="false" tabindex="0">
          <span class="sr-only">Toggle LinkedIn Form Input Field</span>
          <i class="fa fa-linkedin fa-2x" title="LinkedIn" aria-hidden="true"></i>
        </button>

        <button class="collapsed" type="button" role="button" data-target="#medium-toggle" data-toggle="collapse" aria-controls="medium-toggle" aria-expanded="false" tabindex="0">
          <span class="sr-only">Toggle Medium Form Input Field</span>
          <i class="fa fa-medium fa-2x" title="Medium" aria-hidden="true"></i>
        </button>

        <button class="collapsed" type="button" role="button" data-target="#dribbble-toggle" data-toggle="collapse" aria-controls="dribbble-toggle" aria-expanded="false" tabindex="0">
          <span class="sr-only">Toggle Dribbble Form Input Field</span>
          <i class="fa fa-dribbble fa-2x" title="Dribbble" aria-hidden="true"></i>
        </button>

        <button class="collapsed" type="button" role="button" data-target="#website-toggle" data-toggle="collapse" aria-controls="website-toggle" aria-expanded="false" tabindex="0">
          <span class="sr-only">Toggle Personal Website Form Input Field</span>
          <i class="fa fa-home fa-2x" title="Personal Website" aria-hidden="true"></i>
        </button>
      </div>

      <div id="github-toggle" class="form-group collapse">
        <label for="github-input">GitHub</label>
        <input id="github-input" class="form-control" type="text" placeholder="https://github.com/oliviajones" name="github">
      </div>

      <div id="linkedin-toggle" class="form-group collapse">
        <label for="linkedin-input">LinkedIn</label>
        <input id="linkedin-input" class="form-control" type="text" placeholder="https://linkedin.com/in/oliviajones" name="linkedin">
      </div>

      <div id="medium-toggle" class="form-group collapse">
        <label for="medium-input">Medium</label>
        <input id="medium-input" class="form-control" type="text" placeholder="https://medium.com/@oliviajones" name="medium">
      </div>

      <div id="dribbble-toggle" class="form-group collapse">
        <label for="dribbble-input">Dribbble</label>
        <input id="dribbble-input" class="form-control" type="text" placeholder="https://dribbble.com/oliviajones" name="dribble">
      </div>

      <div id="website-toggle" class="form-group collapse">
        <label for="website-input">Personal website</label>
        <input id="website-input" class="form-control" type="text" placeholder="https://oliviajones.me/" name="website">
      </div>
    </fieldset>
  </fieldset>

  <fieldset class="form-group">
    <legend>Other information</legend>

    <div class="form-group">
      <label for="authorization-select" aria-describedby="authorization-help">Are you authorized to work in the U.S.?</label>
      <select id="authorization-select" class="form-control" name="authorization">
        <option disabled selected>-select-</option>
        <option>Yes, I'm a U.S. citizen.</option>
        <option>Yes, I'm authorized to work in the U.S., though I'm not a citizen.</option>
        <option>No.</option>
        <option>I don't know.</option>
      </select>
      <small id="authorization-help" class="form-text text-muted">
        All positions require work authorization.
      </small>
    </div>

    <div class="form-group">
      <label for="hear-select">How did you hear about Skylight?</label>
      <select id="hear-select" class="form-control" name="hear">
        <option disabled selected>-select-</option>
        <option>A current/former Skylight team member</option>
        <option>An article, video, or blog post</option>
        <option>Twitter</option>
        <option>A friend or colleague</option>
        <option>An event</option>
        <option>Other</option>
      </select>
    </div>
  </fieldset>

  <div class="form-group">
    <button type="submit">Submit</button>
  </div>
</form>
