<div class="page-cta">

  <div class="container">

    <div class="page-cta-hdr-wrapper ">
      <div class="page-cta-hdr">
        <h3>Become a culture carrier.</h3>
      </div>
    </div>

    <div class="page-cta-content-wrapper">
      <div class="page-cta-content">
        <p>
          Join our team of talented technologists working
          together to cultivate an incredible culture.
        </p>
      </div>
    </div>

    <div class="page-cta-btn-wrapper">
      <div class="page-cta-btn">
        <a href="/join/" role="button">
          <span>Join Skylight</span>
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

</div>
