<div class="page-subfooter">
  <div class="page-subfooter-content">
    <div class="page-subfooter-header-row">
      <div class="page-subfooter-header-col">
        <h2 class="page-subfooter-heading">{{include.header}}</h2>
      </div>
    </div>

    <div class="page-subfooter-text-row">
      <div class="{{include.text_css_class}}">
        {{include.text | markdownify }}
      </div>
    </div>

    {% assign ctaurl = include.cta_path %}
    {% if ctaurl contains '://' %}

    {% else %}
      {% assign ctaurl = include.cta_path | prepend: site.baseurl %}
    {% endif %}

    <div class="page-subfooter-cta-row">
      <div class="page-subfooter-cta-col">
        <a href="{{ctaurl}}" role="button">
          <span>{{include.cta}}</span>
        </a>
      </div>
    </div>
  </div>
</div>
