<footer class="page-cta">

  <div class="container">

    <div class="page-cta-hdr-wrapper ">
      <div class="page-cta-hdr">
        <h3 class="header-display-3">{{include.header}}</h3>
      </div>
    </div>

    <div class="page-cta-content-wrapper">
      <div class="{{include.content_css_class}}">
        <p>{{include.content}}</p>
      </div>
    </div>

    <div class="page-cta-btn-wrapper">
      <div class="page-cta-btn">
        <a href="{{include.cta_path}}" role="button">
          <span>{{include.cta}}</span>
          <i class="{{include.icon_css_class}}" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

</footer>
