{% capture accordion_body %}
<div class="">
  <div class="row">
    {% assign filter = site.data.filters %}
    <div class="col-sm">
      <h3 class="filter__heading margin-heading mt-0">Type of service</h3>
      <ul class="mb-0 list-unstyled">
        {% for item in filter.type_of_service %}
        <li>
          <a class="exp-filter-item" href="#" onclick="return false;"
            >{{ item }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm">
      <h3 class="filter__heading margin-heading mt-sm-0">Capabilities</h3>
      <ul class="mb-0 list-unstyled">
        {% for item in filter.capabilities %}
        <li>
          <a class="exp-filter-item" href="#" onclick="return false;"
            >{{ item }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>

    <div class="col-sm">
      <h3 class="filter__heading margin-heading mt-sm-0">Mission areas</h3>
      <ul class="mb-0 list-unstyled">
        {% for item in filter.mission_areas %}
        <li>
          <a class="exp-filter-item" href="#" onclick="return false;"
            >{{ item }}</a
          >
        </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endcapture %}

<div class="grid-container maxw-2xl mb-5">
  <div class="post-tags filter-post-tags"></div>

  <!-- Accordion card -->
  <div class="card accordion-card accordion-filter" role="tablist">
    <!-- Card header -->
    <div
      class="accordion-header"
      role="tab"
      id="accordionHeading-{{include.accordion_index}}"
    >
      <a
        class="collapsed"
        data-toggle="collapse"
        href="#accordionCollapse-{{include.accordion_index}}"
        aria-expanded="false"
        aria-controls="accordionCollapse-{{include.accordion_index}}"
        class="collapsed"
      >
        <div>
          <h2 class="mb-0 header-display-4">
            <div class="text-ink">
              Filters
            </div>
          </h2>
        </div>
      </a>
    </div>

    <!-- Card body -->
    <div
      id="accordionCollapse-{{include.accordion_index}}"
      class="collapse"
      role="tabpanel"
      aria-labelledby="accordionHeading-{{include.accordion_index}}"
    >
      <div class="card-body accordion-card-body">
        {{ accordion_body }}
      </div>
    </div>
  </div>
  <!-- Accordion card -->
</div>
