<footer class="page-footer">

  <div class="footer-content">
    <div class="footer-brand-outer-wrapper">
      <div class="footer-brand-inner-wrapper">
        <a href="/"></a>
      </div>

      <nav class="footer-nav">
        <ul>
          <li><a href="/guilds/">Guilds</a></li>
          <li><a href="/guides/">Guides</a></li>
          <li><a href="/alliances/">Alliances</a></li>
          <li><a href="/press/">Press</a></li>
          <li><a href="/policies/">Policies</a></li>
        </ul>
      </nav>
    </div>

    <div class="footer-contribute-cta-wrapper">
      <div class="footer-contribute-cta">
        <a href="{{site.github_issues_url}}" role="button" target="_blank">
          Contribute to this site
        </a>
      </div>

      <div class="footer-socials">
        <a href="{{site.twitter_url}}" target="_blank">
          <i class="fa fa-2x fa-twitter" aria-hidden="true" title="Twitter"></i>
          <span>Twitter</span>
        </a>

        <a href="{{site.linkedin_url}}" target="_blank">
          <i class="fa fa-2x fa-linkedin" aria-hidden="true" title="LinkedIn"></i>
          <span>LinkedIn</span>
        </a>

        <a href="{{site.github_repo_url}}" target="_blank">
          <i class="fa fa-2x fa-github" aria-hidden="true" title="GitHub"></i>
          <span>GitHub</span>
        </a>
      </div>
    </div>
  </div>

</footer>
