<footer class="footer">

  <div class="footer-content">
    <div class="footer-brand">
      <a class="footer-brandmark" href="/about/#hubzone">
        HUBZone Certified
      </a>
    </div>

    <nav class="footer-nav">
      <div class="footer-link-groups">
        <div class="footer-link-group">
          <div class="footer-links">
            <h4>Services</h4>

            <ul>
              <li><a href="/services/digital-services-delivery/">Digital Services Delivery</a></li>
              <li><a href="/services/digital-procurement/">Digital Procurement</a></li>
              <li><a href="/services/digital-transformation/">Digital Transformation</a></li>
              <li><a href="/services/microconsulting/">Microconsulting</a></li>
              <li><a href="/services/ditap/">DITAP Training</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-link-group">
          <div class="footer-links">
            <h4>Company</h4>

            <ul>
              <li><a href="/about/">About</a></li>
              <li><a href="/culture/">Culture</a></li>
              <li><a href="/join/">Careers</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-link-group">
          <div class="footer-links">
            <h4>Resources</h4>

            <ul>
              <li><a href="/blog/">Blog</a></li>
              <li><a href="/work/">Case Studies</a></li>
              <li><a href="/policies/">Policies</a></li>
            </ul>
          </div>
        </div>

        <div class="footer-link-group">
          <div class="footer-links">
            <h4>Connect</h4>

            <ul>
              <li><a href="{{site.github_repo_url}}">GitHub</a></li>
              <li><a href="{{site.twitter_url}}">Twitter</a></li>
              <li><a href="{{site.linkedin_url}}">LinkedIn</a></li>
              <li><a href="/hire-us/">Hire Us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
  </div>

</footer>
