<li class="nav-item">
  <a class="nav-link
    {% if page.url contains "brand/identity" %}
      nav-link--current
    {% endif %}"
    href="/brand/identity/logos/"
    {% if page.url contains "brand/identity" %}
      aria-current="page"
    {% endif %}
  >
    <span>Identity</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link
    {% if page.url contains "brand/writing" %}
      nav-link--current
    {% endif %}"
    href="/brand/writing/brand-narrative/"
    {% if page.url contains "brand/writing" %}
      aria-current="page"
    {% endif %}
  >
    <span>Writing</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link
    {% if page.url contains "brand/illustration" %}
      nav-link--current
    {% endif %}"
    href="/brand/illustration/principles/"
    {% if page.url contains "brand/illustration" %}
      aria-current="page"
    {% endif %}
  >
    <span>Illustration</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link
    {% if page.url contains "brand/outreach" %}
      nav-link--current
    {% endif %}"
    href="/brand/outreach/general-guidance/"
    {% if page.url contains "brand/outreach" %}
      aria-current="page"
    {% endif %}
  >
    <span>Outreach</span>
  </a>
</li>
<li class="nav-item">
  <a class="nav-link
    {% if page.url contains "brand/resources" %}
      nav-link--current
    {% endif %}"
    href="/brand/resources/emoji/"
    {% if page.url contains "brand/resources" %}
      aria-current="page"
    {% endif %}
  >
    <span>Resources</span>
  </a>
</li>
<li class="nav-item nav-item__divider" aria-hidden="true">
  <span class="nav-item">|</span>
</li>
<li class="nav-item">
  <a
    class="nav-link"
    href="/"
  >
    <span>skylight.digital</span>
  </a>
</li>
