<header class="navbar navbar-toggleable-sm">

  <nav class="nav-wrapper">

    <div class="d-flex justify-content-between">
      <a class="navbar-brand" href="/">Skylight</a>

      <div id="navbar-toggler-change" class="navbar-toggler" role="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false">
        <span class="sr-only">Toggle Navigation</span>
        <i class="fa fa-bars fa-lg" aria-hidden="true"></i>
      </div>
    </div>

    <div id="main-nav" class="collapse navbar-collapse justify-content-end">
      <div class="navbar-nav">
        <a class="nav-item nav-link" href="/about">About</a>
        <a class="nav-item nav-link" href="/services">Services</a>
        <a class="nav-item nav-link" href="/work">Work</a>
        <a class="nav-item nav-link" href="/culture">Culture</a>
        <a class="nav-item nav-link" href="/join">Join Us</a>
        <a class="nav-item nav-link" href="/blog">Blog</a>
        <a class="nav-item nav-link pr-0" href="/hire-us">Hire Us</a>
      </div>
    </div>

  </nav>

</header>
