<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=Edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">

  {% assign site_url = site.url %}
  {% assign site_name = 'Skylight' %}
  {% assign site_title = site.title | xml_escape %}
  {% assign site_description = site.description | xml_escape %}
  {% assign site_image = site_url | append: '/img/twitter-card.png' %}
  {% assign site_image_description = 'Skylight Avatar' %}
  {% assign site_keywords = site.keywords %}
  {% assign site_published = site.published %}
  {% assign site_modified = site.modified %}
  {% assign site_logo = site_url | append: '/img/logo.png' %}
  {% assign site_logo_height = '200' %}
  {% assign site_logo_width = '50' %}

  {% assign twitter_username = site.twitter.username %}
  {% assign twitter_url = site.twitter_url %}
  {% assign github_url = site.github_repo_url %}
  {% assign linkedin_url = site.linkedin_url %}

  {% assign page_url = page.url %}

  {% if page.title %}
    {% assign title = site_title | append: ' | ' | append: (page.title | xml_escape) %}
  {% else %}
    {% assign title = site_title %}
  {% endif %}

  {% if page.excerpt %}
    {% assign description = page.excerpt | xml_escape %}
  {% else %}
    {% assign description = site_description %}
  {% endif %}

  {% if page.image and page.image_description %}
    {% assign image = site_url | append: page.image %}
    {% assign image_description = page.image_description %}
  {% else %}
    {% assign image = site_image %}
    {% assign image_description = site_image_description %}
  {% endif %}

  {% if page.tags.size > 0 %}
    {% assign keywords = page.tags | array_to_sentence_string %}
  {% else %}
    {% assign keywords = site_keywords %}
  {% endif %}

  {% if page.authors.size > 0 %}
    {% assign authors = page.authors %}
  {% else %}
    {% assign authors = site_name %}
  {% endif %}

  {% if page.date_published and page.date %}
    {% assign date_published = page.date_published %}
    {% assign date_modified = page.date | date: '%Y-%m-%d' %}
  {% else %}
    {% assign date_published = site_published %}
    {% assign date_modified = site_modified %}
  {% endif %}

  {% assign content_type = page.content_type %}
  {% assign canonical_url = site_url | append: page_url %}

  <title>{{title}}</title>
  <meta name="description" content="{{description}}">
  <meta name="keywords" content="{{keywords}}">
  <meta name="image" content="{{image}}">

  {% if authors.first %}
    <meta name="author" content="{{authors | array_to_sentence_string}}">
  {% else %}
    <meta name="author" content="{{authors}}">
  {% endif %}

  <meta name="date" content="{{date_published}}">
  <link rel="image_src" href="{{image}}">
  <link rel="canonical" href="{{canonical_url}}">

  <meta property="og:site_name" content="{{site_name}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website">
  <meta property="og:url" content="{{site_url}}">
  <meta property="og:image" content="{{image}}">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{twitter_username}}">
  <meta name="twitter:site" content="@{{twitter_username}}">
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:image" content="{{image}}">
  <meta name="twitter:image:alt" content="{{image_description}}">

  <script type="application/ld+json">
    { "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{site_url}}",
      "name": "{{site_title}}",
      "description": "{{site_description}}",
      "keywords": "{{site_keywords}}",
      "datePublished": "{{site_published}}",
      "dateModified": "{{site_modified}}"
    }
  </script>

  <script type="application/ld+json">
    { "@context": "http://schema.org",
     "@type": "Organization",
     "name": "{{site_name}}",
     "legalName": "Skylight Digital LLC",
     "url": "{{site_url}}",
     "logo": {
       "@type": "ImageObject",
       "url": "{{site_logo}}",
       "height": "{{site_logo_height}}",
       "width": "{{site_logo_width}}"
     },
     "foundingDate": "2016",
     "founders": [
        { "@type": "Person", "name": "Sean Johnson" },
        { "@type": "Person", "name": "" },
        { "@type": "Person", "name": "" },
        { "@type": "Person", "name": "" }
      ],
     "address": {
       "@type": "PostalAddress",
       "addressLocality": "Chapel Hill",
       "addressRegion": "NC",
       "postalCode": "27516",
       "addressCountry": "USA"
     },
     "contactPoint": {
       "@type": "ContactPoint",
       "contactType": "sales",
       "telephone": "",
       "email": "hello@skylight.digital"
     },
     "sameAs": [
       "{{twitter_url}}",
       "{{github_url}}",
       "{{linkedin_url}}"
     ]
    }
  </script>

  {% if content_type == 'Article' or content_type == 'BlogPosting' %}
    {% assign wordcount = page.content | number_of_words %}
    {% assign body = page.content | xml_escape | strip_newlines %}
    {% assign contributors = page.contributors %}

    <script type="application/ld+json">
      { "@context": "http://schema.org",
        "@type": "{{content_type}}",
        "mainEntityOfPage": {
          "@type": "WebPage",
          "@id": "{{canonical_url}}"
        },
        "headline": "{{title}}",
        "image": {
          "@type": "ImageObject",
          "url": "{{image}}",
          "height": "400",
          "width": "400"
        },
        "author": [
          {% for author in authors %}
            { "@type": "Person", "name": "{{author}}" }{% unless forloop.last %},{% endunless %}
          {% endfor %}
        ],
        {% if contributors %}
          "contributor": [
            {% for contributor in contributors %}
              { "@type": "Person", "name": "{{contributor}}" }{% unless forloop.last %},{% endunless %}
            {% endfor %}
          ],
        {% endif %}
        "keywords": "{{keywords}}",
        "wordcount": "{{wordcount}}",
        "publisher": {
          "@type": "Organization",
          "name": "{{site_name}}",
          "logo": {
            "@type": "ImageObject",
            "url": "{{site_logo}}",
            "height": "{{site_logo_height}}",
            "width": "{{site_logo_width}}"
          }
        },
        "datePublished": "{{date_published}}",
        "dateModified": "{{date_modified}}",
        "description": "{{description}}",
        "articleBody": "{{body}}"
      }
    </script>
  {% else %}
    <script type="application/ld+json">
      {
        "@context": "http://schema.org",
        "@type": "WebPage",
        "url": "{{canonical_url}}",
        "name": "{{title}}",
        "description": "{{description}}",
        "keywords": "{{keywords}}"
      }
    </script>
  {% endif %}

  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
  <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0076a8">
  <meta name="theme-color" content="#ffffff">

  <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
  <link rel="stylesheet" href="/css/main.css?v=3" type="text/css">
  <script src="/js/jquery.slim.min.js"></script>
  <script src="/js/tether.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.scrolldepth.min.js"></script>
  <script src="/js/script.js"></script>

  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
  <![endif]-->
</head>
