<div class="
  {% if include.color %}
    bg-{{ include.color }}
  {% endif %} hero-banner"
  {% if include.image %}
    style="
      background-image: url(/img/{{ include.image }});
      background-repeat: no-repeat;
      background-size: cover;"
  {% endif %}
>
<header class="hero hero-banner mb-5">
  <div class="hero-container container-fluid text-center page--join__text">
    <{% if page.layout == "toolkit" %}p{% else %}h1{% endif %} class="hero-heading {% if include.text == 'dark' %}text-ink{% endif %}">
      {% if include.hero_title %}
        {{ include.hero_title }}
      {% elsif page.layout == "toolkit" %}
        {{ site.data.toolkits[page.sidenav].title }}
      {% else %}
        {{ page.title }}
      {% endif %}
    </{% if page.layout == "toolkit" %}p{% else %}h1{% endif %}>
    <p class="hero-content {% if include.text == 'dark' %}text-body{% endif %}">
      {% if page.layout == "toolkit" %}
        {{ site.data.toolkits[page.sidenav].description }}
      {% else %}
        {{ include.hero_content }}
      {% endif %}
    </p>
  </div>
</header>
</div>