<div class="
  {% if include.color %}
    bg-{{ include.color }}
  {% endif %} hero-banner {{include.additional_class}}" {% if include.image %} style="
      background-image: url(/img/{{ include.image }}); background-size: 100% 100%" {% endif %}>
  <header class="hero hero-banner mb-5 {% if include.class %}{{ include.class }}{% endif %}">
    <div class="hero-container container-fluid text-center">
      <{% if page.layout=="toolkit" %}p{% else %}h1{% endif %}
        class="hero-heading {% if include.text == 'dark' %}text-ink{% endif %}">
        {% if include.hero_title %}
        {{ include.hero_title }}
        {% elsif page.layout == "toolkit" %}
        {{ site.data.toolkits[page.sidenav].title }}
        {% else %}
        {{ page.title }}
        {% endif %}
      </{% if page.layout=="toolkit" %}p{% else %}h1{% endif %}>
      <div class="hero-content {% if include.text == 'dark' %}text-ink{% endif %}">
        {% if page.layout == "toolkit" %}
        {{ site.data.toolkits[page.sidenav].description }}
        {% else %}
        {{ include.hero_content | markdownify }}
        {% endif %}
      </div>
      {% if include.link_content %}
      <div class="hero-content">
        <a href="{{include.link_href}}" class="{{include.link_class}}" {% if include.link_type
          %}type="{{include.link_type}}" {% endif %}>
          {{include.link_content}}
        </a>
      </div>
      {% endif %}
    </div>
  </header>
</div>