<div class="
  {% if include.color %}
    bg-{{ include.color }}
  {% endif %} hero-banner"
  {% if include.image %}
    style="
      background-image: url(/img/{{ include.image }});"
  {% endif %}
>
  <header class="hero hero-banner mb-5 {% if include.class %}{{ include.class }}{% endif %}">
    <div class="brand-hero__content hero-container grid-container justify-content-end py-6">
      <p class="hero-heading {% if include.text == 'dark' %}text-ink{% endif %}">
        {{ site.data.toolkits[page.sidenav].title }}
      </p>
      <div class="hero-content mx-0 {% if include.text == 'dark' %}text-ink{% endif %}">
        <p>
          {{ site.data.toolkits[page.sidenav].description }}
        </p>
      </div>
    </div>
  </header>
</div>