{% assign heading = "p" %}
{% if page.description %}
  {% assign heading = "h1" %}
{% endif %}

<div class="
  {% if include.color %}
    bg-{{ include.color }}
  {% endif %} hero-banner"
  {% if include.image %}
    style="
      background-image: url(/img/{{ include.image }});"
  {% endif %}
>
  <header class="hero hero-banner mb-5 {% if include.class %}{{ include.class }}{% endif %}">
    <div class="brand-hero__content hero-container grid-container justify-content-end py-6">
      <div class="row">
        <div class="col-md-6">
          {% if page.description %}
            <p class="kicker text-white">{{ site.data.toolkits[page.sidenav]title }}</p>
          {% endif %}
          <{{ heading }} class="hero-heading {% if include.text == 'dark' %}text-ink{% endif %}">
            {% if page.description %}
              {{ page.title }}
            {% else %}
              {{ site.data.toolkits[page.sidenav].title }}
            {% endif %}
          </{{ heading }}>
          <div class="hero-content mx-0 {% if include.text == 'dark' %}text-ink{% endif %}">
            <p>
              {% if page.description %}
                {{ page.description }}
              {% else %}
                {{ site.data.toolkits[page.sidenav].description_long }}
              {% endif %}
            </p>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>