<div class="page-cta">

  <div class="container">

    <div class="page-cta-hdr-wrapper ">
      <div class="page-cta-hdr">
        <h3>Change lives every day.</h3>
      </div>
    </div>

    <div class="page-cta-content-wrapper">
      <div class="page-cta-content">
        <p>
          We need great technologists, designers, and more to work on
          changing how the government serves the public.
        </p>
      </div>
    </div>

    <div class="page-cta-btn-wrapper">
      <div class="page-cta-btn">
        <a href="/join/" role="button">
          <span>Join Us</span>
          <i class="fa fa-arrow-circle-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>

  </div>

</div>
