<h2 id="open-positions">Open positions</h2>

{% if site.data.open_positions[0] %}
  <p class="text-intro">Below are the roles that we’re actively hiring for:</p>

  <div class="open-positions-list">
    {% assign groups = site.data.open_positions | group_by: 'category' | sort: 'order' %}
    {% for group in groups %}
      <h3 class="open-positions-heading">{{ group.name }}</h3>
      {% for item in group.items %}
      <ul>
        <li class="rounded p-3">
          <a class="no-border" href="{{ item.url }}" title="View job posting for {{ item.title }}">
            {{ item.title }}
          </a>
          <p><i class="fa fa-globe mr-2"></i>{{ item.location }}</p>
        </li>
      {% endfor %}
      </ul>
    {% endfor %}
  </div>
{% else %}
  <p>
    We're not currently hiring at the moment, but that can change quickly.
    So please don't hesitate to <a href="/join/#application">apply</a>!
  </p>
{% endif %}

<p>Don’t see your role? Don’t worry, we could be hiring sooner than you think, so we’d still love to talk. <a href="/join/#application">Simply send us your info</a>.</p>
<p>For most roles, we also offer apprenticeship opportunities for post-graduate professionals and internship opportunities for current or recently graduated college students.</p>