<h2 id="open-positions">Open positions</h2>
<p class="text-intro">Below are the roles that we're actively hiring for:</p>

<div id="grnhse_app"></div>

<div class="text">
  <p>
    Don’t see your role? Don’t worry, we could be hiring sooner than you think,
    so we’d still love to talk. We typically hire people with skills in
    research, design, product management, engineering, data science, security,
    procurement, digital transformation, and client engagement management.
    Please don’t hesitate to
    <a href="mailto:hello@skylight.digital">reach out to us</a>.
  </p>

  <p>
    For most roles, we also offer paid internship or apprenticeship
    opportunities for people who are starting their careers or transitioning to
    new careers. If you’re interested in an internship or apprenticeship
    opportunity with Skylight, please
    <a href="mailto:recruiting@skylight.digital">get in touch</a>.
  </p>
</div>
