{% if page.header_css_class %}
  {% assign header_css_class = page.header_css_class %}
{% else %}
  {% assign header_css_class = 'page-hdr-2' %}
{% endif %}

{% if page.header_title %}
  {% assign header_title = page.header_title %}
{% else %}
  {% assign header_title = page.title %}
{% endif %}

{% if page.subtitle %}
  {% assign header_content = page.subtitle %}
{% else %}
  {% assign header_content = page.header_content %}
{% endif %}

<header class="{{header_css_class}}">
  <h1>{{header_title}}</h1>

  {% if page.header_content_class and header_content %}
    <div class="row">
      <div class="{{page.header_content_class}}">
        <p>{{header_content}}</p>

        {% if page.header_content_img %}
          <img src="{{page.header_content_img}}" alt="{{page.header_content_img_description}}">
        {% endif %}
      </div>
    </div>
  {% endif %}
</header>
