{% if page.pagination.collection == 'press' %}

  {% include hero_banner.html
    hero_content = 'Skylight in the news.'
    color = 'info'
    image = 'hero-press.svg'
  %}
  <section class="container maxw-prose">
    <div class="text">
      {% for item in paginator.posts %}
        <article class="press__article">
          <p class="mb-3 small mt-5 project-title-tag">{{ item.source }}: {{ item.date | date: "%B %-d, %Y" }}</p>
          <h2 class="h3">
            {% if item.heading %}
              {{ item.heading }}
            {% else %}
              {{ item.title }}
            {% endif %}
          </h2>
          <div class="mt-3">{{ item.summary | markdownify }}</div>
          {% if item.href and item.title %}
            <h3 class="project-title-tag mb-1">Full story</h3>
            <p><a href="{{ item.href }}">{{ item.title }}</a></p>
          {% endif %}
        </article>
      {% endfor %}
    </div>
  </section>

  {% include pagination.html %}

  {% include hire_us_cta.html %}
{% endif %}

<!-- ---------------- -->
<!-- ---------------- -->
<!-- ---------------- -->

{% if page.pagination.collection == 'blog_posts' %}

  {% include page_header.html
    header_content_class = 'page-header-content-1'
    header_content = 'Our written thoughts on design, technology, and more.'
  %}

  {% assign collection = include.collection %}
  {% assign prefix = 'blog' %}
  {% assign cta_text = include.cta_text %}
  {% assign context = include.context %}
  {% assign limit = include.limit %}

  {% if limit %}
    {% assign collection_size = limit %}
  {% else %}
    {% assign collection_size = collection.size %}
  {% endif %}

  {% include hanging_column_size.html
    collection_size = collection_size
    col_size = 3
  %}

  <div class="our-blog">
    <div class="blog-posts grid-container">
      <div class="blog-posts-row">
        {% for item in paginator.posts %}
          <article class="blog-post-col">
            <div class="blog-post-card card-link" data-href="{{item.permalink | prepend: site.baseurl}}" tabindex="-1">
              <div role="img" class="blog-post-img" style="background-image: url({{item.image | prepend: site.baseurl;}});" title="{{item.image_description | escape}}"></div>
              <div class="blog-post-block">
                {% if item.title_tag %}
                  <p class="blog-post-title-tag">{{item.title_tag}}</p>
                {% endif %}
                <h2 class="blog-post-title {{context}}">{{item.title}}</h2>
                <div class="blog-post-text">{{item.excerpt | markdownify }}</div>
              </div>
              <div class="blog-post-footer">
                <a href="{{item.permalink | prepend: site.baseurl}}" tabindex="0">
                  <span>Read more</span><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
                </a>
              </div>
            </div>
          </article>
        {% endfor %}
      </div>
    {% unless context == 'related' %}</div>{% endunless %}
  </div>

  {% include pagination.html %}

  {% include hire_us_cta.html %}

{% endif %}

<!-- ---------------- -->
<!-- ---------------- -->
<!-- ---------------- -->

{% if page.pagination.collection == 'talks' %}

{% include
  hero_banner.html hero_content = 'Our spoken thoughts on design,<br class="linebreak" />technology, and more.'
  color = 'red'
  image = 'hero-talks.svg'
%}

<div class="grid-container">
  {% for item in site.talks %}
    {% if item.featured == true and page.permalink == "/thoughts/talks/index.html" %}
      <h2 class="margin-heading mb-4">Featured</h2>
      <div class="talk__featured row" id="{{ item.title | slugify }}">
        <div class="col-md-8 d-flex flex-column align-items-stretch">
          {% if item.type == "video" %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                title="{{ item.title }}"
                class="embed-responsive-item"
                width="560"
                height="315"
                src="https://youtube.com/embed/{{ item.link }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            {% elsif item.type == "podcast" %}
              <div
                class="blog-post-img"
                role="img"
                style="background-image: url(/img/talks/{{ item.img }})"
                aria-label="{{ item.img_description }}"
              >
            {% endif %}
            </div>
        </div>
      <div class="col-md-4 d-flex flex-column align-items-stretch">
        <p class="featured-talk__date kicker">{{ item.date | date: "%B %-d, %Y" }}</p>
        <h3>{{ item.title }}</h3>
        <p class="font-sm mt-3 text">
          {{ item.description }}
        </p>
        <h4 class="kicker mb-1">Event</h4>
        <p class="font-sm">{{ item.event }}</p>
        <a class="font-sm font-mono" href="https://youtube.com/watch?v=_eGtm66_X9E" target="_blank">
          {% if item.type == "video" %}
            Watch video
          {% elsif item.type == "podcast" %}
            Listen to podcast
          {% endif %} <i class="fal fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <div class="row mt-6 pt-4">
    {% for item in paginator.posts %}
      {% unless item.featured == true %}
        <article class="blog-post-col" id="{{ item.title | slugify }}">
          <div
            class="blog-post-card card-link"
            data-href="{% if item.type == "video" %}https://youtube.com/watch?v={% endif %}{{ item.link }}"
            data-target="_blank"
            tabindex="0"
            aria-label="
              {{ item.title }}
              {{ item.date | date: "%B %-d, %Y" }}
              {{ item.description }}
              Event: {{ item.event }}
              {% if item.type == "video" %}
                Watch video
              {% elsif item.type == "podcast" %}
                Listen to podcast
              {% endif %}
            "
          >
            <div
              class="blog-post-img {% if item.type == "video" %}embed-responsive embed-responsive-16by9{% endif %}"
              {% if item.type == "podcast" %}
                role="img"
                style="background-image: url(/img/talks/{{ item.img }})"
                aria-label="{{ item.img_description }}"
              {% endif %}
            >
            {% if item.type == "video" %}
              <iframe
                title="{{ item.title }}"
                class="embed-responsive-item"
                width="560"
                height="315"
                src="https://youtube.com/embed/{{ item.link }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            {% endif %}
            </div>
            <div class="blog-post-block">
              <p class="kicker">{{ item.date | date: "%B %-d, %Y" }}</p>
              <h3 class="blog-post-title font-lg">
                {{ item.title }}
              </h3>
              <div class="card-text blog-post-text">{{ item.description | markdownify }}</div>
              <h4 class="kicker margin-heading">Event</h4>
              <p class="card-text">{{ item.event }}</p>
            </div>
            <div class="blog-post-footer">
              <span class="blog-post-footer-cta">
                {% if item.type == "video" %}
                  Watch video
                {% elsif item.type == "podcast" %}
                  Listen to podcast
                {% endif %} <i class="fal fa-long-arrow-right" aria-hidden="true"></i>
              </span>
            </div>
          </div>
        </article>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% include pagination.html %}

{% include hire_us_cta.html %}


{% endif %}