{% assign items = site.data.toolkits[page.sidenav].toc %}
{% for item in items %}
  {% if item.url == page.url %}
    {% assign prev_i = forloop.index0 | minus: 1 %}
    {% assign next_i = forloop.index0 | plus: 1 %}
    <nav class="pagination-alt text-primary mt-5">
      <div>
        {% unless page.url == items.first.url %}
        <a class="pagination-alt__step pagination-alt__step--previous" href="{{ items[prev_i].url }}">
          <span><i class="fal fa-long-arrow-left mr-2" aria-hidden="true"></i></span>
          <span>
            Previous<span class="d-none d-sm-inline"> section</span>
          </span>
        </a>
        {% endunless %}
      </div>
      <div>
        {% unless page.url == items.last.url %}
          <a class="pagination-alt__step pagination-alt__step--next" href="{{ items[next_i].url }}">
            <span>
              Next<span class="d-none d-sm-inline"> section</span>
            </span>
            <span><i class="fal fa-long-arrow-right ml-2" aria-hidden="true"></i></span>
          </a>
        {% endunless %}
      </div>
    </nav>
  {% endif %}
{% endfor %}
