<aside class="approach">
  <div class="row">
    <div class="col-sm-12">
      <div class="row">

        <div class="approach-area">
          <div class="approach-area-card">
            <div class="approach-area-card-block">
              <h3>Team Members</h3>
              <ul>
                {% for member in page.project_members %}
                  {% assign emp = site.data.team | where: 'name', member.name | first %}
                  <li>
                    <a class="profile-link" href="{{emp.profile_path}}" target="_blank">
                      <img src="{{emp.img_path}}" alt="{{emp.img_description}}">
                      <span>{{emp.short_name}}</span>
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="approach-area">
          <div class="approach-area-card">
            <div class="approach-area-card-block">
              <h3>Technology</h3>
              <ul>
                {% for tech in page.technologies %}
                  <li>{{tech}}</li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>

        <div class="approach-area">
          <div class="approach-area-card">
            <div class="approach-area-card-block">
              <h3>Practices</h3>
              <ul>
                <ul>
                  {% for practice in page.practices %}
                    <li>{{practice}}</li>
                  {% endfor %}
                </ul>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</aside>
