<div class="container">
  <div class="projects">

    {% if include.limit %}
      {% assign projects_count = include.limit %}
    {% else %}
      {% assign projects_count = projects.size %}
    {% endif %}

    {% assign remainder = projects_count | modulo:2 %}

    {% if remainder != 0 %}
      {% assign css_class = "project uneven" %}
    {% else %}
      {% assign css_class = "project" %}
    {% endif %}

    {% for project in projects | limit: include.limit %}
      <article class="{{ css_class }}">
        <a href="{{ project.permalink }}">
          <div class="project-card">
            <img class="project-img" src="{{ project.img_icon_path }}" alt="{{ project.img_icon_description }}">
            <div class="project-block">
              <h3 class="project-title">{{ project.title }}</h3>
              <p class="project-text">{{ project.excerpt }}</p>
            </div>
            <div class="project-footer">
              <span>Learn more</span>
              <i class="fa fa-2x fa-long-arrow-right" aria-hidden="true"></i>
            </div>
          </div>
        </a>
      </article>
    {% endfor %}
  </div>
</div>
