<div class="service-area-showcase">

  <section class="page-block">
    <div class="page-block-header-1 sr-only">
      <h2>Service elements</h2>
    </div>

    <div class="service-elements">
      {% assign service_elements = page.service_elements | sort: 'order' %}

      {% include hanging_column_size.html
        collection_size = service_elements.size
        col_size = 3
      %}

      <div class="service-elements-row {{hanging_col_size_css_class}}">
        {% for service_element in service_elements %}
          <div class="service-element-col">
            <div class="service-element-content-box">
              <div class="divider-line" aria-hidden="true"></div>
              <h3>{{service_element.name}}</h3>
              <p>{{service_element.description}}</p>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </section>

  <div class="image-block">
    <img src="{{page.image}}" alt="{{page.image_description}}">
  </div>

  <div class="page-block">
    <div class="page-block-header-2">
      <h2>Our work</h2>
    </div>

    {% assign tag_filter = page.slug | replace: '_', ' ' %}
    {% assign projects = site.projects | where: 'tags', tag_filter | sort: 'order' %}

    {% include card_list.html
      collection = projects
      prefix = 'project'
      cta_text = 'Read case study'
      limit = 3
    %}
  </div>

</div>

{% include hire_us_cta.html %}
