<div class="page-subfooter">
  <div class="testimonial">
    <div class="testimonial-row">
      <div class="testimonial-col">
        <blockquote>
          <p class="testimonial-quote">
            You would be hard pressed to find a greater assemblage of digital talent.
          </p>

          <cite class="testimonial-cite">
            <span class="testimonial-author">Luke McCormack</span>
            <span class="testimonial-position">Former Chief Information Officer</span>
            <strong class="testimonial-org">Department of Homeland Security</strong>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>
