<div class="page-cta">

  <div class="container">

    <div class="row">
      <div class="col-md col-lg-9 mx-auto">
        <blockquote>
          <p class="testimonial-quote">
            You would be hard pressed to find a greater assemblage of digital talent.
          </p>

          <cite class="testimonial-cite">
            <span class="testimonial-author">Abraham Lincoln</span>
            <span class="testimonial-position">Former President</span>
            <strong class="testimonial-org">United States of America</strong>
          </cite>
        </blockquote>
      </div>
    </div>

  </div>

</div>
