<h3 class="header-display-3 mb-3">Submit your application</h3>
<p>Thanks for your interest in taking our Digital Acquisition Training for Professionals course! To begin the enrollment process, please submit an application. We’ll then review, and follow up within 1–2 business days to ask you a few questions. We want you to have the best experience possible, so it’s important to determine whether you’re a good fit for the program at this time. Once you’re approved, we’ll then walk you through the process of formally enrolling, including tuition payment.</p>
<div class="inner-container">
  <form accept-charset="UTF-8" action="#" method="POST">
    <input type="hidden" name="utf8" value="✓">

    <div class="form-group">
      <label class="required" for="name-input">Name</label>
      <input id="name-input" class="form-control" type="text" placeholder="Julie Styles" name="name" autocomplete="name" required>
    </div>

    <div class="form-group">
      <label class="required" for="org-input">Organization</label>
      <input id="org-input" class="form-control" type="text" placeholder="Department of Great Technology" name="org" autocomplete="org" required>
    </div>

    <div class="form-group">
      <label class="required" for="email-input">Email</label>
      <input id="email-input" class="form-control" type="email" placeholder="julie@dgt.gov" name="email" autocomplete="email" required>
    </div>

    <div class="form-group">
      <label for="tel-input">Telephone</label>
      <input id="tel-input" class="form-control" type="tel" placeholder="555-555-5555" name="phone" autocomplete="tel">
    </div>

    {{include.date_field}}

    <div class="form-group">
      <label class="required" for="why-input">Why do you want to take this course?</label>
      <textarea id="why-input" class="form-control" rows="3" name="why" required></textarea>
    </div>

    <div class="form-group">
      <label class="required" for="what-input">What’s your current level of acquisition experience?</label>
      <textarea id="what-input" class="form-control" rows="3" name="what" required></textarea>
    </div>

    <div class="form-group text-center">
      <button class="btn-submit-outline">Submit</button>
    </div>
  </form>
</div>