<article>
    <div class="inner-container">
        <header class="project-case-study-header">
            <div class="project-case-study-title-tag header-display-5">{{page.title_tag}}</div>
            <h1 class="project-case-study-title header-display-2 header-page">{{page.title}}</h1>
        </header>
        <div>
            {{include.summary}}
            {{include.dates}}
            {{include.cost}}
            <hr class="section-break" />
            {{include.instructors}}
            <hr class="section-break" />
            {% include training_form.html
                date_field=include.date_field
            %}
        </div>
    </div>
    {% include training_cta.html
        header = "Still have questions?"
        text = "Please don’t hesitate to get in touch with us"
    %}
</article>
    