.accordion-card {
  &:not(:first-child) {
    [data-toggle="collapse"] {
      border-top: 1px solid $black;
    }
  }

  &:first-child {
    [data-toggle="collapse"] {
      &:hover,
      &:focus {
        border-top: 0;
      }
    }
  }

  [data-toggle="collapse"] {
    background-image: url(../img/icons/chevron-down.svg),
      linear-gradient(transparent, transparent);
    background-repeat: no-repeat;
    background-position: right 1.25rem center;
    background-size: $font-size-xx-small;
    border-bottom: 0;
    display: block;
    padding: 1rem;

    &:hover h3 {
      font-weight: bold;
    }

    &:hover,
    &:focus {
      border-bottom: 0;
      border-top: 1px solid $black;
      color: $brand-primary;
    }

    &[aria-expanded="true"] {
      background-image: url(../img/icons/chevron-up.svg),
        linear-gradient(transparent, transparent);

      h3 {
        font-weight: bold;
      }
    }
  }

  &:last-child {
    [data-toggle="collapse"][aria-expanded="false"] {
      border-bottom: 1px solid $black;
    }

    [role="tabpanel"][aria-expanded="true"] {
      border-bottom: 1px solid $black;
    }
  }

  h3,
  h2 {
    display: flex;
    font-family: $font-family-mono;
    font-size: $font-size-h6;
    font-weight: normal;
    justify-content: space-between;
    align-content: stretch;
    border-bottom: none !important;
    margin-bottom: 0 !important;
    position: relative;

    > div:first-child {
      padding-right: 30px;
    }
  }

  .accordion-heading {
    color: $link-color;
  }

  .accordion-icon-plus {
    display: none;
  }

  .accordion-icon-minus {
    display: flex;
  }

  .collapsed {
    .accordion-icon-plus {
      display: flex;
    }

    .accordion-icon-minus {
      display: none;
    }
  }
}

.accordion-card {
  border: none;
}

.accordion-card-body {
  padding: 20px;
  font-family: $font-family-mono;

  p + p {
    margin-top: 1em;
  }
}

.accordion-filter {
  .accordion-header {
    width: fit-content;

    a[aria-expanded="true"] {
      border-bottom: none;
    }
  }

  .accordion-card-body {
    border-color: $black;
    padding-inline: 0;

    a {
      &:hover {
        color: $brand-primary;
        font-weight: bold;
      }
    }
  }

  h3 {
    font-family: $font-family-sans-serif;
  }

  ul {
    font-size: $font-size-small;
    line-height: 2;
  }
}

// Sticky hover fix
.can-touch .accordion-filter .accordion-header a:hover {
  background-color: $gray-lightest;
}
