.accordion-header{
  h5{
    display: flex;
    align-items: all;
    justify-content: space-between;
    align-content: stretch;
    border-bottom: none !important;
  }
  border-bottom: none !important;
  .accordion-icon-plus{
      display: none;
  }
  .accordion-icon-minus{
    display: flex;
  }
  .collapsed{
    .accordion-icon-plus{
      display: flex;
    }
    .accordion-icon-minus{
      display: none;
    }
  }

}

.accordion-card{
  margin-bottom: 16px;
  border-radius: .25rem;
  border: none;
  padding: 10px;
  box-shadow: -4px -4px 8px 0 rgba(0, 0, 0, 0.05), 4px -4px 8px 0 rgba(0, 0, 0, 0.05), -4px 4px 8px 0 rgba(0, 0, 0, 0.05), 4px 4px 8px 0 rgba(0, 0, 0, 0.05);
}

.accordion-card-body{
  padding: 20px;
}