.accessibility-toolkit {
  blockquote {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 40px;
    margin-inline-end: 40px;
  }
  
  fieldset {
    border: 1px solid #393939;
    border-radius: 0.6rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
  }

  legend {
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
    padding: 0;
  }
  .form-check-label {
    padding-left: 0.5rem;
    margin-bottom: 0; // Override default `<label>` bottom margin
    cursor: pointer;
  }
}