// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.

// Fonts
$font-family-sans-serif: "Geomanist", sans-serif;

$font-size-base: 1.125rem;
$font-size-lg: 1.25rem;
$font-size-sm: .9rem;
$font-size-xs: .8rem;

$font-size-h1: 3.25rem;
$font-size-h2: 3rem;
$font-size-h3: 2.75rem;
$font-size-h4: 2.50rem;
$font-size-h5: 2.25rem;
$font-size-h6: 2rem;

$headings-font-weight: 700;
