//
//
// Skylight font faces, brand colors, and font sizes
//
//

// Brand colors
$blue-20: #dae9f1;
$blue-40: #b5d2e3;
$blue-60: #90bcd6;
$blue-80: #6ba5c8;
$blue-100: #468fba;
$blue-100-a: #277db0;
$blue-200: #1d5392;
$blue-300: #031a54;

$green-20: #dfede3;
$green-40: #bfdbc7;
$green-60: #b3d3bc;
$green-80: #99c5a6;
$green-100: #80b690;
$green-200: #609c70;
$green-300: #418152;
$green-300-a: #407F51;

$red-20: #f9e0de;
$red-40: #f2c1be;
$red-60: #eca19d;
$red-80: #e5827d;
$red-100: #df635c;
$red-200: #ba3932;

$ochre-20: #fdf3de;
$ochre-40: #fbe8be;
$ochre-60: #f8dc9d;
$ochre-80: #f6d17d;
$ochre-100: #f4c55c;
$ochre-200: #e99821;
$ochre-300: #a66910;

$gray-1: #f8f8f8;
$gray-20: #ddddde;
$gray-40: #bbbbbd;
$gray-60: #989a9c;
$gray-80: #76767b;
$gray-100: #54565a;
$gray-200: #37383b;
$gray-300: #1c1d20;

$sk-red: darken($red-100, 0%);
$sk-blue-light: darken($blue-100, 0%);
$sk-blue: darken($blue-200, 0%);
$sk-blue-dark: darken($blue-300, 0%);
$sk-green: darken($green-100, 0%);
$sk-yellow: darken($ochre-100, 0%);
$sk-grey: $gray-100;

// Font sizes
$font-size-xxxxxx-large: 4rem; // 64px
$font-size-xxxxx-large: 3rem; // 48px
$font-size-xxxx-large: 2.5rem; // 40px
$font-size-xxx-large: 2rem; // 32px
$font-size-xx-large: 1.75rem; // 28px
$font-size-x-large: 1.5rem; // 24px
$font-size-large: 1.25rem; // 20px
$font-size-medium: 1.125rem; // 18px
$font-size-small: 1rem; // 16px
$font-size-x-small: 0.9375rem; // 15px
$font-size-xx-small: 0.875rem; // 14px
$font-size-xxx-small: 0.8125rem; // 13px
$font-size-xxxx-small: 0.75rem; // 12px

// Spacing sizes
$size-mobile-lg: 480px;
$size-tablet: 640px;
$size-md: 800px;
$size-lg: 840px;
$size-desktop: 1024px;
$size-desktop-lg: 1200px;

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
//

// Colors
$white: #fff;
$black: $gray-300;

$gray-lightest: $gray-20;
$gray-lighter: $gray-40;
$gray-light: $gray-80;
$gray: $sk-grey;
$gray-dark: $gray-200;

$brand-primary-lightest: $blue-40;
$brand-primary-light: $sk-blue-light;
$brand-primary: $sk-blue;
$brand-primary-dark: $sk-blue-dark;
$brand-success: $sk-green;
$brand-info: $sk-blue-light;
$brand-warning: $sk-yellow;
$brand-danger: $sk-red;
$brand-inverse: $gray-200;
$brand-gray-light: $gray-20;

// Body
$body-color: $gray-200;
$heading-color: $gray-300;

// Links
$link-color: $brand-primary;
$link-hover-color: $blue-100-a;
$link-hover-decoration: none;

// Misc
$pink: #FF00CC;

// Fonts
$font-family-system: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family-mono-stack: Consolas, "Andale Mono WT", "Andale Mono",
  "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
  "Courier New", Courier, monospace;

$font-family-sans-serif: "Libre Franklin", $font-family-system;
$font-family-mono: "Roboto Mono", $font-family-mono-stack;

$font-size-base: $font-size-medium;
$font-size-lg: $font-size-large;
$font-size-sm: $font-size-xx-small;
$font-size-xs: $font-size-xxx-small;

$line-height-base: 1.7;

$font-size-display: 4rem;
$font-size-h1: $font-size-xxxxx-large;
$font-size-h2: $font-size-xxx-large;
$font-size-h3: $font-size-x-large;
$font-size-h4: $font-size-small;
$font-size-h5: 1.25rem;

$font-weight-normal: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$headings-margin-bottom: 0;
$headings-font-weight: 600;

$lead-font-weight: 100;

$text-muted: $gray-light;

$list-inline-padding: 0;

$prose-max-width: 72ex;

// Navbar
$navbar-padding-x: 0;

// Forms
$form-group-margin-bottom: 2rem;
$form-check-margin-bottom: $form-group-margin-bottom;

$input-color-placeholder: $gray-lighter;

// Buttons
$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

$btn-secondary-color: $brand-primary;
$btn-secondary-bg: $white;
$btn-secondary-border: $brand-primary;

// Jumbotron
$jumbotron-bg: $brand-primary;

// Cards
$card-border-color: $gray-lightest;
$card-cap-bg: $white;

// Tooltips
$tooltip-bg: $brand-primary;

//
//
// Skylight variables
//
//

// Colors
$brand-primary-muted: rgba($brand-primary, 0.7);

// Links
$text-link-color: $link-color;
$text-link-hover-color: $link-hover-color;
$text-link-border: 1px dashed $link-color;
$text-link-border-hover: 1px dashed $link-hover-color;

$header-display: $font-size-display;
$header-display-1: $font-size-h1;
$header-display-2: $font-size-h2;
$header-display-3: $font-size-h3;
$header-display-4: $font-size-h4;
$header-display-5: $font-size-h5;

// Notice bar
$notice-bar-link-color: $white;
$notice-bar-link-hover-color: lighten($brand-primary, 40%);
$notice-bar-link-border: none;
$notice-bar-link-border-hover: none;
$notice-bar-bg-color: linear-gradient(
  90deg,
  $brand-primary,
  darken($brand-primary, 15%)
);

// Main nav
$nav-brand-width-sm-down: 150px;
$nav-brand-height-sm-down: 40px;
$nav-brand-width: 200px;
$nav-brand-height: 50px;

$nav-link-color: $black;
$nav-link-decoration: none;
$nav-link-hover-color: $nav-link-color;
$nav-link-hover-decoration: none;
$nav-link-border-color: $brand-warning;

$nav-toggler-color: $nav-link-color;
$nav-toggler-hover-color: $brand-primary;

// Jumbotron
$jumbotron-color: $white;

// Forms
$control-label-color: $body-color;
$control-label-font-size: $font-size-base;

$help-text-link-color: $text-muted;
$help-text-link-hover-color: $brand-primary;
$help-text-link-border: 1px dashed $help-text-link-color;
$help-text-link-border-hover: 1px dashed $help-text-link-hover-color;

$form-icons-margin-bottom: $form-group-margin-bottom;

$form-icons-border-color: $gray-lightest;

$form-icon-color: $form-icons-border-color;
$form-icon-hover-color: $brand-primary;

$btn-form-color: $body-color;
$btn-form-bg: $white;
$btn-form-border: $btn-form-color;
$btn-form-active-color: $brand-primary;

// Cards
$card-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

// Modals
$modal-header-color: $brand-primary;

// Footer
$footer-brand-width-sm-down: 158px;
$footer-brand-height-sm-down: 50px;
$footer-brand-width: 158px;
$footer-brand-height: 60px;

$footer-link-color: $gray-light;
$footer-link-hover-color: $brand-primary;
$footer-link-border: none;
$footer-link-border-hover: 1px dashed $footer-link-hover-color;

// Page CTA (subfooter)
$page-cta-color: $white;
$page-cta-bg-color: $brand-primary;

$btn-page-cta-color: $white;
$btn-page-cta-bg: $brand-primary;

// Project case studies
$project-aside-link-color: $brand-primary;
$project-aside-link-hover-color: $link-hover-color;
$project-aside-link-border: 1px dashed $project-aside-link-color;
$project-aside-link-border-hover: 1px dashed $project-aside-link-hover-color;

// Filters
$filter-item-link-color: $link-color;
$filter-item-link-hover-color: $link-hover-color;
$filter-item-link-border: none;
$filter-item-link-border-hover: none;

// Posts
$post-header-footer-color: $gray-light;

$post-header-footer-link-color: $brand-primary;
$post-header-footer-link-hover-color: $link-hover-color;
$post-header-footer-link-border: 1px dashed $post-header-footer-link-color;
$post-header-footer-link-border-hover: 1px dashed
  $post-header-footer-link-hover-color;

$btn-share-color: $brand-primary;
$btn-share-bg: $white;
$btn-share-border: $btn-share-color;
$btn-share-active-color: $btn-share-color;
