//
//
// Skylight font faces, brand colors, and font sizes
//
//

// Brand colors
$sk-red: darken(#df635c, 0%);
$sk-blue-light: darken(#dceffa, 0%);
$sk-blue: darken(#468fba, 0%);
$sk-blue-dark: darken(#235384, 0%);
$sk-green: darken(#5fa373, 0%);
$sk-yellow: darken(#f4c55c, 0%);
$sk-grey: #54565a;

// Font sizes
$font-size-xxxxx-large: 3rem;
$font-size-xxxx-large: 2.5rem;
$font-size-xxx-large: 2rem;
$font-size-xx-large: 1.75rem;
$font-size-x-large: 1.5rem;
$font-size-large: 1.25rem;
$font-size-medium: 1.125rem;
$font-size-small: 1rem;
$font-size-x-small: 0.95rem;
$font-size-xx-small: 0.9rem;
$font-size-xxx-small: 0.85rem;
$font-size-xxxx-small: 0.8rem;

// Bootstrap overrides
//
// Copy variables from `_variables.scss` to this file to override default values
// without modifying source files.
//

// Colors
$white: #fff;
$black: #0e0e0e;

$gray: $sk-grey;
$gray-dark: darken($gray, 10%);
$gray-light: lighten($gray, 10%);
$gray-lighter: lighten($gray, 30%);
$gray-lightest: lighten($gray, 50%);

$brand-primary-lightest: $sk-blue-light;
$brand-primary-light: $sk-blue;
$brand-primary: $sk-blue-dark;
$brand-primary-dark: $sk-blue-dark;
$brand-success: $sk-green;
$brand-info: $sk-blue;
$brand-warning: $sk-yellow;
$brand-danger: $sk-red;
$brand-inverse: $gray-dark;
$brand-gray-light: #f4f4f5;

// Body
$body-color: $gray-dark;

// Links
$link-color: $brand-primary-dark;
$link-hover-color: darken($link-color, 15%) !default;
$link-hover-decoration: none;

// Fonts
$font-family-system: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
  Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
$font-family-mono-stack: Consolas, "Andale Mono WT", "Andale Mono",
  "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
  "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco,
  "Courier New", Courier, monospace;

$font-family-sans-serif: "Libre Franklin", $font-family-system;
$font-family-mono: "Roboto Mono", $font-family-mono-stack;

$font-size-base: $font-size-medium;
$font-size-lg: $font-size-large;
$font-size-sm: $font-size-xx-small;
$font-size-xs: $font-size-xxx-small;

$line-height-base: 1.7;

$font-size-display: 4rem;
$font-size-h1: $font-size-xxxxx-large;
$font-size-h2: $font-size-xxx-large;
$font-size-h3: $font-size-x-large;
$font-size-h4: $font-size-small;
$font-size-h5: 1.25rem;

$font-weight-normal: 400;
$font-weight-bold: 600;

$headings-margin-bottom: 0;
$headings-font-weight: 600;

$lead-font-weight: 100;

$text-muted: $gray-light;

$list-inline-padding: 0;

$prose-max-width: 636px;

// Navbar
$navbar-padding-x: 0;

// Forms
$form-group-margin-bottom: 2rem;
$form-check-margin-bottom: $form-group-margin-bottom;

$input-color-placeholder: $gray-lighter;

// Buttons
$btn-primary-color: $white;
$btn-primary-bg: $brand-primary;
$btn-primary-border: $brand-primary;

$btn-secondary-color: $brand-primary;
$btn-secondary-bg: $white;
$btn-secondary-border: $brand-primary;

// Jumbotron
$jumbotron-bg: $brand-primary;

// Cards
$card-border-color: $gray-lightest;
$card-cap-bg: $white;

// Tooltips
$tooltip-bg: $brand-primary;

//
//
// Skylight variables
//
//

// Colors
$brand-primary-muted: rgba($brand-primary, 0.7);

// Links
$text-link-color: $link-color;
$text-link-hover-color: $link-hover-color;
$text-link-border: 1px dotted $link-color;
$text-link-border-hover: 1px solid $link-hover-color;

$header-display: $font-size-display;
$header-display-1: $font-size-h1;
$header-display-2: $font-size-h2;
$header-display-3: $font-size-h3;
$header-display-4: $font-size-h4;
$header-display-5: $font-size-h5;

// Notice bar
$notice-bar-link-color: $white;
$notice-bar-link-hover-color: lighten($brand-primary, 40%);
$notice-bar-link-border: none;
$notice-bar-link-border-hover: none;
$notice-bar-bg-color: linear-gradient(
  90deg,
  $brand-primary,
  darken($brand-primary, 15%)
);

// Main nav
$nav-brand-width-sm-down: 150px;
$nav-brand-height-sm-down: 40px;
$nav-brand-width: 200px;
$nav-brand-height: 50px;

$nav-link-color: $body-color;
$nav-link-decoration: none;
$nav-link-hover-color: $nav-link-color;
$nav-link-hover-decoration: none;
$nav-link-border-color: $brand-warning;

$nav-toggler-color: $nav-link-color;
$nav-toggler-hover-color: $brand-primary;

// Jumbotron
$jumbotron-color: $white;

// Forms
$control-label-color: $body-color;
$control-label-font-size: $font-size-base;

$help-text-link-color: $text-muted;
$help-text-link-hover-color: $brand-primary;
$help-text-link-border: 1px dotted $help-text-link-color;
$help-text-link-border-hover: 1px solid $help-text-link-hover-color;

$form-icons-margin-bottom: $form-group-margin-bottom;

$form-icons-border-color: $gray-lightest;

$form-icon-color: $form-icons-border-color;
$form-icon-hover-color: $brand-primary;

$btn-form-color: $body-color;
$btn-form-bg: $white;
$btn-form-border: $btn-form-color;
$btn-form-active-color: $brand-primary;

// Cards
$card-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

// Modals
$modal-header-color: $brand-primary;

// Footer
$footer-brand-width-sm-down: 158px;
$footer-brand-height-sm-down: 50px;
$footer-brand-width: 190px;
$footer-brand-height: 60px;

$footer-link-color: $gray-light;
$footer-link-hover-color: $brand-primary;
$footer-link-border: none;
$footer-link-border-hover: 1px solid $footer-link-hover-color;

// Page CTA (subfooter)
$page-cta-color: $white;
$page-cta-bg-color: $brand-primary;

$btn-page-cta-color: $white;
$btn-page-cta-bg: $brand-primary;

// Project case studies
$project-aside-link-color: $brand-primary;
$project-aside-link-hover-color: $link-hover-color;
$project-aside-link-border: 1px dotted $project-aside-link-color;
$project-aside-link-border-hover: 1px solid $project-aside-link-hover-color;

// Filters
$filter-item-link-color: $body-color;
$filter-item-link-hover-color: $brand-primary;
$filter-item-link-border: none;
$filter-item-link-border-hover: none;

// Posts
$post-header-footer-color: $gray-light;

$post-header-footer-link-color: $brand-primary;
$post-header-footer-link-hover-color: $link-hover-color;
$post-header-footer-link-border: 1px dotted $post-header-footer-link-color;
$post-header-footer-link-border-hover: 1px solid
  $post-header-footer-link-hover-color;

$btn-share-color: $brand-primary;
$btn-share-bg: $white;
$btn-share-border: $btn-share-color;
$btn-share-active-color: $btn-share-color;
