form {
  label.required {
    &::after {
      content: "*";
      @extend .pl-1;
    }
  }

  label {
    @extend .font-weight-bold;
    color: $control-label-color;
    font-size: $control-label-font-size;
  }

  legend {
    @extend .font-weight-bold;
    @extend .mb-4;
  }

  button[type="submit"] {
    @extend %btn-base;
    @extend .py-2;
    @extend .px-6;
    @include button-outline-variant($btn-form-color, $btn-form-bg);
    cursor: pointer;
  }

  .form-text {
    a {
      @include link-decoration($help-text-link-color, $help-text-link-hover-color,
        $help-text-link-border, $help-text-link-border-hover);
    }
  }
}

.btn-file {
  @extend %btn-base;
  @include button-variant($btn-file-color, $btn-file-bg, $btn-file-border);
  @extend .mb-0;
  @extend .text-truncate;
}

.file-width-max {
  width: 225px;
}

.fieldset-nested {
  legend {
    font-size: $control-label-font-size;

    small {
      @extend .d-block;
      @extend .d-md-inline;
      @extend .text-muted;
    }
  }

  .form-icons {
    @extend .d-flex;
    @extend .justify-content-between;
    @extend .mt-2;
    border-bottom: 1px dashed $form-icons-border-color;
    margin-bottom: $form-icons-margin-bottom;
  }

  i {
    @extend .pb-2;
    color: $form-icon-color;

    &:hover,
    &:focus,
    &.current {
      color: $form-icon-hover-color;
    }
  }
}

.can-touch .form-icons i {
  &:hover {
    color: $form-icon-color;
  }

  &:focus,
  &.current {
    color: $form-icon-hover-color;
  }
}
