form {
  label.required {
    &::after {
      content: "*";
      @extend .pl-1;
    }
  }

  label {
    color: $brand-primary;
    @extend .font-weight-bold;
  }

  button[type="submit"] {
    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
