form {
  label.required {
    &::after {
      content: "*";
      @extend .pl-1;
    }
  }

  label {
    @extend .font-weight-bold;
    color: $input-label-color;
  }

  button[type="submit"] {
    @extend %btn-form;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
}
