.hero {
  background: linear-gradient(67.15deg, #183751 -5.79%, #235384 107.23%), #162D44;

  .container {
    padding-bottom: 56px; // Is there a spacing variable we can use?
    padding-top: 56px;
  }

  .btn-warning {
    font-weight: $font-weight-bold;
  }

  .btn-outline-light {
    &:hover {
      color: $brand-primary-dark;
    }
  }
}

.hero-heading {
  color: $white;
  font-size: $font-size-h2;
}

.hero-content {
  color: $white;
  font-size: $font-size-large;
  line-height: 1.5;
  margin-bottom: 0;
  margin-top: 1.5rem;
}

.hero-btn-group {
  background: $brand-primary;
  bottom: 0;
  display: flex;
  left: 0;
  padding: 16px;
  position: fixed;
  right: 0;
  text-align: center;
  z-index: 1;

  @include media-breakpoint-up(md) {
    background: transparent;
    display: inline-block;
    padding: 0;
    position: relative;
  }

  .btn {
    flex: 0 0 50%;
    margin-top: 0;
  }
}
