// Ensures TBS customizations are overridden
body#skylight-styles {
  font-family: $base-font-family;
  background-color: $background-color;

  // ***
  // Utilities
  // ***
  .hidden {
    display: none !important;
    visibility: hidden !important;
  }

  // ***
  // Header styles
  // ***
  header { // remove
    background-color: yellow;
  }

  // TBS override
  .navbar-toggler {
    padding: .35rem;
    font-size: 1.5rem;
  }

  #navbar-toggler-change {
    color: red;

    &:hover, &:focus {
      color: pink;
    }
  }

  // ***
  // Main styles
  // ***
  main { // remove
    background-color: red;
  }
}
