// Ensures TBS customizations are overridden
body#skylight-styles {
  font-family: $base-font-family;
  background-color: $background-color;

  // **************************************************
  // Utilities
  // **************************************************

  // **************************************************
  // Global TBS ovverides
  // **************************************************
  h1, .h1 {
    font-size: 2.5rem;
  }

  h2, .h2 {
    font-size: 2rem;
  }

  .display-1 {
    @include display-1;
  }

  .display-2 {
    @include display-2;
  }

  .display-3 {
    @include display-3;
  }

  .lead-1 {
    font-size: 1.25rem;
    font-weight: 300;
  }

  .lead-2 {
    font-size: 1rem;
    font-weight: 300;
  }

  // **************************************************
  // Header styles
  // **************************************************
  header { // remove
    background-color: yellow;
  }

  .navbar-toggler { // TBS override
    padding: .35rem;
    font-size: 1.5rem;
  }

  #main-nav .nav-link:last-child { // TBS override
    padding-right: 0;
  }

  #navbar-toggler-change {
    color: red;

    &:hover, &:focus {
      color: pink;
    }
  }

  // **************************************************
  // Landing page styles
  // **************************************************
  .jumbotron { // TBS override
    margin-bottom: 0;
  }

  .section-lp {
    text-align: center;

    margin-top: 3rem;

    h2 { // TBS override
      margin-bottom: 0;
    }

    p {
      text-align: left;
      font-size: 1rem;
    }

    p:last-child { // TBS override
      margin-bottom: 0;
    }
  }

  @media (min-width: $md-breakpoint) {
    .section-lp {
      .display-3 {
        @include display-1;
      }
    }
  }

  // **************************************************
  // Footer styles
  // **************************************************
  footer {
    background-color: yellow;
    margin-top: 3rem;
  }

  .footer-content {
    padding-top: 1rem;
    padding-bottom: 1rem;

    .row > [class^="col-"] {
      padding-top: .75rem;
      padding-bottom: .75rem;
    }
  }

  .footer-nav-link {
    font-size: .9rem;

    &:not(:first-child), &:not(:last-child):after {
      padding-left: 3px;
    }

    &:not(:last-child)::after {
      content: "/";
      padding-left: 6px;
    }
  }

  .footer-socials {
    a:not(:last-child) {
      padding-right: 25px;
    }
  }

  @media (min-width: $md-breakpoint) {
    .footer-content {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }

    .footer-nav, .footer-socials {
      text-align: right;
    }

    .footer-nav-link {
      &:not(:first-child), &:not(:last-child):after {
        padding-left: 6px;
      }

      &:not(:last-child)::after {
        content: "/";
        padding-left: 12px;
      }
    }
  }

}
