// Placeholder wrappers for Bootstrap classes
%container { @extend .container; }
%container-fluid { @extend .container-fluid; }
%row { @extend .row; }
%col { @extend .col; }
%col-5 { @extend .col-5; }
%col-6 { @extend .col-6; }
%col-7 { @extend .col-7; }
%col-8 { @extend .col-8; }
%col-10 { @extend .col-10; }
%col-11 { @extend .col-11; }
%col-12 { @extend .col-12; }
%col-sm-4 { @extend .col-sm-4; }
%col-sm-6 { @extend .col-sm-6; }
%col-sm-7 { @extend .col-sm-7; }
%col-sm-8 { @extend .col-sm-8; }
%col-sm-9 { @extend .col-sm-9; }
%col-sm-10 { @extend .col-sm-10; }
%col-sm-11 { @extend .col-sm-11; }
%col-md { @extend .col-md; }
%col-md-3 { @extend .col-md-3; }
%col-md-4 { @extend .col-md-4; }
%col-md-5 { @extend .col-md-5; }
%col-md-6 { @extend .col-md-6; }
%col-md-7 { @extend .col-md-7; }
%col-md-8 { @extend .col-md-8; }
%col-md-9 { @extend .col-md-9; }
%col-md-10 { @extend .col-md-10; }
%col-md-11 { @extend .col-md-11; }
%col-lg-4 { @extend .col-lg-4; }
%col-lg-5 { @extend .col-lg-5; }
%col-lg-6 { @extend .col-lg-6; }
%col-lg-7 { @extend .col-lg-7; }
%col-lg-8 { @extend .col-lg-8; }
%col-lg-9 { @extend .col-lg-9; }
%col-lg-10 { @extend .col-lg-10; }
%col-lg-11 { @extend .col-lg-11; }

%d-flex { @extend .d-flex; }
%flex-row { @extend .flex-row; }
%flex-wrap { @extend .flex-wrap; }
%justify-content-start { @extend .justify-content-start; }
%justify-content-between { @extend .justify-content-between; }
%justify-content-end { @extend .justify-content-end; }
%align-self-center { @extend .align-self-center; }
%flex-column { @extend .flex-column; }
%flex-lg-first { @extend .flex-lg-first; }
%flex-last { @extend .flex-last; }
%align-items-start { @extend .align-items-start; }
%align-items-center { @extend .align-items-center; }
%align-items-stretch { @extend .align-items-stretch; }
%justify-content-md-end { @extend .justify-content-md-end; }

%mt-3 { @extend .mt-3; }
%mt-4 { @extend .mt-4; }
%mt-5 { @extend .mt-5; }
%mt-0 { @extend .mt-0; }
%mt-1 { @extend .mt-1; }
%mt-2 { @extend .mt-2; }
%mt-sm-5 { @extend .mt-sm-5; }
%mt-md-0 { @extend .mt-md-0; }
%mt-md-3 { @extend .mt-md-3; }
%mt-md-4 { @extend .mt-md-4; }
%mt-md-5 { @extend .mt-md-5; }
%mt-lg-0 { @extend .mt-lg-0; }
%mr-1 { @extend .mr-1; }
%mr-2 { @extend .mr-2; }
%mr-sm-2 { @extend .mr-sm-2; }
%mr-sm-5 { @extend .mr-sm-5; }
%mr-md-5 { @extend .mr-md-5; }
%mr-lg-5 { @extend .mr-lg-5; }
%mb-0 { @extend .mb-0; }
%mb-2 { @extend .mb-2; }
%mb-3 { @extend .mb-3; }
%mb-4 { @extend .mb-4; }
%mb-5 { @extend .mb-5; }
%mb-sm-0 { @extend .mb-sm-0; }
%mb-md-0 { @extend .mb-md-0; }
%mb-md-4 { @extend .mb-md-4; }
%mb-md-5 { @extend .mb-md-5; }
%mb-lg-0 { @extend .mb-lg-0; }
%ml-0 { @extend .ml-0; }
%ml-1 { @extend .ml-1; }
%ml-2 { @extend .ml-2; }
%ml-3 { @extend .ml-3; }
%m-0 { @extend .m-0; }
%mx-0 { @extend .mx-0; }
%mx-2 { @extend .mx-2; }
%mx-1 { @extend .mx-1; }
%my-2 { @extend .my-2; }
%my-3 { @extend .my-3; }
%my-4 { @extend .my-4; }
%my-5 { @extend .my-5; }
%my-md-5 { @extend .my-md-5; }

%pt-0 { @extend .pt-0; }
%pt-2 { @extend .pt-2; }
%pt-4 { @extend .pt-4; }
%pr-0 { @extend .pr-0; }
%pr-2 { @extend .pr-2; }
%pb-0 { @extend .pb-0; }
%pb-2 { @extend .pb-2; }
%pb-3 { @extend .pb-3; }
%pb-4 { @extend .pb-4; }
%pb-5 { @extend .pb-5; }
%pl-0 { @extend .pl-0; }
%pl-1 { @extend .pl-1; }
%pl-2 { @extend .pl-2; }
%pl-3 { @extend .pl-3; }
%p-0 { @extend .p-0; }
%p-2 { @extend .p-2; }
%p-3 { @extend .p-3; }
%px-0 { @extend .px-0; }
%px-2 { @extend .px-2; }
%px-3 { @extend .px-3; }
%px-4 { @extend .px-4; }
%px-5 { @extend .px-5; }
%py-0 { @extend .py-0; }
%py-1 { @extend .py-1; }
%py-2 { @extend .py-2; }
%py-3 { @extend .py-3; }
%py-4 { @extend .py-4; }
%py-md-5 { @extend .py-md-5; }

%jumbotron { @extend .jumbotron; }
%jumbotron-fluid { @extend .jumbotron-fluid; }
%lead { @extend .lead; }

%navbar-toggleable-sm { @extend .navbar-toggleable-sm; }
%navbar-collapse { @extend .navbar-collapse; }
%collapse { @extend .collapse; }
%nav { @extend .nav; }
%nav-item { @extend .nav-item; }
%nav-link { @extend .nav-link; }

%btn { @extend .btn; }
%btn-primary { @extend .btn-primary; }
%btn-lg { @extend .btn-lg; }
%btn-sm { @extend .btn-sm; }
%btn-secondary { @extend .btn-secondary; }
%btn-outline-secondary { @extend .btn-outline-secondary; }

%card { @extend .card; }
%card-img-top { @extend .card-img-top; }
%card-block { @extend .card-block; }
%card-title { @extend .card-title; }
%card-subtitle { @extend .card-subtitle; }
%card-text { @extend .card-text; }
%card-footer { @extend .card-footer; }

%text-truncate { @extend .text-truncate; }
%text-center { @extend .text-center; }
%text-left { @extend .text-left; }
%text-lg-left { @extend .text-lg-left; }
%text-md-right { @extend .text-md-right; }
%text-uppercase { @extend .text-uppercase; }

%font-italic { @extend .font-italic; }
%font-weight-normal { @extend .font-weight-normal; }
%font-weight-bold { @extend .font-weight-bold; }

%align-middle { @extend .align-middle; }
%mx-auto { @extend .mx-auto; }
%ml-auto { @extend .ml-auto; }

%img-fluid { @extend .img-fluid; }
%figure-img { @extend .figure-img; }
%figure-caption { @extend .figure-caption; }
%img-thumbnail { @extend .img-thumbnail; }
%rounded { @extend .rounded; }
%rounded-circle { @extend .rounded-circle; }

%d-block { @extend .d-block; }
%d-inline-block { @extend .d-inline-block; }
%d-inline-flex { @extend .d-inline-flex; }
%d-sm-inline-block { @extend .d-sm-inline-block; }
%d-md-inline-block { @extend .d-md-inline-block; }
%d-lg-inline-block { @extend .d-lg-inline-block; }
%d-md-inline { @extend .d-md-inline; }

%list-inline { @extend .list-inline; }
%list-inline-item { @extend .list-inline-item; }
%list-unstyled { @extend .list-unstyled; }

%sr-only { @extend .sr-only; }

%text-muted { @extend .text-muted; }

%badge { @extend .badge; }
%badge-default { @extend .badge-default; }

%table { @extend .table; }
%table-bordered { @extend .table-bordered; }
%table-responsive { @extend .table-responsive; }

%blockquote { @extend .blockquote; }

%hidden-xs-down { @extend .hidden-xs-down; }
