.subnav-col {
  @extend %col-12;
  @extend %mx-auto;
  @extend %mb-5;
  @extend %mb-md-0;

  ul {
    @extend %nav;
    @extend %flex-column;
    @extend %d-inline-flex;
    width: inherit;
  }

  li {
    @extend %nav-item;
    line-height: 1.3;

    &:hover,
    &:focus {
      a {
        position: relative;
      }
    }

    .active,
    .current {
      color: $brand-primary;
      font-weight: bold;
      position: relative;
    }
  }

  a {
    color: $gray-light;
    font-family: $font-family-mono;
    font-size: $font-size-x-small;
    border: none;
  }
}
