.subnav-col {
  @extend %col-12;
  @extend %mx-auto;
  @extend %mb-5;
  @extend %mb-md-0;

  ul {
    @extend %nav;
    @extend %flex-column;
    @extend %d-inline-flex;
    width: inherit;
  }

  li {
    @extend %nav-item;
    border-top: 1px solid #e6e6e6;
    line-height: 1.3;

    &:last-child {
      border-bottom: 1px solid #e6e6e6;
    }

    &:hover,
    &:focus {
      a {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          border-left: 4px solid $nav-link-border-color;
          content: "";
        }
      }
    }

    .active,
    .current {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        border-left: 4px solid $nav-link-border-color;
        content: "";
      }
    }
  }

  a {
    @extend %nav-link-decoration;
    font-size: $font-size-small;
    border: none;
  }
}
