.subnav-col {
  @extend %col-12;
  @extend %mx-auto;
  @extend %mb-5;
  @extend %mb-md-0;

  ul {
    @extend %nav;
    @extend %flex-column;
    @extend %d-inline-flex;
  }

  li {
    @extend %nav-item;

    &:not(:last-child) {
      @extend %mb-2;
    }

    &:hover,
    &:focus {
      a {
        position: relative;

        &:after {
          position: absolute;
          top: 0;
          bottom: 0;
          left: 0;
          margin-left: -16px;
          padding-left: 11px;
          border-left: 4px solid $nav-link-border-color;
          content: "";
        }
      }
    }

    .active {
      position: relative;

      &:after {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        margin-left: -16px;
        padding-left: 11px;
        border-left: 4px solid $nav-link-border-color;
        content: "";
      }
    }
  }

  a {
    @extend %nav-link;
    @extend %nav-link-decoration;
    @extend %p-0;
  }
}
