.mt-6 { @include mt-6; }
.mt-7 { @include mt-7; }

.mb-6 { @include mb-6; }
.mb-7 { @include mb-7; }

@include media-breakpoint-down(sm) {
  .mb-sm-down-3 { margin-bottom: 1rem !important; }
  .mb-sm-down-4 { margin-bottom: 1.5rem !important; }
  .mb-sm-down-5 { margin-bottom: 3rem !important; }
}

@include media-breakpoint-down(md) {
  .px-md-down-2 {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
}

@include media-breakpoint-up(md) {
  .mt-md-6 { @include mt-6; }
  .mt-md-7 { @include mt-7; }

  .mb-md-6 { @include mb-6; }
  .mb-md-7 { @include mb-7; }
  .mb-md-10 { @include mb-10; }

  .py-md-6 {
    @include pt-6;
    @include pb-6;
  }
}
