%table-borderless {
  .table td,
  .table th {
    @extend %no-border;
  }
}

.table-even {
  thead th {
    width: 50%;
  }
}

.table-small-first {
  thead th:first-child {
    width: 20%;
  }
}

.wide-col{
  width: 25%;
}
