.header-display-1 {
  font-size: $header-display-1;
}

.header-display-2 {
  font-size: $header-display-2;
}

h1 {
  color: $brand-primary;
}

@include media-breakpoint-between(xs, sm) {
  h1 {
    font-size: $font-size-h1 * .60;
  }

  h2 {
    font-size: $font-size-h2 * .65;
  }

  h3 {
    font-size: $font-size-h3 * .75;
  }

  .header-display-1 {
    font-size: $header-display-1 * .60;
  }

  .header-display-2 {
    font-size: $header-display-2 * .60;
  }
}

@include media-breakpoint-between(sm, md) {
  h1 {
    font-size: $font-size-h1 * .80;
  }

  h2 {
    font-size: $font-size-h2 * .85;
  }

  h3 {
    font-size: $font-size-h3 * .95;
  }

  .header-display-1 {
    font-size: $header-display-1 * .80;
  }

  .header-display-2 {
    font-size: $header-display-2 * .80;
  }
}

%list-base {
  ol,
  ul {
    li:not(:last-child) {
      @extend %pb-2;
    }
  }
}

%list-inside {
  @extend %list-base;

  ol,
  ul {
    @extend %pl-0;

    li {
      list-style-position: inside;
      padding-left: 1rem;
      text-indent: -1rem;
    }
  }
}
