%no-border {
  border: none !important;
}

.no-border {
  border: none !important;
}

.border {
  border: 1px solid #dee2e6;
}

.shadow {
  box-shadow: $card-box-shadow;
}

.is-sticky {
  position: sticky;
  top: 1rem;
}

// Blue

.bg-blue-20 {
  background-color: $blue-20;
}

.bg-blue-40 {
  background-color: $blue-40;
}

.bg-blue-60 {
  background-color: $blue-60;
}

.bg-blue-80 {
  background-color: $blue-80;
}

.bg-blue-100 {
  background-color: $blue-100;
}

.bg-blue-100,
.bg-blue-light {
  background-color: $sk-blue-light;
}

.bg-blue-200,
.bg-blue {
  background-color: $sk-blue;
}

.bg-blue-300 {
  background-color: $blue-300;
}

// Green

.bg-green-20 {
  background-color: $green-20;
}

.bg-green-40 {
  background-color: $green-40;
}

.bg-green-60 {
  background-color: $green-60;
}

.bg-green-80 {
  background-color: $green-80;
}

.bg-green-100 {
  background-color: $green-100;
}

.bg-green-200 {
  background-color: $green-200;
}

.bg-green-300,
.bg-green {
  background-color: $green-300;
}

.bg-green-350 {
  background-color: $green-350;
}

// Red

.bg-red-20 {
  background-color: $red-20;
}

.bg-red-40 {
  background-color: $red-40;
}

.bg-red-60 {
  background-color: $red-60;
}

.bg-red-80 {
  background-color: $red-80;
}

.bg-red-100 {
  background-color: $red-100;
}

.bg-red-200,
.bg-red {
  background-color: $red-200;
}

// Yellow/Ochre


.bg-ochre-20,
.bg-ochre-lightest {
  background-color: $ochre-20;
}

.bg-ochre-40 {
  background-color: $ochre-40;
}

.bg-ochre-60 {
  background-color: $ochre-60;
}

.bg-ochre-80 {
  background-color: $ochre-80;
}

.bg-ochre-100,
.bg-yellow {
  background-color: $ochre-100;
}

.bg-ochre-200 {
  background-color: $ochre-200;
}

.bg-ochre-300 {
  background-color: $ochre-300;
}

// Gray

.bg-gray-5,
.bg-gray-lightest {
  background-color: $gray-5;
}

.bg-gray-20,
.bg-gray-light {
  background-color: $gray-20;
}

.bg-gray-40 {
  background-color: $gray-40;
}

.bg-gray-60 {
  background-color: $gray-60;
}

.bg-gray-80,
.bg-gray {
  background-color: $gray-80;
}

.bg-gray-100 {
  background-color: $gray-100;
}

.bg-gray-200,
.bg-gray-darker {
  background-color: $gray-200;
}

.bg-gray-300,
.bg-ink {
  background-color: $gray-300;
}

// Text colors

.text-ink {
  color: $black;
}

.text-body {
  color: $body-color;
}

.text-gray-light {
  color: $gray-light;
}

.container-xxl {
  max-width: map-get($container-max-widths, "xxl");
}

.container-xl {
  max-width: map-get($container-max-widths, "xl");
}

.container-lg {
  max-width: map-get($container-max-widths, "lg");
}

.container-md {
  max-width: map-get($container-max-widths, "md");
}

.container-sm {
  max-width: map-get($container-max-widths, "sm");
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-md-1 {
  @include media-breakpoint-up(md) {
    order: 1;
  }
}

.order-md-2 {
  @include media-breakpoint-up(md) {
    order: 2;
  }
}

.text-shadow {
  text-shadow: $card-box-shadow;
}

.hidden {
  display: none;
}

.filter-disabled {
  color: $gray-light;
  pointer-events: none;
  cursor: default;
  text-decoration: none;
}

.linebreak {
  display: none;

  @include media-breakpoint-up(sm) {
    display: block;
  }
}

.grid-container {
  @include grid-container;
}

.justify-content-evenly {
  justify-content: space-evenly !important;
}
