%no-border {
  border: none !important;
}

.no-border {
  border: none !important;
}

.shadow {
  box-shadow: $card-box-shadow;
}

.is-sticky {
  position: sticky;
  top: 1rem;
}

.bg-yellow {
  background-color: $sk-yellow;
}

.bg-red {
  background-color: $sk-red;
}

.bg-green {
  background-color: $sk-green;
}

.bg-blue {
  background-color: $sk-blue;
}

.bg-gray-light {
  background-color: $brand-gray-light;
}

.text-ink {
  color: $black;
}

.container-lg {
  max-width: map-get($container-max-widths, "lg");
}

.container-md {
  max-width: map-get($container-max-widths, "md");
}

.container-sm {
  max-width: map-get($container-max-widths, "sm");
}
