.about-us {
  @extend %page-main-base;
}

.about-skylight-img {
  @include container-fluid-base;
  @extend %img-fluid;
  @extend %text-heavy-col-base;
  @include mb-7;
  @extend %mb-md-8;
  width: 100%;
}

.about-info {
  @include container-fluid-base;
}

.about-info-row {
  @extend %row;
}

.about-info-col {
  @extend %col-sm-11;
  @extend %col-md-10;
  @extend %col-lg-6;
  @extend %mx-auto;
  @extend %text-left;
}

.employees {
  @extend %wide-column;
}

.employees-row {
  @extend %row;
}

@include semantic-card('employee', $clickable: false, $title-alignment: center,
  $title-color: $body-color, $subtitle-color: $text-muted, $footer-border-off: false,
  $card-img-height: 275px);

@include multi-col-spacing('employee-col', $mb-size: 4, $mb-md-size: 5);

.employee-footer {
  font-size: $font-size-large;

  a {
    @include link-decoration($gray-light, $brand-primary, none, none);

    &:not(:first-child) {
      padding-left: 10px;
    }
  }

  @include media-breakpoint-up(sm) {
    font-size: $font-size-x-large;
  }
}
