.about-us {
  h2 {
    margin-bottom: 1.5em;
    margin-top: 2em;
    text-align: center;
  }
}

.about-info {
  @include grid-container;
  max-width: 840px !important;
}

.employees {
  @include grid-container;
  max-width: 1140px !important;
}

.employees-row {
  @extend %row;
}

@include semantic-card(
  "employee",
  $clickable: false,
  $title-alignment: left,
  $title-color: $body-color,
  $subtitle-color: $text-muted,
  $footer-border-off: false,
  $card-img-height: 275px
);

.employee-subtitle {
  font-family: $font-family-mono;
  font-weight: $font-weight-medium;
}

@include multi-col-spacing("employee-col", $mb-size: 4, $mb-md-size: 5);

.employee-footer {
  font-size: $font-size-large;

  a {
    @include link-decoration($gray-light, $brand-primary, none, none);
  }

  @include media-breakpoint-up(sm) {
    font-size: $font-size-x-large;
  }
}
