.accessibility-guide {
  .form-check-label {
    padding-left: 0.5rem;
    margin-bottom: 0; // Override default `<label>` bottom margin
    cursor: pointer;
  }

  .h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
  }

  .e-h2 {
    font-size: 1.225rem;
  }

  .e-h3 {
    font-size: 1.125rem;
    text-transform: capitalize;
  }

  .e-h4 {
    font-size: 1.025rem;

  }

  .e-h5 {
    font-size: 0.925rem;
  }
}

.example--code {
  background-color: white;
}

.page-work-toolkits-accessibility-guide-color {
  .example + p {
    margin-bottom: 2em;
  }
}

.highlight {
  background-color: $gray-1 !important;
  font-family: $font-family-mono !important;

  .nt, .nc {
    color: $blue-200 !important;
  }

  .na, .m, .nb {
    color: $green-300-a !important;
  }

  .s, .sa, .dl, .nl {
    color: $red-200 !important;
  }

  .cp {
    color: $black !important;
  }

  * {
    font-weight: normal !important;
  }

  code {
    font-family: $font-family-mono !important;
    font-weight: normal !important;
  }
}

.highlighter-rouge {
  &.language-html,
  &.language-css,
  &.language-js {
    border: 1px solid $gray-lightest;
    border-radius: 3px !important;
    margin-bottom: 1rem;
  }
}

.example {
  .form-group {
    label {
      font-weight: bold;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  + .example {
    margin-top: 2rem;
  }

 + .language-html.highlighter-rouge {
  border-top: none;
  margin-top: calc(-1rem - 5px);

    .highlight {
      border-top-left-radius: 0 !important;
      border-top-right-radius: 0 !important;
    }
  }
}

pre {
  margin-bottom: 0;
}

code {
  font-family: $font-family-mono;
}

p code {
  background-color: rgba(0,0,0,0.13) !important;
}

iframe {
  border: none;
}

.page-work-toolkits-accessibility-guide-training-videos {
  .example {
    width: min-content;
  }
}
