.accessibility-guide {

  blockquote {
    @extend .callout--alt;
  }

  fieldset {
    border: 1px solid #393939;
    border-radius: 0.6rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
  }

  legend {
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
    padding: 0;
  }
  .form-check-label {
    padding-left: 0.5rem;
    margin-bottom: 0; // Override default `<label>` bottom margin
    cursor: pointer;
  }

  .passes:after {
    display: inline-block;
    content: '  ';
    background-image: url('/img/check-circle-solid.svg');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin-left: 5px;
  }

  .fails:after {
    display: inline-block;
    content: '  ';
    background-image: url('/img/times-circle-solid.svg');
    background-size: 14px 14px;
    height: 14px;
    width: 14px;
    margin-left: 5px;
  }
  .h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
  }

}
