.accessibility-guide {

  blockquote {
    /*@extend .callout--alt;*/
  }

  /*fieldset {
    border: 1px solid #393939;
    border-radius: 0.6rem;
    padding: 1.2rem;
    margin-bottom: 2rem;
  }

  legend {
    font-size: 1.5rem;
    font-weight: 700;
    border: 0;
    padding: 0;
  }*/
  .form-check-label {
    padding-left: 0.5rem;
    margin-bottom: 0; // Override default `<label>` bottom margin
    cursor: pointer;
  }

  .passes {
    color: $green-300;

    &::after {
      display: inline-block;
      content: '  ';
      background-image: url('/img/accessibility/check-circle.svg');
      color: $brand-success;
      background-size: 18px 18px;
      height: 18px;
      width: 18px;
      margin-bottom: -2px;
      margin-left: 0.5rem;
    }
  }

  .fails {
    color: $red-200;

    &::after {
      display: inline-block;
      content: '  ';
      background-image: url('/img/accessibility/times-circle.svg');
      background-size: 18px 18px;
      color: $sk-red;
      height: 18px;
      width: 18px;
      margin-bottom: -2px;
      margin-left: 0.5rem;
    }
  }

  .h3 {
    font-size: 1.25rem;
    margin-bottom: 0.5em;
  }

  .e-h2 {
    font-size: 1.225rem;
  }

  .e-h3 {
    font-size: 1.125rem;
    text-transform: capitalize;
  }

  .e-h4 {
    font-size: 1.025rem;

  }

  .e-h5 {
    font-size: 0.925rem;
  }

}

.callout--example,
.example {
  margin-top: 1em;
  margin-bottom: 1rem;
  font-size: 1.125rem;
  padding: 1rem;
  border: 1px solid $gray-lightest;
  border-radius: 3px;

  + p {
    margin-bottom: 2em;
  }

  .form-group {
    label {
      font-weight: bold;
    }
  }

  *:last-child {
    margin-bottom: 0;
  }

  + .example {
    margin-top: 2rem;
  }
}

.highlight {
  background-color: $gray-1 !important;
  font-family: $font-family-mono !important;

  .nt, .nc {
    color: $blue-200 !important;
  }

  .na, .m, .nb {
    color: $green-200 !important;
  }

  .s, .sa, .dl, .nl {
    color: $red-200 !important;
  }

  .cp {
    color: $black !important;
  }

  * {
    font-weight: normal !important;
  }

  code {
    font-family: $font-family-mono !important;
    font-weight: normal !important;
  }
}

.highlighter-rouge {
  &.language-html,
  &.language-css {
    border: 1px solid $gray-lightest;
    border-radius: 3px !important;
    margin-bottom: 1rem;
  }
}

.example + .language-html.highlighter-rouge {
  border-top: none;
  margin-top: calc(-1rem - 5px);

  .highlight {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
  }
}

pre {
  margin-bottom: 0;
}

code {
  font-family: $font-family-mono;
}

p code {
  background-color: rgba(0,0,0,0.13) !important;
}

iframe {
  border: none;
}
