.our-blog {
  @extend %page-main-base;
}

.blog-posts-row {
  @extend %row;
}

.page-blog {
  article {
    @include media-breakpoint-up(md) {
      .blog-post-img {
        height: 178px;
      }

      // &:nth-child(1) {
      //   @include make-col(12);

      //   .blog-post-title {
      //     font-size: $font-size-x-large;
      //   }

      //   .blog-post-card {
      //     flex-direction: inherit;
      //   }

      //   .blog-post-img {
      //     @include make-col(8);
      //     border-top-right-radius: 0;
      //     height: inherit;
      //   }

      //   .post-card-content {
      //     @include make-col(4);
      //   }
      // }

      // &:nth-child(2),
      // &:nth-child(3) {
      //   @include make-col(6);

      //   .blog-post-title {
      //     font-size: $font-size-x-large;
      //   }

      //   .blog-post-img {
      //     height: 270px;
      //   }
      // }
    }
  }
}

.project-col.project-col,
.blog-post-col.blog-post-col {
  @include media-breakpoint-up(md) {
    margin-bottom: 3rem !important;
    // Remove bottom margin from 3rd to last article
    // &:nth-last-child(3) {
    //   margin-bottom: 0 !important;
    // }
  }
}

@include semantic-card("blog-post");
@include multi-col-spacing("blog-post-col", $mb-size: 4, $mb-md-size: 5);

.blog-post-footer {
  line-height: 1;
  font-family: $font-family-mono;
  padding-bottom: 1.25rem;
  padding-top: 0;

  a {
    border-bottom: none;

    &:hover,
    &:focus {
      border-bottom: none;
    }
  }
}

.blog-post-footer-cta {
  color: $link-color;

  &:hover {
    color: $link-hover-color;
  }
}

.post-footer__see-all {
  display: inline-block;
  font-family: $font-family-mono;
  font-size: $font-size-small;
  margin-top: 3rem;
}

.blog-post-title {
  line-height: 1.3;
  font-size: $font-size-x-large;
}

.blog-post-text {
  margin-top: 1rem !important;
}

.post-card-content {
  @include media-breakpoint-up(md) {
    display: flex;
    flex-direction: column;
  }
}

.pagination-icon {
  font-size: $font-size-small;
}
