.nav-link--current {
  color: $brand-primary;
  font-weight: bold;
}

.page-brand {
  &:not(.page-brand-guidelines) {
    footer {
      border-top: 1px solid $gray-lightest;
      margin-top: 2rem;
    }
  }

  .nav-link {
    background-image: none !important;
  }

  .grid-container,
  .header,
  .footer {
    max-width: $size-desktop-lg;
  }

  .hero-heading {
    font-size: 3rem;
  }
}

.page-brand-guidelines {
  h1 {
    line-height: 1;
  }

  .blog-post-footer {
    border-bottom-width: 8px !important;
    border-bottom-style: solid !important;
  }
}

.card--identity {
  .blog-post-footer {
    border-bottom-color: $sk-blue-light !important;
  }
}

.card--writing {
  .blog-post-footer {
    border-bottom-color: $sk-blue !important;
  }
}

.card--illustration {
  .blog-post-footer {
    border-bottom-color: $green-300 !important;
  }
}

.card--outreach {
  .blog-post-footer {
    border-bottom-color: $red-200 !important;
  }
}

.card--resources {
  .blog-post-footer {
    border-bottom-color: $sk-yellow !important;
  }
}

.brand-hero__content {
  @include media-breakpoint-up(md) {
    height: 450px;
  }
}

.brand__quick-links {
  .kicker {
    color: $blue-40;
  }

  .quick-links__list {
    column-count: 2;
    font-family: $font-family-mono;
    font-size: $font-size-sm;
    line-height: 2.2;

    a {
      color: white;
    }
  }
}

.page--brand-identity {
  .hero-banner {
    background-color: $sk-blue-light;
  }
}

.page--brand-writing {
  .hero-banner {
    background-color: $sk-blue;
  }
}

.page--brand-illustration {
  .hero-banner {
    background-color: $green-300;
  }
}

.page--brand-outreach {
  .hero-banner {
    background-color: $red-200;
  }
}

.page--brand-resources {
  .hero-banner {
    background-color: $sk-yellow;
  }

  .brand-hero__content * {
    color: $heading-color;
  }
}
