.nav-link--current {
  color: $brand-primary;
  font-weight: bold;
}

.page-brand {
  &:not(.page-brand-guidelines) {
    footer {
      border-top: 1px solid $gray-lightest;
      margin-top: 1rem;
    }
  }
}
