.page-careers-career-pathways {
  .hero-banner {
    .hero-container {
      max-width: 100%;
    }
  }
}

.page-career-pathways-role {
  h3:not(#required-skills) {
    margin-top: 0;
    padding-top: 1.5em;
  }

  h2 + h3 {
    margin-top: -0.5em !important;
  }

  h4 {
    font-size: $font-size-large;
  }

  h5 {
    font-size: $font-size-medium;
  }

  .post-footer__see-all {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.stepper-wrapper {
  display: flex;
  margin-bottom: 1.5rem;
  margin-top: 27px;
  padding-left: 0 !important;

  @media screen and (max-width: 360px) {
    display: none;
  }
}

.stepper-item {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-inline: 1.5%;
  padding-bottom: 0 !important;
  padding-left: 0 !important;

  &::before {
    position: absolute;
    content: "" !important;
    width: 100%;
    top: 1.25rem;
    left: -50%;
    z-index: 2;
  }

  &::after {
    @media screen and (min-width: 410px) {
      position: absolute;
      content: "";
      border-bottom: 2px solid $gray-20;
      width: 100%;
      top: 1rem;
      left: 50%;
      z-index: 2;
    }
  }

  &[aria-current="true"] {
    .step-name {
      color: $green-300-a;
      font-weight: bold;
    }
  }

  &.completed {
    .step-name {
      color: $green-300;
    }

    &::after {
      @media screen and (min-width: 410px) {
        position: absolute;
        content: "";
        border-bottom: 2px solid $green-40;
        width: 100%;
        top: 1rem;
        left: 50%;
        z-index: 3;
      }
    }
  }

  &:first-child::before {
    content: none;
  }

  &:last-child::after {
    content: none;
  }
}

.step-counter {
  position: relative;
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-bottom: 6px;
  background-color: white;

  @media screen and (min-width: 410px) {
    padding-inline: 3px;
  }
}

.step-name {
  color: $gray-80;
  font-family: $font-family-mono;
  font-size: $font-size-xx-small;
  font-weight: 500;
  text-transform: uppercase;

  @include media-breakpoint-down(xs) {
    display: none;
  }
}

[aria-current="true"] {
  .step-name {
    @include media-breakpoint-down(xs) {
      display: block;
    }
  }
}

.step-counter--current-mobile {
  @include media-breakpoint-up(sm) {
    display: none;
  }
}

@include media-breakpoint-down(xs) {
  .step-counter {
    margin-bottom: 0;
  }

  .step-counter--current {
    display: none;
  }

  .stepper-item[aria-current="true"] {
    flex-direction: row;
    @media screen and (min-width: 410px) {
      margin-left: 1.5%;
      margin-right: calc(1.5% + 3px);
    }

    &:first-child {
      margin-left: 0;
    }

    .step-counter {
      padding-right: 0;

      &:first-child {
        margin-left: 0;
      }

      &:last-child {
        margin-right: 0;
      }
    }

    .step-name {
      z-index: 3;
      padding-top: 3px;
      border-top-right-radius: 1rem;
      border-bottom-right-radius: 1rem;
      padding-right: 0.75rem;
      align-self: stretch;
      border-left: none !important;
      padding-left: 7px;
      background: $blue-40;
      border: 1px solid $blue-200;
      white-space: nowrap;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 3px;
        right: -3px;
        background: white;
      }
    }
  }
}
