.page-careers-career-pathways {
  .hero-banner {
    .hero-container {
      max-width: 100%;
    }
  }
}

.page-career-pathways-role {
  h4 {
    font-size: $font-size-large;
  }

  h5 {
    font-size: $font-size-medium;
  }

  .post-footer__see-all {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}
