%page-hdr-base {
  @extend .container;
  @extend .text-center;
  @extend .mt-5;
  @extend .mb-5;

  h1 {
    @extend .mb-0;
  }
}

.page-hdr-1 {
  @extend %page-hdr-base;
  @extend .mb-md-5;
}

.page-hdr-2 {
  @extend %page-hdr-base;
  @extend .mb-md-6;
}

%page-hdr-content-base {
  @extend .col-11;
  @extend .mx-auto;

  p {
    @extend .mb-0;
    line-height: 1.75;
  }

  img {
    @extend .mt-5;
    @extend .img-fluid;
  }
}

.page-hdr-content-1 {
  @extend %page-hdr-content-base;

  p {
    @extend .mt-4;
  }
}

.page-hdr-content-2 {
  @extend %page-hdr-content-base;
  @extend .col-11;
  @extend .col-lg-8;

  p {
    @extend .mt-5;
    @extend .text-left;
  }
}

%page-main-base {
  @extend .text-center;

  h1 {
    @extend .mb-0;
  }

  h2 {
    @extend .font-weight-normal;
    @extend .mb-0;
  }
}

.page-block-hdr-1 {
  @extend .container;
  @extend .mb-4;
}

.page-block-hdr-2 {
  @extend .container;
  @extend .mb-4;
  @extend .mb-md-5;
}

.page-block-hdr-3 {
  @extend .container;
  @extend .mb-5;
  @extend .mb-md-6;
}

.page-block {
  &:not(:last-child) {
    @extend .mb-5;
    @extend .mb-md-6;
  }
}

.page-block.extra-space {
  @extend .mb-6;
  @extend .mb-md-7;
}

.image-block {
  @extend .container;
  @extend .mb-5;
  @extend .mb-md-6;

  img {
    @extend .img-fluid;
    height: auto;
    width: 100%;
  }
}

.text {
  a {
    @include link-decoration($text-link-color, $text-link-hover-color,
      $text-link-border, $text-link-border-hover);
  }
}

%btn-page {
  @extend %btn-base;
  @extend .btn-secondary;
  @extend .btn-outline-secondary;
  @extend .btn-lg;
}

%text-heavy-col-base {
  @extend .col-11;
  @extend .col-sm-10;
  @extend .col-md-9;
  @extend .col-lg-8;
  @extend .mx-auto;
}

%narrative-base {
  @extend .text;
  @extend %list-base;

  h2 {
    @extend .mb-3;
    font-size: $font-size-xx-large;
    color: $brand-primary;

    &:not(:first-child) {
      @extend .mt-5;
    }
  }

  p:last-child {
    @extend .mb-0;
  }

  img {
    @extend .img-fluid;
    @extend .mt-3;
    @extend .mb-4;
  }
}

.narrative {
  @extend %text-heavy-col-base;
  @extend %narrative-base;

  h2, p, ul {
    @extend .text-left;
  }

  h2 {
    @extend .font-weight-bold;
  }

  a.btn-page {
    @extend %btn-page;
  }
}

%text-lead-col-base {
  @extend %text-heavy-col-base;
  @extend .text-left;
}

.text-lead {
  @extend %text-lead-col-base;
  @extend .mb-5;

  p {
    @extend .mb-0;
  }
}
