%page-header-base {
  @extend %container;
  @extend %text-center;
  @extend %my-5;
}

.page-header-1 {
  @extend %page-header-base;
  @extend %mb-md-5;
}

.page-header-2 {
  @extend %page-header-base;
  @extend %mb-md-6;
}

.page-header-title-1 {
  @extend %col;
}

.page-header-title-2 {
  @extend %text-heavy-col-base;
}

%page-header-content-base {
  @extend %col-11;
  @extend %mx-auto;

  p {
    @extend %mt-4;
    @extend %mb-0;
    line-height: 1.75;
  }
}

.page-header-content-1 {
  @extend %page-header-content-base;
}

.page-header-content-2 {
  @extend %page-header-content-base;
  @extend %col-lg-8;

  p {
    @extend %mt-5;
    @extend %text-left;
  }
}

.page-header-content-3 {
  @extend %page-header-content-base;
  @extend %text-heavy-col-base;
}

%page-main-base {
  @extend %text-center;

  h2 {
    @extend %font-weight-normal;
  }
}

.page-block-header-1 {
  @extend %container;
  @extend %mb-4;
}

.page-block-header-2 {
  @extend %container;
  @extend %mb-4;
  @extend %mb-md-5;
}

.page-block-header-3 {
  @extend %container;
  @extend %mb-5;
  @extend %mb-md-6;
}

.page-block {
  &:not(:last-child) {
    @extend %mb-5;
    @extend %mb-md-6;
  }

  &.extra-space {
    @extend %mb-6;
    @extend %mb-md-7;
  }
}

.image-block {
  @extend %container;
  @extend %mb-5;
  @extend %mb-md-6;

  img {
    @extend %img-fluid;
  }
}

%text,
.text {
  a {
    @include link-decoration($text-link-color, $text-link-hover-color,
      $text-link-border, $text-link-border-hover);
  }
}

%btn-page {
  @extend %btn-base;
  @extend %btn-secondary;
  @extend %btn-outline-secondary;
  @extend %btn-lg;
}

%text-heavy-col-base {
  @extend %col-11;
  @extend %col-sm-10;
  @extend %col-md-9;
  @extend %col-lg-8;
  @extend %mx-auto;
}

%narrative-base {
  @extend %text;
  @extend %list-base;

  h2 {
    @extend %mb-3;
    color: $brand-primary;
    font-size: $font-size-xx-large;

    &:not(:first-child) {
      @extend %mt-5;
    }
  }

  p:last-child {
    @extend %mb-0;
  }

  img {
    @extend %img-fluid;
    @extend %mt-3;
    @extend %mb-4;
  }
}

%narrative-col {
  @extend %text-heavy-col-base;
  @extend %narrative-base;

  h2,
  p,
  ul {
    @extend %text-left;
  }

  h2 {
    @extend %font-weight-bold;
  }
}

%text-lead-col-base {
  @extend %text-heavy-col-base;
  @extend %text-left;
}

%text-lead-col,
.text-lead-col {
  @extend %text-lead-col-base;
  @extend %mb-5;

  p {
    @extend %mb-0;
  }
}
