.page-connect {
  .page-subfooter {
    background-color: $sk-yellow;

    * {
      color: $body-color;
    }

    .page-subfooter__divider {
      background-color: $ochre-200;
    }
  }
}

.badge-sub--container {
  display: inline-block;
  margin-left: 0.5em;
  margin-top: -5px;
  vertical-align: text-top;
}

.badge-sub {
  background-color: $ochre-40;
  color: $black;
  font-weight: normal;
  letter-spacing: 0.025em;
  text-transform: uppercase;
}
