.page-ditap-content {
  .subnav-col {
    margin-left: -15px !important;
  }

  h2 {
    font-size: $font-size-xx-large;
    margin-top: 3.5rem;
  }

  h3 {
    font-size: $font-size-x-large;
  }

  h2,
  h3 {
    + p {
      margin-top: 0.75em;
    }
  }

  p {
    margin-bottom: 0;
  }

  .sticky {
    position: sticky;
    top: 1rem;
  }

  .employee-img {
    background-color: #f2f2f2;

    @include media-breakpoint-up(lg) {
      height: 226px;
    }
  }

  .accordion-card-body {
    font-size: $font-size-small;

    *:last-child {
      margin-bottom: 0;
    }
  }
}

.quote-container {
  box-shadow: 800px 0px #f4c55c;
  line-height: 1.5;

  &:before,
  &:after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
  }

  &:before {
    box-shadow: -100px 0;
  }

  &:after {
    box-shadow: 100px 0;
  }


  .text-intro {
    margin-top: 1em;
  }
}

.text-grid {
  > * {
    margin-top: 2rem;
  }

  h3 {
    font-size: $font-size-small;
    letter-spacing: 0.05em;
    line-height: 1.375;
    text-transform: uppercase;
  }

  p {
    font-size: $font-size-small;
    margin-bottom: 0;

    &:first-of-type {
      // margin-top: 1em;
    }
  }
}

.text-intro {
  font-size: $font-size-large;
  line-height: 1.5;
  
  h2 + & {
    margin-top: 0.5em !important;
  }
}

.quote-text {
  font-size: $font-size-large;
}

.image-list {
  > div {
    margin-top: 1.5rem;
  }

  img {
    width: 100%;
  }
}

.tuition {
  border: 2px solid #f2f2f2;

  p {
    font-size: $font-size-small;
    margin-top: 12px;
  }
}

.form-small {
  max-width: 392px;
}
