.filter {
  @include container-fluid-base;
  @extend %mt-7;

  h1 {
    @extend %text-center;
    @extend %mb-5;
    @extend %mb-md-5;
    @extend %sr-only;
  }
}

.filter-row {
  @extend %row;
}

.filter-col {
  @extend %text-heavy-col-base;
}

.filter-header {
  @extend %d-flex;
  @extend %justify-content-start;
  @extend %pb-4;
  border-bottom: 1px solid $gray-lightest;

  .employee-gradient {
    width: 3rem;

    &::after {
      height: 3rem;
      width: 3rem;
    }
  }

  @include media-breakpoint-up(md) {
    .employee-gradient {
      width: 4rem;

      &::after {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

.filter-image {
  @extend %rounded-circle;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray-lightest;
  height: 3rem;
  margin-left: 3px;

  @include media-breakpoint-up(md) {
    box-shadow: 0 0 0 6px $white, 0 0 0 7px $gray-lightest;
    height: 4rem;
    margin-left: 7px;
  }
}

.filter-title-wrapper.filter-employee {
  @extend %ml-2;
}

.filter-title {
  font-size: $font-size-xx-small;
}

.filter-subtitle {
  @extend %mt-1;
  @extend %mb-0;
  @extend %text-uppercase;
  @extend %text-muted;
  font-size: $font-size-xxx-small;
}

.filter-count {
  @extend %ml-auto;
  @extend %text-muted;
  @extend %font-italic;
  font-size: $font-size-xx-small;
}

@include media-breakpoint-up(md) {
  .filter-title-wrapper.filter-employee {
    @include ml-3;
  }

  .filter-title {
    font-size: $font-size-x-large;
  }

  .filter-subtitle {
    font-size: $font-size-small;
  }

  .filter-count {
    font-size: $font-size-medium;
  }

  .filter-item-description {
    font-size: $font-size-x-large;
  }
}

.filter-item {
  @extend %py-4;
  @extend %py-md-5;
  border-bottom: 1px solid $gray-lightest;
}

.filter-item-link {
  @include link-decoration($filter-item-link-color, $filter-item-link-hover-color,
    $filter-item-link-border, $filter-item-link-border-hover);
}

.filter-item-title {
  @extend %mb-2;
}

.filter-item-description {
  @extend %mb-0;
  font-size: $font-size-large;
}

.filter-no-results {
  @extend %mt-5;
}
