.filter {
  @include grid-container;
  @extend %mt-7;
  max-width: $size-md !important;

  h1 {
    @extend %text-center;
    @extend %mb-5;
    @extend %mb-md-5;
    @extend %sr-only;
  }
}

.filter-col {
  @extend %text-heavy-col-base;
}

.filter-header-title {
  display: flex;
  align-items: center;
}

.filter-header {
  padding-bottom: 0.5rem;

  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1.5rem;
  }

  .employee-gradient {
    width: 5rem;
  }
}

.filter__button {
  border-top: none !important;
}

.filter-image {
  @extend %rounded-circle;
  height: 5rem;
  width: 5rem;
}

.filter-header-rect {
  @extend %d-flex;
  @extend %justify-content-start;
  @extend %pb-4;
  border-bottom: 1px solid $gray-lightest;

  .employee-gradient {
    position: relative;
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 0 0 6px $white, 0 0 0 7px $gray-lightest;

    &::after {
      height: 3rem;
      width: 3rem;
    }
  }

  @include media-breakpoint-up(sm) {
    .employee-gradient {
      width: 4rem;
      height: 4rem;

      &::after {
        height: 4rem;
        width: 4rem;
      }
    }
  }
}

.filter-image-rect {
  @extend %rounded-circle;
  height: 3rem;

  @include media-breakpoint-up(sm) {
    box-shadow: 0 0 0 6px $white, 0 0 0 7px $gray-lightest;
    height: 4rem;
    margin-left: -1.5rem !important;
  }

  width: auto;
  height: 100%;
  margin-left: -1.15rem !important;
}

.filter-title-wrapper.filter-employee {
  @extend %ml-2;
}

.filter-title {
  font-size: $font-size-x-large;
}

.filter-subtitle {
  @extend %mt-1;
  @extend %mb-0;
  @extend %text-uppercase;
  @extend %text-muted;
  font-family: $font-family-mono;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
}

.filter-count {
  @extend %ml-auto;
  @extend %text-muted;
  font-family: $font-family-mono;
  font-size: $font-size-small;
  font-weight: $font-weight-medium;
  margin-top: 1.5rem;
  text-transform: uppercase;

  @include media-breakpoint-up(sm) {
    margin-top: 0;
  }
}

@include media-breakpoint-up(sm) {
  .filter-title-wrapper.filter-employee {
    @include ml-3;
  }
}

.filter-item {
  @extend %py-4;
  @extend %py-md-5;
  border-bottom: 1px solid $gray-lightest;
}

.filter-item-link {
  @include link-decoration(
    $filter-item-link-color,
    $filter-item-link-hover-color,
    $filter-item-link-border,
    $filter-item-link-border-hover
  );
}

.filter-item-title {
  @extend %mb-2;
  font-size: $font-size-x-large;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-xxx-large;
  }
}

.filter-item-description {
  font-size: $font-size-medium;

  p {
    margin-bottom: 0;
  }
}

.filter-no-results {
  @extend %mt-5;
}
