.filter {
  @extend %mt-7;

  h1 {
    @extend %text-center;
    @extend %mb-5;
    @extend %mb-md-5;
    @extend %sr-only;
  }
}

.filter-col {
  @extend %col;
  @extend %col-sm-11;
  @extend %col-md-9;
  @extend %col-lg-7;
  @extend %mx-auto;
}

.filter-header {
  @extend %d-flex;
  @extend %justify-content-start;
  @extend %pb-4;
  border-bottom: 1px solid $gray-lightest;
}

.filter-image {
  @extend %rounded-circle;
  box-shadow: 0 0 0 2px $white, 0 0 0 3px $gray-lightest;
  height: 3rem;
  margin-left: 3px;
}

.filter-title-wrapper.filter-employee {
  @extend %ml-2;
}

.filter-title {
  font-size: $font-size-xx-small;
}

.filter-subtitle {
  @extend %mt-1;
  @extend %mb-0;
  @extend %text-uppercase;
  @extend %text-muted;
  font-size: $font-size-xxx-small;
}

.filter-count {
  @extend %ml-auto;
  @extend %text-muted;
  @extend %font-italic;
  font-size: $font-size-xx-small;
}

@include media-breakpoint-up(md) {
  .filter-image {
    box-shadow: 0 0 0 6px $white, 0 0 0 7px $gray-lightest;
    height: 4rem;
    margin-left: 7px;
  }

  .filter-title-wrapper.filter-employee {
    @include ml-3;
  }

  .filter-title {
    font-size: $font-size-x-large;
  }

  .filter-subtitle {
    font-size: $font-size-small;
  }

  .filter-count {
    font-size: $font-size-medium;
  }
}

.filter-item {
  @extend %py-4;
  @extend %py-md-5;
  border-bottom: 1px solid $gray-lightest;
}

.filter-item-link {
  @include link-decoration($filter-item-link-color, $filter-item-link-hover-color,
    $filter-item-link-border, $filter-item-link-border-hover);
}

.filter-item-title {
  @extend %mb-2;
}

.filter-item-description {
  @extend %mb-0;
}

.filter-no-results {
  @extend %mt-5;
}
