.join-us {
  @extend %col-sm-11;
  @extend %col-lg-8;
  @extend %mx-auto;
  @extend %mt-6;
}

.subnav-col {
  position: sticky;
  top: 0;

  ul {
    @extend %nav;
    @extend %flex-column;
    @extend %d-inline-flex;
  }

  li {
    @extend %nav-item;

    &:not(:last-child) {
      @extend %mb-2;
    }
  }

  a {
    display: block;

    @extend %nav-link;
    @extend %nav-link-decoration;
    @extend %p-0;

    border-left: 7px solid $white;

    &:hover,
    &:focus,
    &.active {
      border-left-color: $nav-link-border-color;
    }

    span {
      display: block;
      border-bottom: 1px solid $white;
      margin-left: 0.25rem;

      &:hover {
        border-bottom: 1px solid $nav-link-border-color;
      }
    }
  }
}

.join-content-col {
  @extend %col;
  @extend %col-md-8;
  @extend %mx-auto;
  @extend %text;
  @extend %left-justified-list;
  @extend %flex-last;

  form {
    @extend %mt-5;
  }

  h2 {
    font-size: $font-size-xx-large;

    &:not(:first-child) {
      @extend %mt-4;
      @extend %mt-md-5;
    }

    @extend %mb-3;
  }

  p:last-child,
  ul:last-child {
    @extend %mb-0;
  }
}

.join-content-col > div {
  min-height: 500px;
}

.open-positions-list {
  ul {
    @extend %mt-2;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    &:not(:first-child) {
      @extend %mt-3;
    }
  }

  p  {
    margin: 0;
    font-size: $font-size-h6;
    color: $gray;
  }
}
