.join-us {
  @include container-fluid-base;
  @extend %mt-6;
}

.subnav-col {
  @extend %col-12;
  @extend %col-md-4;
  @extend %mx-auto;
  @extend %mb-5;
  @extend %mb-md-0;

  ul {
    @extend %nav;
    @extend %flex-column;
    @extend %d-inline-flex;
  }

  li {
    @extend %nav-item;

    &:not(:last-child) {
      @extend %mb-2;
    }

    border-left: 7px solid $white;
    padding-left: .5rem;

    &:hover,
    &:focus,
    &.current {
      border-left: 7px solid $nav-link-border-color;
    }
  }

  a {
    @extend %nav-link;
    @extend %nav-link-decoration;
    @extend %p-0;
    border-bottom: 1px solid $white;

    &:hover {
      border-bottom: 1px solid $nav-link-border-color;
    }
  }
}

.join-content-col {
  @extend %col;
  @extend %col-md-8;
  @extend %mx-auto;
  @extend %text;
  @extend %left-justified-list;
  @extend %flex-last;

  form {
    @extend %mt-5;
  }

  h2 {
    color: $brand-primary;
    font-size: $font-size-xx-large;

    &:not(:first-child) {
      @extend %mt-4;
      @extend %mt-md-5;
    }

    @extend %mb-3;
  }

  p:last-child,
  ul:last-child {
    @extend %mb-0;
  }
}

.open-positions-list {
  ul {
    @extend %list-item-unstyled;
    @extend %mt-4;

    li:not(:last-child) {
      @extend %pb-4;
    }

    p {
      font-size: $font-size-x-small;
    }
  }
}

.join-us-form {
  .social-button{
    background-color: white;
    border: none;
    &:active{
      border: none;
    }
    &:hover i{
      color: $form-icon-hover-color;
    }
  }
  .social-button:not(.collapsed) i{
    color: $form-icon-hover-color;
  }
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {border:0;padding:0;margin:0;}
