.join-us {
  @extend .container;
  @extend .mt-6;
}

.subnav  {
  @extend .col-11;
  @extend .col-md-4;
  @extend .mx-auto;
  @extend .mb-5;
  @extend .mb-md-0;

  ul {
    @extend .nav;
    @extend .flex-column;
    @extend .d-inline-flex;
  }

  li {
    @extend .nav-item;

    &:not(:last-child) {
      @extend .mb-2;
    }

    padding-left: 0.5rem;
    border-left: 7px solid $white;

    &:hover,
    &:focus,
    &.current {
      border-left: 7px solid $nav-link-border-color;
    }
  }

  a {
    @extend .nav-link;
    @extend %nav-link-decoration;
    padding: 0;
    border-bottom: 1px solid $white;

    &:hover {
      border-bottom: 1px solid $nav-link-border-color;
    }
  }
}

.join-content {
  @extend .col-11;
  @extend .col-md-8;
  @extend .mx-auto;
  @extend .text;
  @extend %list-base;

  form {
    @extend .mt-5;
  }

  h2 {
    font-size: $font-size-xx-large;
    color: $brand-primary;

    &:not(:first-child) {
      @extend .mt-4;
      @extend .mt-md-5;
    }

    @extend .mb-3;
  }

  p:last-child {
    @extend .mb-0;
  }
}
