.landing-page {
  @extend %text-center;
}

.landing-jumbotron {
  @extend %jumbotron;
  @extend %jumbotron-fluid;
  @extend %mb-0;
  background-image: url('../img/government-digitization.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-jumbotron-content {
  @extend %container-fluid;
  @extend %py-4;
  @extend %py-md-5;
  color: $jumbotron-color;

  h1 {
    color: $white;
  }

  p {
    @extend %lead;
    @extend %mt-4;

    @include media-breakpoint-down(xs) {
      font-size: $font-size-medium;
    }
  }

  a {
    @extend %btn-base;
    @extend %btn-icon-right;
    @extend %btn-primary;
    @extend %btn-lg;
    @extend %text-uppercase;
    @extend %mt-4;
  }
}

.landing-body {
  @extend %container-fluid;
  @extend %mt-5;
  @extend %mt-md-7;
  line-height: 1.5;
}

.landing-content-row,
.landing-info-row {
  @extend %row;
}

.landing-content-row-margin,
.landing-info-row {
  @extend %mb-6;
  @extend %mb-md-8;
}

.landing-content-primary-col,
.landing-content-secondary-col,
.landing-info-text-col,
.landing-info-img-col {
  @extend %col-12;
  @extend %col-md-10;
  @extend %col-sm-9;
  @extend %mx-auto;
}

.landing-content-primary-col {
  @extend %col-lg-9;
  @extend %mb-4;
}

.landing-content-secondary-col {
  @extend %col-lg-7;

  p {
    @extend %mb-0;

    @include media-breakpoint-up(md) {
      font-size: $font-size-x-large;
    }
  }
}

.landing-content-ctas-col {
  @extend %col-12;
  @extend %mt-5;
  @extend %mt-md-6;
}

.landing-content-cta-wrapper {
  @extend %d-lg-inline-block;

  &:first-child {
    @extend %mb-3;
    @extend %mb-lg-0;
    @extend %mr-lg-5;
  }

  a {
    @extend %btn-page;
    min-width: 260px;
  }
}

.landing-info-text-col,
.landing-info-img-col {
  @extend %d-flex;
  @extend %align-items-center;
}

.landing-info-text-col {
  @extend %col-lg-5;
  @extend %text-lg-left;
}

.landing-info-text {
  h3 {
    @extend %mb-3;
  }

  p {
    @extend %mb-0;
  }
}

.landing-info-img-col {
  @extend %col-lg-6;
  @extend %mt-4;
  @extend %mt-lg-0;
}

.landing-info-img {
  img {
    @extend %img-fluid;
    width: 100%;
  }
}
