.landing-page {
  text-align: center;
}

.lp-headline {
  @extend .jumbotron;
  @extend .jumbotron-fluid;
  @extend .mb-0;
}

.lp-headline-content {
  @extend .container;

  @include media-breakpoint-down(xs) {
    .lead { font-size: $font-size-base; }
  }
}

.lp-body {
  @extend .container;
  img { @extend .img-fluid; }
}

.lp-body-heading-wrapper, .lp-body-content-wrapper, .lp-body-cta-wrapper {
  @extend .row;
}

.lp-body-heading, .lp-body-cta  {
  @extend .col;
}

.lp-body-heading img {
  @extend .mt-4;
}

.lp-body-content {
  @extend .col-11;
  @extend .col-sm-9;
  @extend .col-md-8;
  @extend .col-lg-7;
  @extend .mx-auto;
}

.lp-body-cta-btn {
  @extend .btn;
  @extend .btn-outline-primary;
  @extend .btn-lg;
}

.lp-body-section {
  @extend .mt-5;
  .row:not(:last-child) { @extend .mb-4; }
  h2 { @extend .mb-0; }
  p { text-align: left; }
  p:last-child { @extend .mb-0; }
}
