$home-cta-spacing: 6rem;

.landing-page {
  @extend %text-center;
}

.landing-jumbotron {
  @extend %jumbotron;
  @extend %jumbotron-fluid;
  @extend %mb-0;
  background-color: $brand-primary;
  position: relative;
  padding-bottom: 22%;

  @include media-breakpoint-up(sm) {
    height: 580px;
    padding-bottom: initial;
    padding-top: 112px;
  }

  &::before {
    background-image: url("../img/hero-mobile.svg");
    background-position: right 4px bottom;
    background-repeat: no-repeat;
    background-size: 100% auto;
    opacity: 1;
    content: "";
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;

    @include media-breakpoint-up(sm) {
      background-image: url("../img/hero.svg");
      background-position: center top;
      background-size: 1140px;
    }

    @include media-breakpoint-up(2xl) {
      background-size: contain;
    }
  }
}

.landing-jumbotron-content {
  @extend %container-fluid;
  color: $jumbotron-color;

  @include media-breakpoint-up(sm) {
    padding-bottom: 3rem;
  }

  h1,
  h2 {
    color: $white;
    font-size: 42px;
    line-height: 1.2;

    @include media-breakpoint-up(sm) {
      font-size: 52px;
    }
  }

  p {
    font-weight: 100;
    margin-bottom: 2rem;
    margin-top: 1.25rem;

    @include media-breakpoint-up(sm) {
      font-size: $font-size-medium;
    }
  }

  a {
    @extend %btn-base;
    @extend %btn-icon-right;
    @extend %btn-lg;
  }
}

.landing-body {
  @include grid-container;
  line-height: 1.5;
  margin-top: 3rem;

  @include media-breakpoint-up(md) {
    margin-top: $home-cta-spacing;
  }
}

.landing-content-row,
.landing-info-row {
  @extend %row;
}

.landing-content-row-margin {
  margin-bottom: 3rem;

  @include media-breakpoint-up(md) {
    margin-bottom: $home-cta-spacing;
  }
}

.landing__callout--footer {
  @include media-breakpoint-up(md) {
    margin-block: $home-cta-spacing;
  }
}

.landing-info-row {
  @extend %mb-6;
  @extend %mb-md-6;
}

.landing-content-primary-col,
.landing-content-secondary-col,
.landing-info-text-col,
.landing-info-img-col {
  @extend %col-12;
  @extend %col-md-10;
  @extend %col-sm-9;
  @extend %mx-auto;
}

.landing-content-primary-col {
  @extend %mb-4;
}

.landing-content-primary-col,
.landing-content-secondary-col {
  @extend %col-lg-8;
}

.landing-content-secondary-col {
  p {
    @extend %mb-0;

    @include media-breakpoint-up(md) {
      font-size: $font-size-x-large;
    }
  }
}

.landing-content-ctas-col {
  @extend %col-12;
  @extend %mt-4;
}

.landing-content-cta-wrapper {
  @extend %d-lg-inline-block;
  margin-inline: 0.75rem;

  &:first-child {
    @extend %mb-3;
    @extend %mb-lg-0;
  }

  a {
    @extend %btn-page;
  }
}

.landing-info-text-col {
  @extend %align-items-center;
  @extend %col-lg-7;
  @extend %d-flex;
  @extend %text-left;
}

.landing-info-text {
  h3 {
    @extend %mb-3;
    margin-top: 2rem;

    @include media-breakpoint-up(lg) {
      margin-top: 0;
    }
  }

  p {
    @extend %mb-0;
  }
}

.landing-info-img-col {
  @extend %col-lg-5;
  @extend %mt-4;
  @extend %mt-lg-0;
}

.landing-info-img {
  margin: 0 auto;

  img {
    max-width: 100%;
    text-align: center;

    @include media-breakpoint-up(lg) {
      max-width: 80%;
    }
  }
}
