.page-cta {
  background-color: $page-cta-bg-color;
  color: $page-cta-color;
  @extend .text-center;
  @extend .mt-5;
  @extend .py-3;
}

@include media-breakpoint-up(md) {
  .page-cta {
    @include py-5;
  }
}

.page-cta-hdr-wrapper {
  @extend .row;
  @extend .mb-3;
}

.page-cta-hdr {
  @extend .col;
}

.page-cta-content-wrapper {
  @extend .row;
  @extend .mb-2;
}

.page-cta-content {
  @extend .col;
  @extend .col-md-9;
  //@extend .col-lg-7;
  @extend .mx-auto;
  line-height: 1.75;
}

.page-cta-btn-wrapper {
  @extend .row;
}

.page-cta-btn {
  @extend .col;

  a {
    @extend %button-primary;
  }
}

// Testimonial CTA
.testimonial-wrapper {
  @extend .row;
}

.testimonial {
  @extend .col-md;
  @extend .col-lg-9;
  @extend .mx-auto;

  blockquote {
    margin: 0;
  }
}

.testimonial-quote {
  font-size: $font-size-xl;
  @extend .font-italic;
  font-weight: 400;
  line-height: 1.25;

  &:before {
    content: "“";
    opacity: .5;
    font-size: inherit;
  }

  &:after {
    content: "”";
    opacity: .5;
    font-size: inherit;
  }
}

.testimonial-cite {
  font-size: $font-size-sm;
  line-height: 1.5;
  font-style: normal;
}

.testimonial-author,
.testimonial-position,
.testimonial-org {
  display: block;
}

.testimonial-author:before {
  content: "— ";
}

@include media-breakpoint-up(md) {
  .testimonial-quote {
    font-size: $font-size-xxxl;
  }

  .testimonial-cite {
    font-size: $font-size-lg;
  }
}
