.post {
  @extend %mt-5;
  @extend %mt-md-8;
}

.post-row {
  @extend %row;
}

.post-col {
  @extend %col-sm-11;
  @extend %col-lg-8;
  @extend %mx-auto;
}

%post-header-footer-font-base {
  color: $post-header-footer-color;
  font-size: $font-size-small;
}

.post-header {
  @extend %mb-5;
}

.post-title {
  @extend %mb-3;
}

.post-byline {
  @extend %mb-0;
  @extend %post-header-footer-font-base;
}

.post-author {
  a {
    @include link-decoration(
      $post-header-footer-link-color,
      $post-header-footer-link-hover-color,
      $post-header-footer-link-border,
      $post-header-footer-link-border-hover
    );
  }
}

.post-author-comma {
  margin-left: -4px;
}

.post-date {
  @extend %d-block;
}

.post-feature-img {
  @extend %img-fluid;
  @extend %d-block;
  @extend %mt-4;
}

.post-content {
  @extend %narrative-base;
  @extend %mb-5;

  h4 {
    color: $gray-light;
    font-size: $font-size-base;
  }
}

.post-table {
  @extend %table;
  margin-bottom: 3rem;
  margin-top: 1rem;

  @include media-breakpoint-down(sm) {
    display: block;
    width: 100%;
    border: 0;
    overflow-x: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
  }

  tfoot {
    td {
      background-color: $gray-1;
      border-bottom: none;
      border-top-style: solid;
      font-weight: bold;
      font-size: $font-size-small;
    }
  }
}

.pullquote {
  @extend %blockquote;
  @extend %my-4;
  margin-inline: initial;

  cite {
    display: block;
    margin-top: 1.75rem;

    &::before {
      content: "– ";
    }
  }

  &.excerpt {
    color: $black;
    font-size: $font-size-x-small;
    background-color: lighten($gray, 63%);
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.post-contributors {
  @extend %mb-4;
  @extend %post-header-footer-font-base;
}

.post-tags {
  @extend %mb-3;

  a {
    @extend %badge;
    background-color: $brand-primary;
    border-radius: 0.375rem;
    font-weight: $font-weight-medium;
  }

  a.tag-badge {
    font-family: $font-family-mono;
    margin-right: 1rem;
    margin-top: 0.5rem;
    padding-block: 0.5rem;
    padding-inline: 0.75rem;

    &:hover,
    &:focus {
      background-color: $link-hover-color;
    }

    i {
      font-size: $font-size-xxxx-small;
    }
  }
}

.post-share {
  div {
    @extend %d-sm-inline-block;

    &:first-child {
      @extend %mb-3;
      @extend %mb-sm-0;
      margin-right: 1rem;
    }
  }

  a {
    @extend %btn-base;
    @extend %btn-icon-left;
    @extend %btn-sm;
    @include button-outline-variant-2(
      $btn-share-color,
      $btn-share-bg,
      $btn-share-border,
      $btn-share-active-color
    );
    border-radius: 0.375rem;
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
  }
}

.post-related {
  @extend %mt-5;

  h3 {
    @extend %post-header-footer-font-base;
    @extend %text-uppercase;
    @extend %mb-3;
    font-family: $font-family-mono;
    font-weight: normal;
  }

  ul {
    @extend %list-unstyled;
    @extend %mb-0;

    li:not(:last-child) {
      @extend %pb-3;
    }
  }

  a {
    @include link-decoration(
      $post-header-footer-link-color,
      $post-header-footer-link-hover-color,
      $post-header-footer-link-border,
      $post-header-footer-link-border-hover
    );
  }
}
