.post {
  @extend %container;
  @extend %mt-5;
  @extend %mt-md-7;
}

.post-row {
  @extend %row;
}

.post-col {
  @extend %col;
  @extend %col-sm-11;
  @extend %col-lg-8;
  @extend %mx-auto;
}

%post-header-footer-font-base {
  color: $post-header-footer-color;
  font-size: $font-size-small;
}

.post-header {
  @extend %mb-5;
}

.post-title {
  @extend %mb-3;
}

.post-byline {
  @extend %mb-0;
  @extend %post-header-footer-font-base;
}

.post-author {
  a {
    @include link-decoration($post-header-footer-link-color, $post-header-footer-link-hover-color,
      $post-header-footer-link-border, $post-header-footer-link-border-hover);
  }
}

.post-author-comma {
  margin-left: -4px;
}

.post-date {
  @extend %d-block;
}

.post-feature-img {
  @extend %img-fluid;
  @extend %d-block;
  @extend %mt-3;
}

.post-content {
  @extend %narrative-base;
  @extend %mb-5;
}

.post-footer {
  @extend %pt-4;
  border-top: 1px solid $gray-lightest;
}

.post-contributors {
  @extend %mb-4;
  @extend %post-header-footer-font-base;
}

.post-tags {
  @extend %mb-4;

  a {
    @extend %badge;
    @extend %badge-default;
  }
}

.post-share {
  div {
    @extend %d-sm-inline-block;

    &:first-child {
      @extend %mb-3;
      @extend %mb-sm-0;
      @extend %mr-sm-2;
    }
  }

  a {
    @extend %btn-base;
    @extend %btn-icon-left;
    @extend %btn-sm;
    @include button-outline-variant($btn-share-color, $btn-share-bg);
  }
}

.post-related {
  @extend %mt-5;
  @extend %list-base;
  @extend %list-inside;

  h3,
  ul {
    @extend %post-header-footer-font-base;
  }

  h3 {
    @extend %text-uppercase;
    @extend %mb-3;
  }

  ul {
    @extend %mb-0;
    list-style: none;

    li:not(:last-child) {
      @extend %pb-3;
    }
  }

  a {
    @include link-decoration($post-header-footer-link-color, $post-header-footer-link-hover-color,
      $post-header-footer-link-border, $post-header-footer-link-border-hover);
  }
}
