.our-experience {
  @extend %page-main-base;
}

.page-our-experience {
  .page-header-1 {
    @extend %mb-5;
  }

  .filter-post-tags {
    @extend %mb-3;
    min-height: 35px;
  }
}

.projects-row {
  @extend %row;
}

@include semantic-card('project');
@include multi-col-spacing('project-col', $mb-size: 4, $mb-md-size: 5);

.project-footer {
  font-family: $font-family-mono;
  line-height: 1;
  padding-bottom: 1.25rem;
  padding-top: 0;
}

.employee-footer {
  display: flex;
  padding: 0 1.25rem .75rem 1.25rem;

  a {
    font-size: $font-size-large;
    margin: 0 8px;

    &:first-child {
      margin-left: 0;
    }
  }
}
