.our-experience {
  @extend %page-main-base;
}

.page-our-experience {
  .page-header-1 {
    @extend %mb-5;
  }

  .filter-post-tags {
    @extend %mb-3;
    min-height: 30px;
  }
}

.projects {
  @extend %wide-column;
}

.projects-row {
  @extend %row;
}

@include semantic-card('project');
@include multi-col-spacing('project-col', $mb-size: 4, $mb-md-size: 5);

.project-footer {
  line-height: 1;
  padding-bottom: 1.25rem;
  padding-top: 0;
}

.employee-footer {
  display: flex;
  justify-content: center;
  padding: .75rem 1.25rem;

  a {
    margin: 0 8px;
  }
}
