.project-case-study {
  @include container-fluid-base;
  @include mt-7;
}

.project-case-study-row {
  @extend %row;
}

.project-case-study-col {
  @extend %text-heavy-col-base;
}

.project-case-study-header {
  @include mb-3;
}

.project-case-study-summary {
  font-size: $font-size-large;
  @include mb-4;
}

.project-case-study-title-tag {
  @extend %text-uppercase;
  color: $gray-light;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-align: left;
}

.project-case-study-title {
  text-align: left;
}

.project-case-study-content {
  @extend %narrative-base;

  .project-feature-image {
    @extend %mb-0;
  }
}

%project-aside-base {
  @extend %text-left;
  @extend %mt-4;
  @extend %p-3;
  border: 1px dotted $gray-lightest;

  h3,
  ul {
    font-size: $font-size-xx-small;
  }

  h3 {
    @extend %text-uppercase;
    @extend %mb-4;
    color: $gray-light;
  }

  ul {
    @extend %mb-0;
    @extend %list-item-unstyled;

    li:not(:last-child) {
      @extend %pb-3;
    }
  }
}

.approach {
  @extend %text-left;

  .has-col {
    column-count: 2;
    column-fill: balance-all;
    column-gap: 16px;

    @include media-breakpoint-down(sm) {
      column-count: 1;
    }

    li::before {
      content: none !important;
    }
  }

  ul {
    font-size: $font-size-xx-small;

    @extend %mb-0;
    @extend %list-item-unstyled;

    li:not(:last-child) {
      margin: 0 !important;
      padding: 0 !important;
    }

    .approach-item {
      display: inline-block;
      margin-bottom: 10px;
      width: 100%;

      span {
        line-height: 1.15;
      }
    }
  }
}

.news-coverage {
  ul {
    font-size: $font-size-xx-small;
    @extend %mb-0;
    @extend %list-item-unstyled;

    li:not(:last-child) {
      @extend %pb-3;
    }
  }

  a {
    @include link-decoration($project-aside-link-color, $project-aside-link-hover-color,
      $project-aside-link-border, $project-aside-link-border-hover);
  }
}

.profile {
  .profile-img {
    @extend %rounded-circle;
    @extend %m-0;
    @extend %mr-2;
    height: 2rem;
    width: auto;
  }

  &.profile-link {
    @include link-decoration($project-aside-link-color, $project-aside-link-hover-color, none, none);

    span {
      border-bottom: $project-aside-link-border;
    }

    &:hover span {
      border-bottom: $project-aside-link-border-hover;
    }
  }
}

.project-case-study-footer {
  @extend %text-center;
  @extend %mt-5;

  .work-example-cta-wrapper {
    @extend %d-md-inline-block;

    &:first-child {
      @extend %mb-3;
      @extend %mb-md-0;
      @extend %mr-md-5;
    }
  }

  .work-example-cta {
    @extend %btn-page;
    min-width: 185px;
  }
}
