.project-case-study {
  @extend %page-main-base;
  @include container-fluid-base;
}

.project-case-study-row {
  @extend %row;
}

.project-case-study-col {
  @extend %narrative-col;

  .project-feature-image {
    @extend %mb-0;
  }
}

%project-aside-base {
  @extend %text-left;
  @extend %mt-4;
  @extend %p-3;
  border: 1px dotted $gray-lightest;

  h3,
  ul {
    font-size: $font-size-xx-small;
  }

  h3 {
    @extend %text-uppercase;
    @extend %mb-4;
  }

  ul {
    @extend %mb-0;
    @extend %list-item-unstyled;

    li:not(:last-child) {
      @extend %pb-3;
    }
  }
}

.approach {
  @extend %project-aside-base;
}

.approach-area-col {
  @extend %col-sm-4;

  &:not(:last-child) {
    @extend %mb-sm-down-5;
  }
}

.approach-area-card {
  @extend %card;
  @extend %no-border;
  @extend %p-0;
  height: 100%;
}

.approach-area-card-block {
  @extend %card-block;
  @extend %p-0;
}

.news-coverage {
  @extend %project-aside-base;

  a {
    @include link-decoration($project-aside-link-color, $project-aside-link-hover-color,
      $project-aside-link-border, $project-aside-link-border-hover);
  }
}

.profile {
  .profile-img {
    @extend %rounded-circle;
    @extend %m-0;
    @extend %mr-2;
    height: 2rem;
    width: auto;
  }

  &.profile-link {
    @include link-decoration($project-aside-link-color, $project-aside-link-hover-color, none, none);

    span {
      border-bottom: $project-aside-link-border;
    }

    &:hover span {
      border-bottom: $project-aside-link-border-hover;
    }
  }
}

.work-example-ctas {
  @extend %mt-5;

  .work-example-cta-wrapper {
    @extend %d-md-inline-block;

    &:first-child {
      @extend %mb-3;
      @extend %mb-md-0;
      @extend %mr-md-5;
    }
  }

  .work-example-cta {
    @extend %btn-page;
    min-width: 185px;
  }
}
