.round-purple {
  font-size: $font-size-medium;
  font-weight: 100;
  background-color: $brand-purple-lightest;
  padding: .5rem;
  border-radius: 1.5rem;
  white-space: nowrap;
}

.callout--public-health {
  background-color: $purple-60;
  border-color: $purple-70;
  h3.callout-heading {
    background-color: $purple-70;
    color: $gray-200;
    display: block;
    margin: -1.5rem;
    margin-bottom: 1.5rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }

  h4 {
    font-size: $font-size-small;
  }
  li::before{
    content: "•" !important;
  }
}
.controlled-heading{
  color: var(--Gray-300, #1C1D20);
  font-family: Libre Franklin;
  font-size: 1.5rem !important;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 1.95rem */
}

.in-page-selection{
  margin-top: 1em;
  p {
    color: var(--Gray-200, #37383B);
    font-family: Libre Franklin;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 1.9125rem */
  }
  p.quote-author{
    color: var(--Gray-100, #54565A);
    font-family: Roboto Mono;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.9125rem; /* 1.9125rem */
  }
  li::before{
    content: "" !important;
  }
  li.current{
    color: $blue-200 !important;
      cursor: pointer;
      svg{
        path{
          fill: $blue-200 !important;
        }
      }
      font-weight: 800 !important;
  }
  li.control-list-item{
    color: var(--Gray-80, #76767B);
    font-family: Roboto Mono;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.9125rem; /* 1.9125rem */
  }
  li{
    padding-left: 0 !important;
    justify-content: left;
    align-items: center;
    display: flex;
    svg{
      margin-left: .5rem;
      max-width: 100%;
      max-height: 100%; 
    }
    &:hover{
      color: $blue-200;
      cursor: pointer;
      svg{
        path{
          fill: $blue-200;
        }
      }
    }
  }
  img{
    max-width: 200px !important;
  }
}

.mb--4{
  margin-bottom: -4rem;
}

.public-health-caption-text{
  color: var(--Gray-100, #54565A);
  font-family: Libre Franklin;
  font-size: 1rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.3rem; /* 1.3rem */
}

.public-health-content {
  .our-experience {
    margin-top: 2rem !important;
    h2 {
      margin-bottom: 2rem !important;
      text-align: left;
    }
  }
}


.page-work-solutions-public-health-index-html, .page-work-solutions-public-health{
  .public-health-content{
    li::before{
      content: "•" !important;
    }
  }
  
  .page-subfooter{
    background-color: $purple-100;
  }

  .accordion-card {
    background-color: $purple-60;
  }

  .vertical-align{
    display: flex;
    align-items: center;
  }
  .next-to-purple{
    margin-right: 1rem;
  }

  //Mobile hero banner
  @media (max-width: 767px){ 
    .hero-banner {
        background-image: url("/img/hero-mobile-company.svg") !important;
    }
  }
  @media (max-width: 424px) {
    .purple-fix-mobile{
      margin-top: .5rem !important;
    }
    .next-to-purple{
      line-height: 3rem;
    }
  }
  @media (max-width: 768px) {
    .callout{
      margin-top: 1rem;
    }
    .in-page-selection {
      display: none;
    }
    .image-div{
      justify-content: center;
      display: flex;
      img{
        max-width: 60% !important;
      }
    }
    img{
      max-width: 80% !important;
    }
    img.mobile-width{
      max-width: 150px !important;
    }
    
    .accordion-header {
      a[data-toggle="collapse"][aria-expanded="true"]{
        h3{
          color: #2F44B1 !important;
        }
      }
    }
    .accordion-card [data-toggle="collapse"]:hover h3 {
        font-weight: normal;
    }
    .accordion-card{
      img{
        margin-bottom: 1em;
      }
    }
    .accordion-header{
      margin: 0em;
      h3{
        font-family: Roboto Mono !important;
      }
    }
    .callout--public-health {
      margin-top: 2rem;
    }
    
  }
  @media (min-width: 769px){
    .accordion-card {
      display: none;
    }
    .public-health-offers{
      p {
        padding: 0;
        margin: 0;
      }
      .mt-4{
        margin-top: 2rem !important;
      }
    }
  }
  @media (min-width: 1200px) {
    .services-content {
      img {
        width: 100%;
      }
    }
  }
  @media (max-width: 575px){
    .services-content h3 {
        margin-top: 0;
    }
    .callout--public-health{
      padding-top: 0;
    }
  }
  @media (min-width: 576px) {
    .hero-heading {
      font-size: 2.5rem;
    }
  }
  .white-callout-border{
    border: 3px solid var(--Blue-40, #B5D2E3);
    background: #FFF;
    padding: 2rem;
  }
}

.public-health-offers{
  p {
    padding: 0;
    margin: 0;
  }
}

.img-bottom > img {
  position: absolute;
  bottom: 0;
}

.img-95 {
  width: 95% !important;
}

.img-90 {
  width: 90% !important;
}