.service-area-showcase {
  @extend %page-base;
}

.service-elements {
  @extend .row;
}

.service-element {
  @extend .col-11;
  @extend .col-md-4;
  @extend .mx-auto;
}

@include multi-col-spacing("service-element", $mb-size: 5, $mb-md-size: 5);

.service-element-content-box {
  @extend .text-left;
  border-top: 1px solid $gray-lightest;
  width: 90%;

  h3 {
    @extend .my-3;
    @extend .text-uppercase;
    font-size: $font-size-md;
  }

  p {
    @extend .mb-0;
  }
}
