.page-work {
  .page-subfooter {
    background-color: $sk-blue-light;
  }
}

.our-services {
  @extend %page-main-base;
  @extend %wide-column;
}

.page-our-services {
  .prose {
    li {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      a {
        padding-top: 0.5rem;
      }
    }
  }
}

.services-content {
  img {
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }
}
