.our-services {
  @extend %page-main-base;
  @extend %wide-column;
}

.page-our-services {
  .prose {
    li {
      &:not(:first-child) {
        margin-top: 0.5rem;
      }

      a {
        padding-top: 0.5rem;
      }
    }
  }
}

.services-content {
  img {
    width: 100%;

    @include media-breakpoint-up(xl) {
      width: 80%;
    }
  }
}

.page-service-design {
  .img--frontstage-backstage {
    @include media-breakpoint-up(sm) {
      float: right;
      margin-left: 1.5rem;
      width: 50%;
    }
  }
}
