.service-area-showcase {
  @extend %page-base;
}

.service-elements {
  @extend .row;
}

%service-element-base {
  @extend .col-11;
  @extend .col-md-4;
  @extend .col-lg-4;
  @extend .mb-3;
  @extend .mb-md-5;
  @extend .mx-auto;
}

.service-element {
  @extend %service-element-base;
  @extend .col-sm-6;
}

.service-element.uneven {
  @extend %service-element-base;
}

.service-element-content-box {
  @extend .text-left;
  border-top: 1px solid $gray-lightest;
  width: 90%;

  h3 {
    @extend .my-3;
    @extend .text-uppercase;
    font-size: $font-size-md;
  }
}
