.service-area-showcase {
  @extend %page-main-base;
}

.service-elements {
  @extend %container;
}

.service-elements-row {
  @extend %row;
}

.service-element-col {
  @extend %col-12;
  @extend %col-md-4;
}

@include multi-col-spacing('service-element-col', $mb-size: 5, $mb-md-size: 5);

.service-element-content-box {
  @extend %text-left;
  border-top: 1px solid $gray-lightest;
  width: 90%;

  h3 {
    @extend %my-3;
    @extend %text-uppercase;
    @extend %text;
    font-size: $font-size-small;
  }

  p {
    @extend %mb-0;
  }
}
