.toolkit-item {
  border: 1px solid $gray-lightest;
  border-bottom: 4px solid $brand-primary-light;
}

.page--toolkit {
  h1 {
    font-size: $font-size-xxx-large;
  }

  h2 {
    font-size: $font-size-x-large;
  }

  h3 {
    font-size: $font-size-base;
  }

  h4 {
    font-size: $font-size-base;
  }
}

[class^="page-creating-a-productive-and-collaborative-work-environment"] {
  table tbody {
    td {
      &:first-child {
        width: 25%;
      }

      &:last-child {
        text-align: center;
        width: 25%;
        vertical-align: middle;
      }
    }
  }
}

@mixin callout {
  padding: 1.5rem;

  > *:last-child {
    margin-bottom: 0;
  }
}

.callout {
  @include callout;
  background-color: $gray-1;
  border: 3px solid $brand-primary;
  margin-top: 2.25rem;
}

.callout--alt {
  @include callout;
  background-color: $ochre-20;
  margin-bottom: 1em;

  h4 {
    color: $body-color;
  }
}

.callout--case-study {
  h2 {
    background-color: $brand-primary;
    color: $white;
    display: block;
    margin: -1.5rem;
    margin-bottom: 1.5rem;
    padding-inline: 1.5rem;
    padding-block: 1rem;
  }
}

.caption {
  color: $gray-light;
  font-family: $font-family-mono;
  font-size: $font-size-xs;
  margin-top: -0.625rem;
}

.hero--toolkits {
  .hero-container {
    height: 200px;
  }
}

.link--return-top-top {
  margin-bottom: -0.5rem;

  @include media-breakpoint-up(sm) {
    margin-bottom: -2rem;
  }

  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.pagination-alt {
  @include media-breakpoint-up(sm) {
    display: flex;
    justify-content: space-between;
  }

  a {
    border-bottom: none;

    &:hover {
      border-bottom: none;
    }
  }
}

.pagination-alt__previous {
  @include media-breakpoint-up(sm) {
    float: left;
    margin-right: 1rem;
  }
}

.pagination-alt__step {
  display: flex;
  font-size: $font-size-small;
}

.pagination-alt__step-text {
  max-width: 100vw;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include media-breakpoint-up(sm) {
    max-width: 35vw;
  }

  @include media-breakpoint-up(md) {
    max-width: 25vw;
  }
}

.pagination-alt__step--next {
  margin-top: 1rem;

  @include media-breakpoint-up(sm) {
    float: right;
    margin-left: 1rem;
    margin-top: 0;
  }
}

.pagination-next__icon {
  white-space: nowrap;
}
