.values-row {
  @extend %row;
  margin-inline: -3rem;
}

.value-col {
  @extend %col-12;
  @extend %col-md-6;
  margin-bottom: 0.5rem;
  padding-inline: 3rem;

  &:last-child {
    @extend %mb-0;
  }

  &:nth-last-of-type(1),
  &:nth-last-of-type(2) {
    @extend %mb-md-0;
  }

  @include media-breakpoint-up(md) {
    margin-bottom: 3rem;
  }
}

.value-card {
  @extend %card;
  @extend %text-left;
  border: 0;
  border-radius: 0;
  height: 100%;
}

.value-block {
  @extend %card-block;
  padding-inline: 0;

  // @include media-breakpoint-up(sm) {
  //   padding-block: 1.25rem;
  // }

  h3 {
    @extend %card-title;
    @extend %mb-3;
    font-size: $font-size-x-large;
  }

  p {
    @extend %card-text;
    font-size: $font-size-small;
  }
}

.line--gray {
  background-color: $gray-20;
  height: 5px;
  width: 4rem;
  margin-bottom: 1.3rem;
  margin-top: 1.7rem;
}
