.our-values {
  @extend %page-main-base;
}

.values {
  @extend %wide-column;
}

.values-row {
  @extend %row;
}

.value-col {
  @extend %col-12;
  @extend %col-md-6;
  @extend %mb-5;

  &:last-child {
    @extend %mb-0;
  }

  &:nth-last-of-type(1),
  &:nth-last-of-type(2) {
    @extend %mb-md-0;
  }
}

.value-card {
  @extend %card;
  @extend %text-left;
  border: 0;
  border-left: 8px solid $brand-primary-light;
  border-radius: 0;
  height: 100%;
}

.value-block {
  @extend %card-block;
  padding: 1.25rem 1.25rem 1.25rem;

  h3 {
    @extend %card-title;
    @extend %mb-3;
    font-size: $font-size-x-large;
  }

  p {
    @extend %card-text;
    font-size: $font-size-small;
  }
}
