---
layout: default
title: Our experience
permalink: /work/experience/
redirect_from:
  - /work/
  - /work/energyos/
  - /work/maalka/
  - /work/people-power/
  - /work/team-member/john-teeter/
pagination:
  enabled: true
  per_page: 10000
  collection: projects
  sort_field: "order"
  sort_reverse: false
---

{% capture header_content %}
  Explore a sampling of the types of experience that
  we can bring to your biggest digital challenges.
{% endcapture %}
{% include page_header.html header_content_class = 'page-header-content-1' header_content = header_content %}
{% include filter_component.html %}
{% assign collection = include.collection %}
{% assign prefix = 'project' %}
{% assign cta_text = include.cta_text %}
{% assign context = include.context %}
{% assign limit = include.limit %}
{% if limit %}
  {% assign collection_size = limit %}
{% else %}
  {% assign collection_size = collection.size %}
{% endif %}
{% include hanging_column_size.html collection_size = collection_size col_size = 3 %}

<div class="our-experience">
  <div class="projects">
    <div class="projects-row">
      {% for item in paginator.posts %}
      <article
        class="project-col"
        data-tags="{{item.tags | join: ', '}}"
        data-display="{{item.display}}"
      >
        <div
          class="project-card card-link"
          data-href="{{item.permalink}}"
          tabindex="-1"
        >
          <div
            role="img"
            class="project-img"
            style="background-image: url({{item.image}});"
            title="{{item.image_description}}"
          ></div>
          <div class="project-block">
            {% if item.title_tag %}
            <p class="project-title-tag">{{item.title_tag}}</p>
            {% endif %}
            <h2 class="project-title {{context}}">{{item.title}}</h2>
            <div class="project-text">{{item.excerpt | markdownify}}</div>
          </div>
          <div class="project-footer">
            <a href="{{item.permalink}}" tabindex="0">
              <span>Read more</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      {% endfor %}
    </div>
    {% unless context == 'related' %}
  </div>
  {% endunless %}
</div>

{% include pagination.html %}
{% include hire_us_cta.html %}
