---
layout: default
title: Alliances
permalink: /alliances/
header_title: Let's Partner!
header_css_class: page-hdr-1
---

<div class="alliances">

  {% include page_header.html %}

  <div class="container">

    <div class="row">
      <div class="alliances-contact">
        <p>
          We’re embarking on a mission to create a world-class ecosystem of alliances &mdash;
          from large companies to independent freelancers &mdash; who are passionate about making
          government work in a digital world.
        </p>
      </div>
    </div>

  </div>

</div>

{% include testimonial_cta.html %}
