---
layout: default
title: Our blog
permalink: /thoughts/blog/
redirect_from:
  - /blog/
pagination:
  enabled: true
  collection: blog_posts
  sort_field: 'date'
  sort_reverse: true
---

{% include page_header.html
  header_content_class = 'page-header-content-1'
  header_content = 'Our written thoughts on design, technology, and more.'
%}

{% assign collection = include.collection %}
{% assign prefix = 'blog' %}
{% assign cta_text = include.cta_text %}
{% assign context = include.context %}
{% assign limit = include.limit %}

{% if limit %}
  {% assign collection_size = limit %}
{% else %}
  {% assign collection_size = collection.size %}
{% endif %}

{% include hanging_column_size.html
  collection_size = collection_size
  col_size = 3
%}

<div class="our-blog">
  <div class="blog-posts">
    <div class="blog-posts-row">
      {% for item in paginator.posts %}
        <article class="blog-post-col">
          <div class="blog-post-card card-link" data-href="{{item.permalink}}" tabindex="-1">
            <div role="img" class="blog-post-img" style="background-image: url({{item.image}});" title="{{item.image_description}}"></div>
            <div class="blog-post-block">
              {% if item.title_tag %}
                <p class="blog-post-title-tag">{{item.title_tag}}</p>
              {% endif %}
              <h2 class="blog-post-title {{context}}">{{item.title}}</h2>
              <p class="blog-post-text">{{item.excerpt}}</p>
            </div>
            <div class="blog-post-footer">
              <a href="{{item.permalink}}" tabindex="0">
                <span>Read more</span><i class="fa fa-chevron-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </article>
      {% endfor %}
    </div>
  {% unless context == 'related' %}</div>{% endunless %}
</div>

{% include pagination.html %}

{% include hire_us_cta.html %}
