---
layout: default
title: Contracting
permalink: /connect/contracting/
preload: hero-contracting.svg
---

{% include hero_banner.html
  hero_content = 'Learn more about why and how to contract with us.'
  color = "yellow"
  text = "dark"
  image = 'hero-contracting.svg'
%}

<div class="container container-md text prose left-justified-list left-justified-list-compact">
  <h2>Pioneers and leaders</h2>
  <ul>
    <li>Named by G2Xchange as one of the <a href="https://fetch.g2xmedia.io/2020-nxt-up/">top vendors to work with in 2020</a></li>
    <li>Named by Public Spend Forum as one of the <a href="https://www.publicspendforum.net/blogs/frank-mcnally/2018/08/28/government-tech-startups-procurement/">2019 vendors to watch</a></li>
    <li>Founders of <a href="https://18f.gsa.gov/">18F</a> and <a href="https://www.gsa.gov/about-us/organization/federal-acquisition-service/technology-transformation-services">Technology Transformation Services</a></li>
    <li>Former members of 18F, the <a href="https://www.usds.gov/">U.S. Digital Serivce</a>, the <a href="https://presidentialinnovationfellows.gov/">Presidential Innovation Fellows</a>, and <a href="https://www.codeforamerica.org/">Code for America</a></li>
    <li>Founding member of the <a href="https://digitalservicescoalition.org/#/">Digital Services Coalition</a></li>
    <li>Pioneers of modern procurement, including <a href="/thoughts/blog/thoughts-on-the-use-of-technical-challenges-in-government-procurements/">code/tech challenges</a>, <a href="/work/experience/agile-delivery-services-marketplace/">agile/digital service vendor pools</a>, <a href="/work/experience/agile-acquisition-framework/">agile/digital acquisition methods</a>, <a href="/thoughts/blog/public-domain-procurement/">public-domain procurement</a>, and <a href="/thoughts/blog/supplement-your-team-with-specific-digital-expertise-through-our-microconsulting-services/">microconsulting</a></li>
    <li>Providers of <a href="/work/services/training/ditap/">DITAP training</a> for federal acquisition officers to learn about modern procurement practices</li>
    <li>Pioneers of industry technical standards, such as IPv6</li>
    <li>Founders of successful technology startups, such as <a href="/work/experience/talkto/">TalkTo</a></li>
    <li>Former design and technical leaders of popular government-wide standards, products, and platforms, such as <a href="https://cloud.gov/">cloud.gov</a>, <a href="https://designsystem.digital.gov/">U.S. Web Design System</a>, and <a href="https://accessibility.18f.gov/">18F's Accessibility Guide</a></li>
    <li>Recognized industry experts in several different areas, such as APIs and design systems</li>
    <li>Frequent contributors to <a href="/company/press/">industry press</a>, such as FCW, FedScoop, and Federal News Network</li>
    <li>Authors of popular books, such as "<a href="https://braydie.gitbooks.io/how-to-be-a-programmer/content/en/">How to be a Programmer"</a></li>
  </ul>

  <h2>Key capabilities</h2>
  <ul>
    <li>Creative</li>
    <li>Service Design</li>
    <li>User Research</li>
    <li>User Experience Design</li>
    <li>Content Strategy</li>
    <li>Accessibility</li>
    <li>Agile Methods</li>
    <li>Software Development</li>
    <li>Legacy Modernization</li>
    <li>Microservices & Evolutionary Architecture</li>
    <li>DevOps</li>
    <li>Cloud & Platform Engineering</li>
    <li>Open Data & APIs</li>
    <li>Data & Analytics</li>
    <li>Artificial Intelligence & Machine Learning</li>
    <li>Open Source</li>
    <li>Security & Privacy</li>
    <li>Internet of Things</li>
    <li>Product Management</li>
    <li>Delivery Management</li>
    <li>Digital Procurement</li>
    <li>Digital Transformation</li>
    <li>Digital Talent Management</li>
    <li>Coaching & Training</li>
  </ul>

  <h2>Contracting pathways and vehicles</h2>
  <ul>
    <li>GSA IT Schedule 70 (47QTCA18D00D0) &ndash; accessible to all federal, state, and local governments</li>
    <li>SBA-certified <a href="https://www.sba.gov/partners/contracting-officials/contracting-program-administration/hubzone-administration">HUBZone company</a> &ndash; eligible for sole-source contracts</li>
    <li>U.S. Air Force SBIR Phase II (FA864919CA079) &ndash; eligible for sole-source contracts and accessible to any federal agency</li>
    <li>California Agile Vendor Pool<div class="badge-sub--container"><span class="badge badge-sub">sub</span></div></li>
    <li>DHS Services for Enabling Agile Delivery (SEAD)<div class="badge-sub--container"><span class="badge badge-sub">sub</span></div></li>
    <li>CMS Enterprise Agile Transformation Services (EATS)<div class="badge-sub--container"><span class="badge badge-sub">sub</span></div></li>
    <li>CMS Medicare Payment Systems Modernization (MPSM)<div class="badge-sub--container"><span class="badge badge-sub">sub</span></div></li>
  </ul>

  <h2>Company data</h2>
  <ul>
    <li>DUNS: 080202677</li>
    <li>CAGE Code: 7QNG6</li>
    <li>HUBZone Certification #: 56905</li>
    <li>NAICS Codes: 56905, 541511, 541611, 541519, 611430, 541715</li>
    <li>SIC Codes: 7371, 8742</li>
  </ul>
</div>
{% include hire_us_cta.html %}
