---
layout: default
title: Our Culture
permalink: /culture/
---

{% capture header_content %}
  Our values are the core of our culture, offering a set of guidelines on the
  behaviors and mindsets needed to achieve our mission.
{% endcapture %}

{% include page_header.html
  header_content_class = 'page-header-content-1'
  header_content = header_content
%}

<div class="our-culture">
  <div class="values">
    <div class="values-row">
      {% assign values = site.data.values | sort: 'order' %}
      {% for value in values %}
        <div class="value-col">
          <div class="value-card">
            <div class="value-block">
              <h3>{{value.title}}</h3>
              <p>{{value.statement}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include carry_culture_cta.html %}
