---
layout: default
title: Our culture
permalink: /culture/
---

{% include hero_banner.html
  hero_content = "Our values are the core of our culture, informing our thoughts, words, and actions."
%}

<div class="our-culture">
  <div class="values">
    <div class="values-row">
      {% assign values = site.data.values | sort: 'order' %}
      {% for value in values %}
        <div class="value-col">
          <div class="value-card">
            <div class="value-block">
              <h3>{{value.title}}</h3>
              <p>{{value.statement}}</p>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

{% include carry_culture_cta.html %}
