---
layout: default
title: Guides
permalink: /guides/
header_content_class: page-hdr-content-2
header_content: >
  Improving how government works in a digital world through our shared,
  open-source repository of how-to's and best practices.
---

<div class="our-guides">
  {% include page_header.html %}

  {% assign guides = site.guides | sort: 'order' %}

  {% include card_list.html
    collection = guides
    prefix = 'guide'
    cta_text = 'Learn more'
  %}
</div>

{% include hire_us_cta.html %}
