---
layout: default
title: Guides
permalink: /guides/
---

{% capture header_content %}
  Improving how government works in a digital world through our shared,
  open-source repository of how-to's and best practices.
{% endcapture %}

{% include page_header.html
  header_content_class = 'page-header-content-2'
  header_content = header_content
%}

<div class="our-guides">
  {% assign guides = site.guides | sort: 'order' %}

  {% include card_list.html
    collection = guides
    prefix = 'guide'
    cta_text = 'Learn more'
  %}
</div>

{% include hire_us_cta.html %}
