---
layout: default
title: Join us
permalink: /careers/join/
redirect_from: /join/
hero_content: Help us change the way government works.
preload: hero-join-us.svg
---

{% include hero_banner.html
  hero_content = "Help us change the way government works."
  color = "green"
  image = 'hero-join-us.svg'
%}

<div class="grid-container">
  <div class="row">
    <div class="sidenav col-12 col-md-3 d-none d-md-block">
      <div class="is-sticky">
        <nav class="subnav-col px-0" id="sidenav">
          <ul>
            <li class="current">
              <a class="nav-link" href="#why-skylight" aria-current="location">Why Skylight?</a>
            </li>
            <li><a class="nav-link" href="#care-package">Care package</a></li>
            <li><a class="nav-link" href="#open-positions">Open positions</a></li>
            <li><a class="nav-link" href="#interview-process">Interview process</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <section class="col-12 col-md-9 page--join__text">
      <div class="text" id="join">
        <h2 class="mt-0" id="why-skylight">Why Skylight?</h2>
        <h3>Our mission matters</h3>
        <p>
          We’re more than a company. We represent a movement to reinvent how the
          government serves families, patients, veterans, immigrants, and many others
          in today’s digital world. Everything about us &mdash; our structure,
          <a href="/company/values/">values</a>, <a href="/work/services/">services</a>,
          <a href="/work/experience/">work</a>, <a href="/thoughts/blog/">thoughts</a>,
          and <a href="/company/about/">team</a> &mdash; is designed with that purpose in mind.
        </p>

        <h3>You matter</h3>
        <p>
          It’s people like you &mdash; with talents in research, design, product, engineering, data, and more &mdash;
          who can make a difference. We’ve created an environment that empowers you to unleash your skills
          for public good, whether that’s improving
          <a href="/work/experience/ct-ece-reporter/">early childhood outcomes</a>
          or <a href="/work/experience/va-diffusion-marketplace/">helping to save veteran lives</a>.
          You’ll work alongside a team of <a href="/company/about/#meet-the-team">extraordinarily-talented people</a>
          who strive to bring out the best in you and each other. You’ll also be taken care of with a
          well-thought-out <a href="#care-package">compensation and benefits package</a>.
          We want you to be happy, fulfilled, and well-supported.
        </p>

        <h3>We’re just getting started</h3>
        <p>
          We’re still in startup mode, and our future is bright. We’re doing impactful work,
          building an amazing team, and improving every day. Everyone is given the opportunity
          to shape the company in some way. We’d love for you to join us in creating something special.
        </p>

        <div class="image-list row">
          <div class="col-sm-4 col-lg-3">
            <div class="employee-gradient employee-gradient__img">
              <img class="image-list__employee-img" src="{{ site.baseurl }}/img/people/charlye-tran.jpg" alt="Charlye Tran">
            </div>
          </div>
          <div class="join__quote col-sm-8 col-lg-9">
            <p class="quote-text font-size-large">
              “I love being able to work somewhere that empowers you to hone in on solving the
              right problems in an increasingly complex environment, alongside some of the most
              inspired and talented folks in the industry.”
            </p>
            <p class="join-quote__byline">– <b>Charlye Tran,</b> Product Manager</p>
          </div>
        </div>

        <div class="image-list row">
          <div class="col-sm-4 col-lg-3">
            <div class="employee-gradient employee-gradient__img">
              <img class="image-list__employee-img" src="{{ site.baseurl }}/img/people/shashank-khandelwal.jpg" alt="Shashank Khandelwal">
            </div>
          </div>
          <div class="join__quote col-sm-8 col-lg-9">
            <p class="quote-text font-size-large">
              “I appreciate Skylight’s holistic approach to helping agencies achieve digital mastery,
              which is what the government needs more of from industry.”
            </p>

            <p class="join-quote__byline">– <b>Shashank Khandelwal,</b> VP of Human Services</p>
          </div>
        </div>

        <div class="image-list row">
          <div class="col-sm-4 col-lg-3">
            <div class="employee-gradient employee-gradient__img">
              <img class="image-list__employee-img" src="{{ site.baseurl }}/img/people/laura-king.jpg" alt="Laura King">
            </div>
          </div>
          <div class="join__quote col-sm-8 col-lg-9">
            <p class="quote-text font-size-large">
              “Skylight gives me ownership over my work and allows me to carve a path where I
              can make the biggest impact.”
            </p>

            <p class="join-quote__byline">– <b>Laura King,</b> UX Designer</p>
          </div>
        </div>

        <h2 id="care-package">Care package</h2>
        <p class="text-intro">
          We hire good people and support them with the best compensation and benefits possible.
          We keep an open dialog with everyone on the team to make what we offer even better.
        </p>

        <div class="text-grid row section__care-package">
          <div class="col-12 col-lg-4">
            {% include icons/join/compensation.svg %}
            <h3>Compensation</h3>
            <p>
              We offer a competitive salary, a stake in the company’s success with stock
              options regardless of role, performance rewards, referral bonuses,
              a quick-pay program, and <a href="https://maps.certify.sba.gov/hubzone/map#center=39.828200,-98.579500&zoom=5">HUBZone</a>
              resident stipends.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/future.svg %}
            <h3>Future</h3>
            <p>
              We match your 401(k) dollar-for-dollar up to 10% of your salary. We also offer a
              budget of up to $2,000 per year for professional development, which includes
              conferences, training, travel, and materials.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/health.svg %}
            <h3>Health</h3>
            <p>
              We cover 90% of your medical premium, 99% of premiums for vision and dental,
              and 50% of premiums for dependents. We also provide life insurance, short- and
              long-term disability insurance, healthcare and dependent care flexible
              spending accounts, and a health savings account.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/parental-leave.svg %}
            <h3>Parental leave</h3>
            <p>
              We offer a minimum of 9 weeks paid time off for all eligible new birth,
              adoption, or foster parents.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/time-off.svg %}
            <h3>Time off</h3>
            <p>
              We offer a minimum of 29 days paid time off, which covers any type of leave
              (such as holiday, sick, vacation, and extra parental leave) that you need or
              want to take.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/flexibility.svg %}
            <h3>Flexibility</h3>
            <p>
              We give you maximum flexibility to decide when, where, and how to get your
              work done. We’re a distributed and remote-friendly team, currently spread out across
              24 different states. How do we make that work? Check out <a href="https://18f.gsa.gov/2015/10/15/best-practices-for-distributed-teams/">this guide</a>.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/tools.svg %}
            <h3>Tools</h3>
            <p>
              We provide an annual tech budget of up to $750 for anything, such as a new computer,
              that you think will help to do your job better. Most software that you need will be
              provided by us.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/code-of-conduct.svg %}
            <h3>Code of conduct</h3>
            <p>
              Everyone deserves a safe, inclusive environment. We live by our
              <a href="/company/policies/code-of-conduct/">Code of Conduct</a>, and actively look
              for ways to make it even stronger, as well as reinforce expected behaviors.
            </p>
          </div>

          <div class="col-12 col-lg-4">
            {% include icons/join/community.svg %}
            <h3>Community</h3>
            <p>
              We give you multiple pathways to engage with your community. We match 100% of
              any charitable donations you make, up to $500 per year, and offer access to
              community networks, such as the <a href="https://digitalservicescoalition.org/">Digital Services Coalition</a>,
              which we co-founded.
            </p>
          </div>
        </div>
      </div>

      {% include open_positions.html %}

      <div id="interviewing">
        <h2 id="interview-process">Interview process</h2>
        <p class="text-intro">If you apply for a position, here’s what you can expect in terms of the process:</p>

        <h3>1. Application review</h3>
        <p>
          After you submit your application, we’ll evaluate your information against
          the qualifications of our open positions and communicate next steps.
          (We encourage you to include links to samples of your work, if you have any.)
          If you look like a potential match, we’ll begin the live interview process.
        </p>

        <h3>2. Preliminary screening</h3>
        <p>
          The interview process begins with a 15-minute or 30-minute preliminary screening
          call by phone or video. Plan to talk about your skills and experience, what
          you’re passionate about, and what Skylight is like. The call will also cover
          the interview process, structure, basic employment requirements, and
          employee benefits. If the preliminary screening call goes well, we’ll
          schedule you for a skills interview and a behavioral interview. Both interviews
          are generally held by phone or video.
         </p>

        <h3>3. Skills interview</h3>
        <p>
          The skills interview lasts approximately one and a half hours. You’ll be asked a
          variety of questions about your experience and skills, and how you’d apply
          them within the context of Skylight’s work.
        </p>

        <h3>4. Behavioral interview</h3>
        <p>
          The behavioral interview lasts approximately one hour, and will assess how
          you interact with colleagues and get work done.
        </p>

        <h3>5. Additional interviews (if needed)</h3>
        <p>
          In some cases, we’ll conduct additional interviews to evaluate areas
          we’d like to know more about.
        </p>

        <h3>6. The offer</h3>
        <p>
          If all the interviews go well, you’ll receive a preliminary offer followed
          by an official offer, including an agreed-upon start date!
        </p>

    </section>

  </div>

</div>

{% include intro_cta.html %}
