---
layout: default
title: Join Us
permalink: /join/
---

<div class="join-us">

  <div class="row">

    <section class="join-content-col">
      <div id="join">
        <h2>Join the team</h2>

        <p>
          We're looking for great people in the fields of engineering, data science,
          design, product management, and more to join us in a movement to make government
          work in a digital world. You'll work alongside a <a href="/about/#meet-the-team">team of
          talented technologists</a> who embody <a href="/culture/">our culture</a> and strive
          to bring out the best in each other.
        </p>

        {% include open_positions.html %}
      </div>

      <div id="who">
        <h2>Who we're hiring</h2>

        <p>
          Skylight is seeking engineers, designers, product managers, procurement experts,
          and more who are committed to making government work in a digital world.
          <a href="/about/#meet-the-team">Our staff</a> comes from a diversity of backgrounds,
          including startups, high-tech companies, government agencies, higher-education institutions,
          and schools of life.
        </p>

        <h2>Skill sets we're looking for</h2>

        <p>
          We're looking for candidates with the hands-on skills, leadership ability,
          and growth potential to work with a diverse <a href="/about/#meet-the-team">group of teammates</a>
          to improve how government delivers public digital services. We're looking
          for the following skills:
        </p>

        <ul>
          <li>Software engineering</li>
          <li>Frontend web development</li>
          <li>Legacy software reengineering</li>
          <li>DevOps and site reliability engineering</li>
          <li>Security engineering</li>
          <li>Engineering management</li>
          <li>Data engineering</li>
          <li>Data science</li>
          <li>Data analytics</li>
          <li>Internet of things</li>
          <li>Product management</li>
          <li>Product design</li>
          <li>Service design</li>
          <li>User experience design</li>
          <li>Visual design</li>
          <li>Content design</li>
          <li>Technology procurement</li>
          <li>Technical recruiting and talent operations</li>
          <li>Enterprise agile transformation</li>
          <li>Client engagement management</li>
        </ul>

        <p>
          This is not an exhaustive list, but it does represent the most common skills
          that we seek. Don't see what you do on this list? <a href="/join/#application">Apply anyway</a>!
        </p>

        <h2>Who is eligible to work with us</h2>

        <p>
          There are a few basic requirements to work at Skylight:
        </p>

        <ul>
          <li>
            For some positions, due to client requirements, you must be a U.S. citizen.
            All positions require work authorization.
          </li>
          <li>
            You can live anywhere in the U.S. <a href="/join/#who-where">Some geographic limitations may apply</a>
            depending on the location requirements of our client work or the type of
            role we need filled. In addition, in order to maintain <a href="/about/#hubzone">our HUBZone status</a>
            with the Small Business Administration, which gives us privileged access to federal
            contracts, we must maintain 35% of our employees in a designated HUBZone area.
            In some cases, we may be able to provide <a href="/join/#relocation">relocation assistance</a>.
          </li>
          <li>
            Many of the positions with our government clients, due to the public-trust
            or national-security nature of the work, require you to pass through a background
            investigation and drug test.
          </li>
          <li>
            Some positions with government clients may require you to possess formal educational
            credentials or professional licenses. Except in these instances, there are no such
            requirements to apply to Skylight.
          </li>
          <li>
            You must excel at what you do, have the capacity to grow even more, and fit into
            <a href="/culture/">our culture</a>. Candidates with experience in building and improving
            public-facing or consumer-facing digital services using modern practices, as described in the
            <a href="https://playbook.cio.gov/" target="_blank">U.S. Digital Services Playbook</a>, will be particularly competitive.
          </li>
        </ul>

        <h2 id="who-where">Where we're hiring</h2>

        <p>
          <a href="/about/#hubzone">We're a certified HUBZone company</a>, which requires <strong>35% of
          our employees</strong> to be located in one of the
          <a href="https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps" target="_blank">many HUBZone-designated areas</a>
          across the country. Our principal office location is in Chapel Hill, North Carolina. If you already
          live in Chapel Hill, or another designated HUBZone area, that certainly makes
          retaining our HUBZone status with the Small Business Administration a lot easier!
          If you'd like to move to a HUBZone location, particularly Chapel Hill, we may be able
          to provide <a href="/join/#relocation">relocation assistance</a>.
        </p>

        <p>
          If you don't currently live in a HUBZone nor plan to in the future, no problem!
          Up to <strong>65% percent of our employees</strong> are <strong>free to live anywhere</strong>
          in the United States. We're a distributed and remote-friendly team, with members currently
          divided between Chapel Hill, Austin, and other locations.
        </p>

        <p>
          In some cases, our client contracts may require you to work at specific site location or
          we may ask you to work at a particular location based on your role.
        </p>

        <h2>Equal opportunity employer</h2>

        <p>
          We're an Equal Opportunity/Affirmative Action Employer. All qualified applicants will
          receive consideration for employment without regard to race, color, national origin,
          ancestry, sex, sexual orientation, gender identity or expression, religion, age, pregnancy,
          disability, work-related injury, covered veteran status, political ideology, marital status,
          or any other factor that the law protects from employment discrimination.
        </p>
      </div>

      <div id="interviewing">
        <h2>Interview process</h2>

        <p>
          The entire interview process usually takes 1-2 weeks, followed by 1-2 weeks for onboarding.
        </p>

        <h2>Application review</h2>

        <p>
          Within five days after you submit your application,
          we'll evaluate your information against the qualifications of
          our <a href="/join/#open-positions">open positions</a> and communicate next steps.
          If you look like a potential match, we'll begin the live interview process.
        </p>

        <h2>Preliminary screening</h2>

        <p>
          The interview process begins with a 30-minute preliminary screening
          call by phone or video. Plan to talk about your skills and experience,
          what you're passionate about, and the work we do here. The call will also
          cover the interview process, structure, basic employment requirements,
          and employee benefits.
        </p>

        <p>
          If the preliminary screening call goes well, we'll schedule you for a technical
          interview and a behavioral interview, which are typically held back to back on Fridays.
          Both interviews are generally held by phone or video.
        </p>

        <h2>Technical interview</h2>

        <p>
          The technical interview lasts approximately one and a half hours.
          You'll be asked a variety of questions about your experience and skills,
          and how you'd apply them within the context of Skylight's work. This segment
          of the interview process typically includes a problem-solving (or challenge)
          exercise related to the role to which you're applying.
        </p>

        <h2>Behavioral interview</h2>

        <p>
          The behavioral interview lasts approximately one hour, and will assess
          how you interact with colleagues and get work done.
        </p>

        <h2>Additional interviews (if needed)</h2>

        <p>
          In some cases, we'll conduct additional interviews to evaluate
          skills we want to know more about.
        </p>

        <h2>The offer and onboarding process</h2>

        <p>
          If all the interviews go well, you'll receive a conditional offer
          followed by an official offer:
        </p>

        <ol>
          <li>
            You'll have a call with someone from Skylight to go over your conditional offer,
            including salary. "Conditional" means it's contingent on meeting conditions
            specific to your position such as passing a government suitability and security review.
            If you accept the conditional offer, you'll move on to the next set of steps.
          </li>

          <li>
            If a government suitability and security review is required by your position,
            you'll fill out a standard government form that covers all your employment,
            travel, residences, and other types of information for the past several years.
            (For "contracting" positions with the federal government, the standard form is
            either an SF-85 or SF-86.) You'll then complete a drug test. You must be able to
            pass through both the background investigation and drug test.
          </li>

          <li>
            Once the conditions of the conditional offer are met, you'll receive your formal offer.
          </li>

          <li>
            We work with you to set a start date. New staff start every other Monday.
          </li>
        </ol>

        <h2>Security clearances</h2>

        <p>
          Many of our "contracting" positions with government require some kind of
          background check. Lower level clearances such as "public trust" are more
          thorough than most private-sector background checks. Higher level clearances
          such as "secret" are far more intensive by comparison. The background review
          process adds some time and forms to the hiring process, but we'll guide you through it.
        </p>

        <p>
          Note that whatever form you need to fill out for your background review is
          quite extensive. It may take substantial time to collect contact information
          for previous employers, as well as old addresses. Delays in providing this
          information will slow down your onboarding process.
        </p>
      </div>

      <div id="benefits">
        <h2>Pay &amp; benefits</h2>

        <p>
          We hire good people and support them with the best benefits possible,
          which will only get better and better as our business grows:
        </p>

        <ul>
          <li>
            Competitive salary
          </li>

          <li>
            Profit-sharing and/or bonus opportunities
          </li>

          <li>
            Health insurance, including medical, dental, vision, and more
          </li>

          <li>
            401k match at 10% of your salary
          </li>

          <li>
            Unlimited paid time-off policy
          </li>

          <li>
            $2,000 continuing education allowance, including conference events
          </li>

          <li>
            Time to focus on activities such as learning &amp; development,
            open-source projects, and community outreach
          </li>

          <li>
            An environment that empowers you to unleash your superpowers for public good
          </li>

          <li>
            Potential relocation assistance
          </li>

          <li>
            Remote-friendly work environment
          </li>
        </ul>
      </div>

      <div id="relocation">
        <h2>Relocation</h2>

        <p>
          We offer relocation assistance on a case-by-case basis. We give strong
          consideration to cases where an individual would like to move to what the
          Small Business Administration (SBA) calls a HUBZone area.
          Since <a href="/about/#hubzone">Skylight is a certified by the SBA as a HUBZone company</a>,
          we encourage people to live in one of the <a href="https://www.sba.gov/contracting/government-contracting-programs/hubzone-program/hubzone-maps" target="_blank">many HUBZone areas</a>
          across the country, particularly <a href="https://www.google.com/maps/place/Chapel+Hill,+NC/@35.9209387,-79.109331,12z/data=!3m1!4b1!4m5!3m4!1s0x89acc31c216e7ea7:0x7f03bae00443e4cb!8m2!3d35.9131996!4d-79.0558445" target="_blank">Chapel Hill, North Carolina</a>,
          which is the location of our principal office.
        </p>
      </div>

      <div id="internships">
        <h2>Internships</h2>

        <p>
          Our <i>Emerging CivicTech Stars</i> internship program offers paid opportunities
          to undergraduate students to gain hands-on experience with making government
          work in the digital age. To prepare you for a successful career in
          <a href="https://en.wikipedia.org/wiki/Civic_technology" target="_blank">civic tech</a>,
          the program offers:
        </p>

        <ul>
          <li>
            Supportive environment to learn design or software development
          </li>

          <li>
            Real-world client delivery experience
          </li>

          <li>
            Opportunity to make a civic impact
          </li>

          <li>
            Paid work and flexible schedules
          </li>

          <li>
            Opportunity to apply for a full-time role upon graduation
          </li>
        </ul>

        <p>
          To become a member of <i>Emerging CivicTech Stars</i>, you must meet a few basic requirements:
        </p>

        <ul>
          <li>
            Be an undergraduate enrolled in a program related to design or technology
          </li>

          <li>
            Have completed some design or programming coursework
          </li>

          <li>
            Have a GPA of 3.0 or above
          </li>

          <li>
            Have time to work at least 10 hours per week during business hours
          </li>

          <li>
            Be passionate about making government work better through technology
          </li>
        </ul>

        <p>
          Given our headquarters location in Chapel Hill, North Carolina, we strongly
          encourage undergraduate students enrolled at the universities of North Carolina,
          Duke, or NC State to apply.
        </p>
      </div>

      <div id="application">
        <h2>Submit your info</h2>

        <p>
          If you don't see an <a href="/join/#join-open-positions">open position</a> that fits you, or we're not currently advertising
          any openings, we'd love for you to apply anyway!
        </p>

        {% include apply_form.html %}
      </div>
    </section>

    <aside class="subnav-col">
      <nav>
        <ul role="presentation">
          <li class="current"><a href="/join/#join" aria-current="location">Join the team</a></li>
          <li><a href="/join/#who">Who we're hiring</a></li>
          <li><a href="/join/#interviewing">Interview process</a></li>
          <li><a href="/join/#benefits">Pay &amp; benefits</a></li>
          <li><a href="/join/#relocation">Relocation</a></li>
          <li><a href="/join/#internships">Internships</a></li>
          <li><a href="/join/#application">Submit your info</a></li>
        </ul>
      </nav>
    </aside>

  </div>

</div>

{% include intro_cta.html %}
