---
layout: default
title: Our policies
description: Our policies govern how we interact with you and our fellow colleagues.
permalink: /company/policies/
---

{% include page_header.html
  header_class = "page-header-2"
%}

<div class="our-policies grid-container maxw-prose">

  <div class="policies-row">
    <div class="text-lead-col">
      <p>
        Our policies govern how we interact with you and our fellow colleagues.
        We've written them to be as plain language as possible so humans
        (not just lawyers) can actually understand them.
      </p>
    </div>
  </div>

  <div class="policies-row">
    <div class="policy-list-col">
      <ul>
        <li><a href="/company/policies/privacy/">Privacy Policy</a></li>
        <li><a href="/company/policies/intellectual-property/">Intellectual Property Policy</a></li>
        <li><a href="/company/policies/linking/">Linking Policy</a></li>
        <li><a href="/company/policies/open-source/">Open Source Policy</a></li>
        <li><a href="/company/policies/vulnerability-disclosure/">Vulnerability Disclosure Policy</a></li>
        <li><a href="/company/policies/code-of-conduct/">Code of Conduct Policy</a></li>
        <li><a href="/company/policies/intentional-communications/">Intentonal Communications Policy</a></li>
      </ul>
    </div>
  </div>

</div>

{% include join_us_cta.html %}
