---
layout: default
title: Press
permalink: /company/press/
---

{% include hero_banner.html
  hero_content = 'Skylight in the news.'
  color = 'blue'
%}

<div class="container">
  <div class="row">
  </div>
</div>

https://medium.com/@DigitalServicesCoalition/digital-services-coalition-works-to-deliver-it-in-a-new-way-to-the-federal-government-3bc1e59bc4e7

https://federalnewsnetwork.com/reporters-notebook-jason-miller/2019/07/application-rationalization-playbook-a-prescriptive-and-flexible-approach-to-the-cloud/

https://federalnewsnetwork.com/commentary/2017/05/bootstrapping-the-way-out-of-the-legacy-it-systems-crisis/

https://fcw.com/blogs/lectern/2017/01/kelman-agile-share-in-savings.aspx

https://www.fedscoop.com/agile-financing-model-agile-share-savings/

https://iq.govwin.com/neo/marketAnalysis/view/1847?researchTypeId=1

https://federalnewsnetwork.com/reporters-notebook-jason-miller/2018/03/lighthouse-lab-to-give-va-a-safe-environment-to-bring-services-to-veterans-more-quickly/

https://www.linkedin.com/pulse/federal-procurement-innovation-through-jaime-gracia/

https://www.fedhealthit.com/2018/06/skylight-and-ad-hoc-score-va-api-platform-micropurchase-awards-skylight-to-hosts-va-prioritization-workshop/

https://fetch.g2xmedia.io/2020-nxt-up/

https://www.publicspendforum.net/blogs/frank-mcnally/2018/08/28/government-tech-startups-procurement/

https://federalnewsnetwork.com/fedtalk/2018/03/dissecting-the-presidents-management-agenda/

{% include hire_us_cta.html %}
