---
layout: default
title: Press
permalink: /company/press/
pagination:
  enabled: true
  collection: press
  sort_field: 'date'
  sort_reverse: true
  per_page: 5
preload: hero-press.svg
---

{% include hero_banner.html
  hero_content = 'Skylight in the news.'
  color = 'primary'
  image = 'hero-press.svg'
%}

<div class="container container-md text">
  {% for item in paginator.posts %}
    <p class="font-weight-bold mb-2 small mt-5 project-title-tag">{{ item.source }}: {{ item.date | date: "%B %-d, %Y" }}</p>
    <h2 class="h3">
      {% if item.heading %}
        {{ item.heading }}
      {% else %}
        {{ item.title }}
      {% endif %}
    </h2>
    <p class="mt-3">{{ item.summary }}</p>
    <p class="font-weight-bold">Full story: <a href="{{ item.href }}">{{ item.title }}</a></p>
  {% endfor %}
</div>

{% include pagination.html %}

{% include hire_us_cta.html %}
