---
layout: default
title: Talks
permalink: /thoughts/talks/
preload: hero-talks.svg
pagination:
  enabled: true
  collection: talks
  sort_field: 'date'
  sort_reverse: true
  per_page: 5
---

{% include
  hero_banner.html hero_content = 'Our spoken thoughts on design,<br class="linebreak" />technology, and more.'
  color = 'red'
  image = 'hero-talks.svg'
%}

<div class="grid-container">
  <h2 class="margin-heading mb-4">Featured</h2>
  {% for item in site.talks %}
    {% if item.featured == true %}
      <div class="talk__featured row" id="{{ item.title | slugify }}">
        <div class="col-md-8 d-flex flex-column align-items-stretch">
          {% if item.type == "video" %}
            <div class="embed-responsive embed-responsive-16by9">
              <iframe
                title="{{ item.title }}"
                class="embed-responsive-item"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{ item.link }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            {% elsif item.type == "podcast" %}
              <div
                class="blog-post-img"
                role="img"
                style="background-image: url(/img/podcast/{{ item.img }})"
                aria-label="{{ item.img_description }}"
              >
            {% endif %}
            </div>
        </div>
      <div class="col-md-4 d-flex flex-column align-items-stretch">
        <p class="featured-talk__date kicker">{{ item.date | date: "%B %-d, %Y" }}</p>
        <h3 class="">{{ item.title }}</h3>
        <p class="mt-3 text">
          {{ item.description }}
        </p>
        <h4 class="kicker mb-1">Event</h4>
        <p>{{ item.event }}</p>
        <a class="font-mono" href="https://www.youtube.com/watch?v=_eGtm66_X9E" target="_blank">
          {% if item.type == "video" %}
            Watch video
          {% elsif item.type == "podcast" %}
            Listen to podcast
          {% endif %} <i class="fal fa-long-arrow-right" aria-hidden="true"></i>
        </a>
      </div>
    </div>
    {% endif %}
  {% endfor %}

  <div class="row mt-6 pt-4">
    {% for item in site.talks %}
      {% unless item.featured == true %}
        <article class="blog-post-col" id="{{ item.title | slugify }}">
          <div
            class="blog-post-card card-link"
            data-href="{% if item.type == "video" %}https://www.youtube.com/watch?v={% endif %}{{ item.link }}"
            data-target="_blank"
            tabindex="-1"
          >
            <div
              class="blog-post-img {% if item.type == "video" %}embed-responsive embed-responsive-16by9{% endif %}"
              {% if item.type == "podcast" %}
                role="img"
                style="background-image: url(/img/podcast/{{ item.img }})"
                aria-label="{{ item.img_description }}"
              {% endif %}
            >
            {% if item.type == "video" %}
              <iframe
                title="{{ item.title }}"
                class="embed-responsive-item"
                width="560"
                height="315"
                src="https://www.youtube.com/embed/{{ item.link }}"
                frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen
              ></iframe>
            {% endif %}
            </div>
            <div class="blog-post-block">
              <p class="kicker">{{ item.date | date: "%B %-d, %Y" }}</p>
              <h3 class="blog-post-title font-lg">
                {{ item.title }}
              </h3>
              <div class="card-text blog-post-text">{{ item.description | markdownify }}</div>
              <h4 class="kicker margin-heading">Event</h4>
              <p class="card-text">{{ item.event }}</p>
            </div>
            <div class="blog-post-footer">
              <a href="{% if item.type == "video" %}https://www.youtube.com/watch?v={% endif %}{{ item.link }}" tabindex="0">
                {% if item.type == "video" %}
                  Watch video
                {% elsif item.type == "podcast" %}
                  Listen to podcast
                {% endif %} <i class="fal fa-long-arrow-right" aria-hidden="true"></i>
              </a>
            </div>
          </div>
        </article>
      {% endunless %}
    {% endfor %}
  </div>
</div>

{% include hire_us_cta.html %}
