---
layout: default
title: Talks
permalink: /thoughts/talks/
---

{% include hero_banner.html
  hero_content = 'Our spoken thoughts on design, technology, and more.'
  color = 'blue'
%}

<div class="container">
  <div class="row">
    <div class="col-sm-6 d-flex flex-column align-items-stretch">
      <div class=" embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/_eGtm66_X9E" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3 class="h4 mt-3">Agile in a Legacy Environment</h3>
    </div>
    <div class="col-sm-6 d-flex flex-column align-items-stretch">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/lQREvCGELq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3 class="h4 mt-3">Modern Agile Procurement</h3>
    </div>
    <div class="col-sm-6 mt-5 d-flex flex-column align-items-stretch">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/n7aE6k8o_BU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3 class="h4 mt-3">Sean Johnson - Pattern Matching in Clojure</h3>
    </div>
    <div class="col-sm-6 mt-5 d-flex flex-column align-items-stretch">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/DbatBt_fPug" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3 class="h4 mt-3">Kin Lane talks APIs with Matthew Reinbold and DevExchange</h3>
    </div>
    <div class="col-sm-6 mt-5 d-flex flex-column align-items-stretch">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" width="560" height="315" src="https://www.youtube.com/embed/kWyYdjWDaXU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
      <h3 class="h4 mt-3">LoRa Alliance Keynote at IoT Evolution EXPO 2018</h3>
    </div>
  </div>
  <h2 class="mt-5">Other talks</h2>
  <h3 class="h4 mt-3"><a class="" href="https://federalnewsnetwork.com/fedtalk/2018/03/dissecting-the-presidents-management-agenda/">Dissecting the President’s management agenda</a></h3>
  <h3 class="h4 mt-3"><a class="" href="https://www.publicspendforum.net/podcasts/modernizing-government-it-micropurchase-podcast/">Modernizing Government Technology through Micropurchasing Authorities and Modular Techniques, Featuring Inputs from Chris Cairns, Keith Deavan, and Mark Junda</a></h3>
</div>


<!-- https://www.youtube.com/watch?v=_eGtm66_X9E&t=3s
https://www.youtube.com/watch?v=lQREvCGELq8&t=6s
https://www.youtube.com/watch?v=n7aE6k8o_BU&t=29s
https://www.youtube.com/watch?v=DbatBt_fPug
https://www.youtube.com/watch?v=kWyYdjWDaXU -->


{% include hire_us_cta.html %}
