---
layout: default
title: Talks
permalink: /thoughts/talks/
---

{% include hero_banner.html
  hero_content = 'Our spoken thoughts on design, technology, and more.'
  color = 'blue'
%}

<div class="container">
  <div class="row">
  </div>
</div>

https://www.youtube.com/watch?v=_eGtm66_X9E&t=3s
https://www.youtube.com/watch?v=lQREvCGELq8&t=6s
https://www.youtube.com/watch?v=n7aE6k8o_BU&t=29s
https://www.youtube.com/watch?v=DbatBt_fPug
https://www.youtube.com/watch?v=kWyYdjWDaXU
https://federalnewsnetwork.com/fedtalk/2018/03/dissecting-the-presidents-management-agenda/
https://www.publicspendforum.net/podcasts/modernizing-government-it-micropurchase-podcast/

{% include hire_us_cta.html %}
