---
layout: default
title: Toolkits
permalink: /work/toolkits/
preload: hero-toolkits.svg
excerpt: Tools and resources that we use at Skylight to help us and our clients deliver better public services.
image: /img/toolkits-social.png
image_description: Skylight toolkits banner showing a collection of different tools.
---

{% include hero_banner.html
  hero_content = 'Good work requires good tools.'
  color = 'blue'
  image = 'hero-toolkits.svg'
%}

<section class="maxw-md grid-container text prose">
  <div>
    <p>
      Here are some of the tools and resources that we use at Skylight to help
      us and our clients deliver better public services. These toolkits are
      always being iterated on and are available to everyone under our
      <a
        href="https://github.com/skylight-hq/skylight.digital/blob/master/LICENSE.md"
        >public-domain license.</a
      >
      Feel free to copy and adapt them as you choose.
    </p>

    <div class="blog-posts-row my-5 mb-md-0">
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/toolkits/digital-talent-management/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Digital talent management handbook
            </h2>
            <p class="card-text blog-post-text">
              {{ site.data.toolkits.digital_talent_management.description }}
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/toolkits/digital-talent-management/" tabindex="0">
              <span>View handbook</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/toolkits/data-sharing-playbook/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Data sharing playbook
            </h2>
            <p class="card-text blog-post-text">
              {{ site.data.toolkits.data_sharing_playbook.description }}
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/toolkits/data-sharing-playbook/" tabindex="0">
              <span>View playbook</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/toolkits/accessibility-guide/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Accessibility guide
            </h2>
            <p class="card-text blog-post-text">
              {{ site.data.toolkits.accessibility_guide.description }}
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/toolkits/accessibility-guide/" tabindex="0">
              <span>View guide</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/toolkits/agile-procurement-playbook/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Agile procurement playbook
            </h2>
            <p class="card-text blog-post-text">
              {{ site.data.toolkits.agile_procurement_playbook.description }}
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/toolkits/agile-procurement-playbook/" tabindex="0">
              <span>View playbook</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/toolkits/managing-technical-debt/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Managing technical debt guide
            </h2>
            <p class="card-text blog-post-text">
              {{ site.data.toolkits.managing_technical_debt.description }}
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/toolkits/managing-technical-debt/" tabindex="0">
              <span>View guide</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
    </div>

    <p>
      These toolkits are managed by our Communities of Practice. Communities are
      organized groups within Skylight who are passionate about developing and
      sharing our expertise with the world. We currently have eight Communities
      of Practice. These include: Research & Design, Product & Delivery,
      Engineering, Data, Procurement, Transformation, Accessibility, and
      Internet of Things.
    </p>
  </div>
</section>

{% include get_expert_answers_cta.html %}
