---
layout: default
title: Toolkits
permalink: /work/toolkits/
---

{% include hero_banner.html
  hero_content = 'Good work requires good tools.'
  color = 'blue'
  image = 'hero-toolkits.svg'
%}

<div class="container container-lg text prose">
  <p>
    Here are some of the tools and resources that we use at Skylight to help us and our
    clients deliver better public services. These toolkits are always being iterated on
    and are available to everyone under our <a href="https://github.com/skylight-hq/skylight.digital/blob/master/LICENSE.md">public-domain license.</a>
    Feel free to copy and adapt them as you choose.
  </p>

  <div class="row my-4">
    <div class="col-md-6 d-flex align-items-stretch">
      <div class="toolkit-item p-5">
        <a href="/work/toolkits/digital-talent-management/">
          <h2 class="h3">Digital Talent Management Handbook</h2>
        </a>
        <p class="mt-3">{{ site.data.toolkits.digital_talent_management.description }}</p>
        <p class="mb-0">Contact: <a href="mailto:communities@skylight.digital">Transformation Community of Practice</a></p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-5 mt-md-0">
      <div class="toolkit-item p-5">
        <a href="/work/toolkits/data-sharing-playbook/">
          <h2 class="h3">Data Sharing Playbook</h2>
        </a>
        <p class="mt-3">{{ site.data.toolkits.data_sharing_playbook.description }}</p>
        <p class="mb-0">Contact: <a href="mailto:communities@skylight.digital">Data Community of Practice</a></p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-5">
      <div class="toolkit-item p-5">
        <a href="/work/toolkits/accessibility-guide/">
          <h2 class="h3">Accessibility Guide</h2>
        </a>
        <p class="mt-3">{{ site.data.toolkits.accessibility_guide.description }}</p>
        <p class="mb-0">Contact: <a href="mailto:communities@skylight.digital">Accessibility Community of Practice</a></p>
      </div>
    </div>
    <div class="col-md-6 d-flex align-items-stretch mt-5">
      <div class="toolkit-item p-5">
        <a href="/work/toolkits/agile-procurement-playbook/">
          <h2 class="h3">Agile Procurement Playbook</h2>
        </a>
        <p class="mt-3">{{ site.data.toolkits.agile_procurement_playbook.description }}</p>
        <p class="mb-0">Contact: <a href="mailto:communities@skylight.digital">Procurement Community of Practice</a></p>
      </div>
    </div>
  </div>

  <p>
    These toolkits are managed by our Communities of Practice. Communities
    are organized groups within Skylight who are passionate about developing
    and sharing our expertise with the world. We currently have nine communities
    of practice. These include:
  </p>

  <ul>
    <li><b>Delivery Management</b>, led by <a href="/company/about/#victor-zapanta">Sally Paul</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Research & Design</b>, led by <a href="/company/about/#victor-zapanta">Victor Zapanta</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Product</b>, led by <a href="/company/about/#victor-zapanta">Sally Paul</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Engineering</b>, led by <a href="/company/about/#victor-zapanta">Sally Paul</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Data</b>, led by <a href="/company/about/#victor-zapanta">Sally Paul</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Procurement</b>, led by <a href="/company/about/#chris-cairns">Chris Cairns</a> (<a href="mailto:chris@skylight.digital">chris@skylight.digital)</a></li>
    <li><b>Transformation</b>, led by <a href="/company/about/#victor-zapanta">Sally Paul</a> (<a href="mailto:victor@skylight.digital">victor@skylight.digital)</a></li>
    <li><b>Accessibility</b>, led by <a href="/company/about/#nick-bristow">Nick Bristow</a> (<a href="mailto:nick@skylight.digital">nick@skylight.digital)</a></li>
    <li><b>Internet of Things</b>, led by <a href="/company/about/#geoff-mulligan">Geoff Mulligan</a> (<a href="mailto:geoff@skylight.digital">geoff@skylight.digital)</a></li>
  </ul>

</div>

{% include get_expert_answers_cta.html %}
