---
layout: default
title: Training
permalink: /training/
---

<div class="bg bg-blue scroll-top-offset">
    <div class="inner-container">
        <h1 class="text-white mb-4 header-display-2">Digital IT Acquisition Professional (DITAP) Training</h1>
        <p class="text-white mb-4">Learn the skills required to master the art of digital acquisition through our expert-led, 6-month, part-time course. Upon completion, you’ll earn the Federal Acquisition Certification in Contracting Core-Plus Specialization in Digital Services (FAC-C-DS) and up to 80 Continuous Learning Points.</p>
        <div>
            <a href="/training/general" role="button" class="btn btn-yellow mr-3 btn-md-block">Apply Now <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
            <a href="#" role="button" class="btn btn-outline-white mr-3 btn-md-block">Download syllabus</a>
        </div>
    </div>
</div>
<div>
    <div class="inner-container">
        <div class="row">
            <div class="jumpnav">
                <aside class="subnav-col">
                    <button class="subnav-button btn">
                        <span>Jump to...</span>
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                    </button>
                    <nav id="subnav">
                        <ul class="nav flex-column" role="presentation">
                            <li class="nav-item">
                                <a href="#what" class="nav-link"><span>What you'll learn</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#who" class="nav-link"><span>Who should take</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#how" class="nav-link"><span>How it works</span></a>
                            </li>
                            <li class="nav-item">
                                <a href="#specifics" class="nav-link"><span>Nuts &amp; Bolts</span></a>
                            </li>
                        </ul>
                    </nav>
                </aside>
            </div>
            <div class="jumpnav-content">
                <p>The term digital services refers to the delivery of services to customers in the internet era. Great digitals services are built by teams who make effective use of practices and technologies in areas such as user-centered design, agile software delivery, and cloud computing. From an acquisition standpoint, these solutions represent a fundamental change to the way you and your agency needs to approach procurement. We call this new and modern approach to procurement digital acquisition.</p>
                <p>To increase the development of digital acquisition experts across the government, the U.S. Digital Service and the Office of Federal Procurement Policy launched the Digital IT Acquisition Professional (DITAP) Training program. Skylight offers DITAP training, led by experts who pioneered the field as former members of 18F and the U.S. Digital Service. </p>
                <hr id="what" class="section-break" />
                <h2 class="header-display-3 mb-2 mt-5 pt-2">What you'll learn</h2>
                <p>In this program, you’ll learn how to translate critical concepts and resources in the field of digital acquisition into effective, real-world practice.</p>
                <p><strong>Digital Services in the 21st Century Government</strong><br />Learn the fundamentals of digital services, including human-centered design, agile software delivery, cloud computing, and X-as-a-service.</p>
                <p><strong>Understanding What You’re Buying</strong><br />Learn how to determine what your customer’s needs are, how to assess which solutions are most likely to succeed given your agency’s current level of maturity, and how to conduct market research.</p>
                <p><strong>How to Buy Digital Services</strong><br />Understand how to develop an acquisition strategy that effectively factors in the needs of your customer, your agency’s digital service maturity, your market research findings, and digital acquisition best practices.</p>
                <p><strong>Awarding and Administering Digital Service Contracts</strong><br />Learn proven techniques for awarding and administering digital service contracts that actually deliver results.</p>
                <div><strong>Leading Change As a Digital Acquisition Professional</strong><br />Master the leadership and communication skills you need to win stakeholder buy-in for digital acquisition.</div>
                <div class='mt-5 mb-5'>
                    <blockquote class="quote">
                        <p"><em>“As one of the first students to complete the DITAP program in 201X, I walked away with the critical know-how necessary to help change the way my agency acquires technology services. The contracting results that I experienced supporting some of the government’s most critical programs were the reasons why I became an acquisition professional in the first place.”</em></p>
                        <div>— <strong>Dan Levenson</strong></div>
                        <div class="header-display-5">Former Centers for Medicare & Medicaid Services Digital Service Contracting Advisor and Lead Contracting Officer for the Quality Payment Program</div>
                    </blockquote>
                </div>
                <hr id="who" class="section-break" />
                <h2 class="header-display-3 mb-2 mt-5 pt-2">Who should take DITAP training</h2>
                <p>By 2022, all federal acquisition professionals managing contracts of $7M or more will require FAC-C-DS certification, which can be obtained by completing an accredited DITAP training course such as ours. DITAP training isn’t just for acquisition professionals seeking certification. </p>
                <p>This training is for anyone who plays a role in the lifecycle of an acquisition, and wants to learn how to transform acquisition outcomes through digital acquisition methods. We’ve seen these roles in particular have great impact with acquisition training:</p>
                <ul>
                    <li>Finance Officers</li>
                    <li>Legal team members and advisors</li>
                    <li>Product, Project, and Program Managers</li>
                    <li>Technical Managers</li>
                    <li>Procurement Officers</li>
                </ul>
                <hr id="how" class="section-break" />
                <h2 class="header-display-3 mb-2 mt-5 pt-2">How it works</h2>
                <p><strong>We believe that learning, like acquisitions in government, should be collaborative and hands-on.</strong> We’ve designed our learning environment to coach you through real-world problems, and to create an immersive experience in both the theory and applied practice of digital acquisitions.</p>
                <p><strong>We bring modern practices to you.</strong> Our team of educators, coaches, and acquisition professionals are eager to share our experiences as we live them every day. Through our blend of remote and onsite learning, you’ll have the chance to engage with the pioneers of modern digital acquisitions.</p>
                <p><strong>Learn in a dynamic environment.</strong> We combine traditional in-person classroom learning (full of activities, seminars, panels, and guest speakers) with flexible, asynchronous online learning content. Your time will be split between reading case studies and participating in team projects, with plenty of interactive discussion and collaboration. Our balanced and holistic approach will give you the tools to succeed, whatever your learning style.</p>
                <p><strong>Receive a hands-on education.</strong> Our skilled facilitators will help mentor you every step of the way through collaboration webinars, feedback and discussion sessions, and even helping coach project teams.</p>
                <hr id="specifics" class="section-break" />
                <h2 class="header-display-3 mb-2 mt-5 pt-2">Nuts &amp; Bolts</h2>
                <p><strong>Logistically speaking, the course is set up with a combination of in-person and remote involvement.</strong></p>
                <p>You’ll spend </p>
                <ul>
                    <li>15 hours of webinars across 6 months.</li>
                    <li>9 full days of mandatory, in-person classroom instruction.</li>
                    <li>Additional 12 hours per week to read articles, participate in online discussions, contribute to group activities, and work on assignments.</li>
                </ul>
                <p>Your tuition will cover:</p>
                <ul>
                    <li>6 months of Digital Acquisition training.</li>
                    <li>Access to all course materials and our online learning platform.</li>
                    <li>Access to our training team, who will be available for 1-on-1 sessions during non-classroom hours.</li>
                    <li>Collaboration and networking opportunities.</li>
                </ul> 
                <p>Note that while most of the program can be completed remotely, travel for the in-person classroom sessions is not included.</p>
                <p><strong>At the end of the course, you will receive</strong> a Federal Acquisition Certification in Contracting Core-Plus Specialization in Digital Services (FAC-C-DS). You should receive 60 to 80 Continuous Learning Points (CLPs) based on your level of achievement in the program.</p>                 
                <p><strong>To enroll, we suggest you already have a Level II or Level III FAC-C certification, though it is not required</strong> as long as you have the requisite acquisition skills and knowledge to complete the program.</p>
                <p><strong>Your peers will be fellow acquisition professionals who are as passionate about changing procurement outcomes as you are.</strong> These colleagues will be valuable (to us and to you) as future collaborators and friends.</p>
                <div><strong>Each course requires a minimum of 25 participants.</strong> The run dates are contingent upon meeting this minimum, and we will communicate with applicants accordingly.</div>
                <hr id="upcoming" class="section-break" />
                <h2 class="header-display-3 mb-2 mt-5 pt-2">Upcoming Courses</h2>
                <div class="courses">
                    {% for training in site.training_offerings %}
                        {% if training.display_in_list %}
                            <a href="{{training.permalink}}" class='course-card'>
                                <div role="img" class="course-img" style="background-image: url({{training.image}});" title="Illustration of Hurricane Maria engulfing Puerto Rico."></div>
                                <div class="course-preview p-4">
                                    <div class="font-weight-bold mb-3">{{training.start_date}} - {{training.end_date}}</div>
                                    <div class="font-weight-bold">{{training.location}}</div>
                                    <div class="text-gray-dark">
                                        <strong>Instructors:</strong>
                                        {% for member in training.instructors %}
                                            {% assign emp = site.data.team | where: 'name', member | first %}
                                            {{emp.full_name}}{% if forloop.last != true %}, {% endif %}
                                        {% endfor %}
                                    </div>
                                    <div class="text-gray-dark mb-3"><strong>Cost:</strong> {{training.cost}}</div>
                                    <div class="">Apply to this course →</div>
                                </div>
                            </a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% include training_cta.html
    header = "Still have questions?"
    text = "Please don’t hesitate to get in touch with us"
%}