---
layout: default
title: Training
permalink: /work/services/training/
preload: hero-training.svg
---

{% include hero_banner.html
  hero_content = 'Get the skills you need to make government work in a digital world.'
  color = 'primary'
  image = 'hero-training.svg'
%}

<section class="mx-auto maxw-md">
  <div class="grid-container text prose">
    <div class="blog-posts-row mt-5">
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/services/training/ditap/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Digital IT Acquisition Professional (DITAP) Training
            </h2>
            <p class="card-text blog-post-text">
              Become a certified digial acquisition professional through our
              expert-led, 6-month, part-time course.
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/services/training/ditap/" tabindex="0">
              <span>Learn more</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
      <article class="blog-post-col col-md-6">
        <div
          class="blog-post-card card-link"
          data-href="/work/services/training/ditap-executive/"
          tabindex="-1"
        >
          <div class="blog-post-block">
            <h2 class="blog-post-title">
              Digital IT Acquisition Professional (DITAP) Training &mdash;
              Executive Edition
            </h2>
            <p class="card-text blog-post-text">
              Become a certified digial acquisition professional through our
              expert-led, 6-month, part-time course.
            </p>
          </div>
          <div class="blog-post-footer">
            <a href="/work/services/training/ditap-executive/" tabindex="0">
              <span>Learn more</span
              ><i class="fal fa-long-arrow-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </article>
    </div>
  </div>
</section>

{% include get_expert_answers_cta.html %}
