---
layout: default
title: Our Work
permalink: /work/
redirect_from:
  - /work/energyos/
  - /work/maalka/
  - /work/people-power/
---

{% capture header_content %}
  Explore a sampling of the types of experience that we can
  bring to your biggest digital challenges and opportunities.
{% endcapture %}

{% include page_header.html
  header_content_class = 'page-header-content-1'
  header_content = header_content
%}

<div class="our-work">
  {% assign projects = site.projects | where: 'display', 'true' | sort: 'order' %}

  {% include card_list.html
    collection = projects
    prefix = 'project'
    cta_text = 'Read case study'
  %}

</div>

{% include hire_us_cta.html %}
