---
layout: default
title: Our Work
permalink: /work/
---

{% capture header_content %}
  We're a new-found HUBZone digital consultancy. Although our company is new,
  our people are not. Explore a sampling of the experience that we bring to your
  biggest digital challenges and opportunities.
{% endcapture %}

{% include page_header.html
  header_content_class = 'page-header-content-2'
  header_content = header_content
%}

<div class="our-work">
  {% assign projects = site.projects | sort: 'order' %}

  {% include card_list.html
    collection = projects
    prefix = 'project'
    cta_text = 'Read case study'
  %}

</div>

{% include hire_us_cta.html %}
