<div class="{{ include.section.background }} {{ include.section.padding }}">
  <div class="grid-container prose">
    {% if include.section.title %}
    <div class="row">
      <div class="col-md-10 mt-md-4">
        <h2 id="{{ include.section.id }}">{{ include.section.title }}</h2>
        {% if include.section.intro %}
        <p>{{ include.section.intro }}</p>
        {% endif %}
      </div>
      <div class="col-md-2"></div>
    </div>
    {% endif %}

    {% case include.section.id %}
    <!-- who_we_are.html is missing-->
    <!-- our_services.html is missing -->
    <!-- service_details.html is missing -->
    <!-- service_details.html is missing -->
    <!-- track_record.html is missing -->
    <!-- engagement.html is missing -->
    {% when 'engagement' %}
    {% include public_health/engagement.html section=include.section %}
    {% endcase %}
  </div>
</div>