<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page-{% if page.class %}{{ page.class }}{% else %}{{ page.title | slugify }}{% endif %} page-{{ page.permalink | slugify }} page-{{ page.url | replace:'/',' ' | truncatewords: 1 | remove:'...' }}" data-spy="scroll" data-target="#sidenav" data-offset="10">
    <a href="#content" class="sr-only sr-only-focusable">Skip to main content</a>

    {% include header.html %}

    <main id="content" tabindex="-1">
      {{content}}
    </main>

    {% include footer.html %}

    {% include analytics.html %}
  </body>

</html>
