<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body class="page-{% if page.class %}{{ page.class }}{% else %}{{ page.title | slugify }}{% endif %} page-{{ page.permalink | slugify }}" data-spy="scroll" data-target="#sidenav">
    <a href="#content" class="sr-only sr-only-focusable">Skip to Main Content</a>

    {% include header.html %}

    <main id="content" tabindex="-1">
      {{content}}
    </main>

    {% include footer.html %}

    {% if site.notice_bar %}
      {% include notice_bar.html %}
    {% endif %}

    {% include analytics.html %}
  </body>

</html>
