---
layout: default
---

{% assign employee_name = page.slug | replace: '_', '-' %}
{% assign employee = site.data.team | where: 'name', employee_name | first %}
{% assign filter_type = page.filter_type %}
{% assign tag_filter = employee_name | replace: '-', ' ' %}

{% if filter_type == 'project' %}
  {% assign items = site.projects | where: 'tags', tag_filter | sort: 'order' %}
  {% assign header = 'Work Search Results' %}
{% else %}
  {% assign items = site.blog_posts | where: 'tags', tag_filter | sort: 'date_published' | reverse %}
  {% assign header = 'Blog Search Results' %}
{% endif %}

{% assign items_size = items.size %}

{% if items_size == 1 %}
  {% assign count = items_size | append: ' ' | append: filter_type %}
{% else %}
  {% assign filter_type_plural = filter_type | append: 's' %}
  {% assign count = items_size | append: ' ' | append: filter_type_plural %}
{% endif %}

{% capture no_results %} Oops, there aren't any {{filter_type_plural}} yet for {{employee.full_name}}. {% endcapture %}

{% include filter.html
  filtered_items = items
  filter_header = header
  filter_image = employee.image
  filter_image_description = employee.image_description
  filter_title = employee.full_name
  filter_subtitle = employee.position
  filter_count = count
  filter_no_results = no_results
  context = 'employee'
%}
