---
layout: default
---

{% assign employee = site.data.team | where: 'name', page.name | first %}
{% assign filter_type = page.filter_type %}
{% assign tag_filter = page.name | replace: '-', ' ' %}

{% if filter_type == 'project' %}
  {% assign filtered_items = site.projects | where: 'tags', tag_filter | sort: 'order' %}
  {% assign filter_header = 'Work' %}
{% elsif filter_type == 'guide' %}
  {% assign filtered_items = site.guides | where: 'tags', tag_filter | sort: 'order' %}
  {% assign filter_header = 'Guides' %}
{% endif %}

{% assign filtered_items_size = filtered_items.size %}

{% if filtered_items %}
  {% assign filtered_items_size = filtered_items.size %}
{% else %}
  {% assign filtered_items_size = 0 %}
{% endif %}

{% if filtered_items_size == 1 %}
  {% assign filter_count = filtered_items_size | append: ' ' | append: filter_type %}
{% else %}
  {% assign filter_type_plural = filter_type | append: 's' %}
  {% assign filter_count = filtered_items_size | append: ' ' | append: filter_type_plural %}
{% endif %}

<div class="filter">

  <div class="container">
    <h1>{{filter_header}} Search Results</h1>
    <div class="row">
      <div class="filter-col">
        <header class="filter-header">
          <img class="filter-image" src="{{employee.image}}" alt="{{employee.image_description}}">

          <div class="filter-employee">
            <h2 class="filter-title">{{employee.full_name}}</h2>
            <h3 class="filter-subtitle">{{employee.position}}</h3>
          </div>

          <div class="filter-count">
            {{filter_count}}
          </div>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="filter-col">
        {% if filtered_items %}
          {% for filtered_item in filtered_items %}
            <article class="filter-item">
              <h2 class="filter-item-title header-display-5">
                <a class="filter-item-link" href="{{filtered_item.permalink}}">{{filtered_item.title}}</a>
              </h2>
              {% if filtered_item.subtitle %}
                {% assign filtered_item_desc = filtered_item.subtitle %}
              {% else %}
                {% assign filtered_item_desc = filtered_item.excerpt %}
              {% endif %}
              <p class="filter-item-description">{{filtered_item_desc}}</p>
            </article>
          {% endfor %}
        {% else %}
          <p class="filter-no-results">
            Oops, there aren't any {{filter_type_plural}} yet for {{employee.full_name}}.
          </p>
        {% endif %}
      </div>
    </div>
  </div>

</div>

{% include hire_us_cta.html %}
