---
layout: default
---

<div class="service-area-showcase">

  {% include page_header.html %}

  <section class="page-block container">
    {% assign service_elements = page.service_elements | sort: 'order' %}

    {% include hanging_column_size.html
      collection_size = service_elements.size
      col_size = 3
    %}

    <div class="service-elements {{hanging_col_size_css_class}}">
      {% for service_element in service_elements %}
        <div class="service-element">
          <div class="service-element-content-box">
            <h3>{{service_element.name}}</h3>
            <p>{{service_element.description}}</p>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <div class="image-block">
    <img src="{{page.image}}" alt="{{page.image_description}}">
  </div>

  <div class="page-block">
    <div class="page-block-hdr-1">
      <h2>Our work</h2>
    </div>

    {% capture tag_filter %}{{ page.slug | replace: '_', ' ' }}{% endcapture %}
    {% assign projects = site.projects | where: 'tags', tag_filter | sort: 'order' %}

    {% include card_list.html
      collection = projects
      prefix = 'project'
      cta_text = 'Read case study'
      limit = 3
    %}
  </div>

</div>

{% include hire_us_cta.html %}
