---
layout: default
---

{% assign tag_filter = page.slug | replace: '_', ' ' %}
{% assign posts = (site.blog_posts | where: 'tags', tag_filter | sort: 'date_published') | reverse %}
{% assign header = page.title %}

{% if posts.size == 1 %}
  {% assign count = '1 post' %}
{% else %}
  {% assign count = posts.size | append: ' posts' %}
{% endif %}

{% capture no_results %} Oops, there aren't any posts for this tag yet. {% endcapture %}

{% include filter.html
  filtered_items = posts
  filter_header = header
  filter_title = tag_filter
  filter_count = count
  filter_no_results = no_results
%}
