---
layout: default
preload: hero-toolkits.svg
---

{% include hero_banner.html
  color = "blue"
  image = 'hero-toolkits.svg'
  class = "hero--toolkits"
%}

<div class="grid-container" id="main">
  <div class="row d-flex">
    <div class="sidenav col-12 col-md-3 order-2 order-md-1">
      <div class="">
        <nav class="subnav-col px-0 mt-4 mt-md-0" id="sidenav">
          <ul>
            {% for item in site.data.toolkits[page.sidenav].toc %}
              <li>
                <a class="nav-link {% if item.url == page.url %}current{% endif %}" href="{{ item.url }}">{{ item.title }}</a>
              </li>
            {% endfor %}
          </ul>
        </nav>
      </div>
    </div>
    <section class="col-12 col-md-9 page--toolkit text prose order-1 order-md-2 {{page.toolkit_name}}">
      {{ content }}
      <!-- <div class="d-flex text-primary mt-5 justify-content-between">
        <span>
          <i class="fal fa-long-arrow-left mr-1" aria-hidden="true"></i>
          Understanding your talent gaps
        </span>
        <span>
          Building a digital team
          <i class="fal fa-long-arrow-right ml-1" aria-hidden="true"></i>
        </span>
      </div> -->
      <p class="link--return-top-top mt-5">
        <a href="#main">Return to top</a>
      </p>
    </section>
  </div>
</div>

{% include get_expert_answers_cta.html %}
