---
layout: default
---

{% assign projects = site.projects | where: 'tags', page.tag_filter | sort: 'order' %}
{% assign project_size = projects.size %}
{% assign employee = site.data.team | where: 'name', page.name | first %}

{% if project_size == 1 %}
  {% assign project_count = project_size %}
{% else %}
  {% assign project_count = project_size | append: ' projects' %}
{% endif %}

<div class="filter">

  <div class="container">
    <h1>Work Search Results</h1>
    <div class="row">
      <div class="filter-col">
        <header class="filter-header">
          <img class="filter-image" src="{{employee.image}}" alt="{{employee.image_description}}">

          <div class="filter-employee">
            <h2 class="filter-title">{{employee.full_name}}</h2>
            <h3 class="filter-subtitle">{{employee.position}}</h3>
          </div>

          <div class="filter-count">
            {{project_count}}
          </div>
        </header>
      </div>
    </div>

    <div class="row">
      <div class="filter-col">
        {% for project in projects %}
        <article class="filter-item">
          <h2 class="filter-item-title header-display-5">
            <a class="filter-item-link" href="{{project.permalink}}">{{project.title}}</a>
          </h2>
          <p class="filter-item-description">{{project.subtitle}}</p>
        </article>
        {% endfor %}
      </div>
    </div>
  </div>

</div>

{% include hire_us_cta.html %}
