.page-cta {
  background-color: $page-cta-bg-color;
  color: $page-cta-color;
  @extend .text-center;
  @extend .mt-5;
  @extend .mt-md-6;
  @extend .py-4;
  @extend .py-md-5;
}

.page-cta-hdr-wrapper {
  @extend .row;
  @extend .mb-3;
}

.page-cta-hdr {
  @extend .col;
}

.page-cta-content-wrapper {
  @extend .row;
  @extend .mb-2;
}

%page-cta-content-base {
  @extend .col;
  @extend .mx-auto;
  line-height: 1.75;
  font-weight: 100;
}

.page-cta-content {
  @extend %page-cta-content-base;
  @extend .col-md-9;
  @extend .col-lg-7;
}

.page-cta-content-narrow {
  @extend %page-cta-content-base;
  @extend .col-md-7;
  @extend .col-lg-5;
}

.page-cta-btn-wrapper {
  @extend .row;
}

.page-cta-btn {
  @extend .col;

  a {
    @extend %btn-base;
    @extend .btn-lg;
    @extend .text-uppercase;
    @include button-variant($btn-page-cta-color, $btn-page-cta-bg, $btn-page-cta-border);
  }
}

// Testimonial CTA
.testimonial-wrapper {
  @extend .row;
}

.testimonial {
  @extend .col-md;
  @extend .col-lg-9;
  @extend .mx-auto;

  blockquote {
    @extend .m-0;
  }
}

.testimonial-quote {
  font-size: $font-size-xl;
  @extend .font-italic;
  line-height: 1.25;

  &::before {
    content: "“";
    opacity: .5;
    font-size: inherit;
  }

  &::after {
    content: "”";
    opacity: .5;
    font-size: inherit;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-xxxxl;
  }
}

.testimonial-cite {
  font-size: $font-size-sm;
  line-height: 1.5;
  font-style: normal;
  font-weight: 100;

  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
}

.testimonial-author,
.testimonial-position,
.testimonial-org {
  display: block;
}

.testimonial-author::before {
  content: "— ";
}
