.page-subfooter {
  @extend %text-center;
  @extend %mt-5;
  @extend %mt-md-6;
  color: $page-cta-color;
  background: $page-cta-bg-color;
  padding-bottom: 4rem;
  padding-top: calc(4rem - 0.5rem); // subtract extra line height spacing

  @include media-breakpoint-up(sm) {
    padding-top: calc(4rem - 0.75rem); // subtract extra line height spacing
  }

  * {
    color: $page-cta-color;
  }

  > * {
    @include grid-container;
    max-width: $size-md !important;
  }
}

.page-company {
  .page-subfooter {
    background-color: $sk-blue-light;
  }
}

.page-careers {
  .page-subfooter {
    background-color: $green-300;
  }
}

.page-thoughts {
  .page-subfooter {
    background-color: $red-200;
  }
}

.page-connect {
  .page-subfooter {
    background-color: $sk-yellow;

    * {
      color: $heading-color;
    }

    .page-subfooter__divider {
      background-color: $black;
    }
  }

  .page-subfooter-cta-col a {
    border-color: $heading-color;
  }
}

.page-subfooter-header-row {
  @extend %mb-3;
}

.page-subfooter-header-col {
  @extend %col;
}

.page-subfooter-heading {
  font-size: $font-size-xxx-large;

  @include media-breakpoint-up(sm) {
    font-size: $font-size-xxxxx-large;
  }
}

.page-subfooter-text-row {
  @extend %mb-4;
}

.page-subfooter-text-col {
  font-weight: 100;
  line-height: 1.75;

  @include media-breakpoint-up(md) {
    font-size: $font-size-medium;
  }

  p {
    margin-bottom: 0;
  }
}

.page-subfooter-cta-row {
  @extend %row;
}

.page-subfooter-cta-col {
  @extend %col;

  a {
    @extend %btn-base;
    @extend %btn-icon-right;
    @extend %btn-lg;
    @include button-outline-variant($btn-page-cta-color, $btn-page-cta-bg);

    &:hover {
      background: rgba(255, 255, 255, 0.15);
      color: $white;
    }
  }
}

.testimonial-col {
  blockquote {
    @extend %m-0;
  }
}

.testimonial-quote {
  @extend %mb-4;
  font-size: $font-size-x-large;
  line-height: 1.25;

  @include media-breakpoint-up(md) {
    font-size: $font-size-xxxx-large;

    &::before {
      font-size: 4rem;
    }

    &::after {
      font-size: 4rem;
    }
  }
}

.testimonial-cite {
  font-size: $font-size-xx-small;
  font-style: normal;
  font-weight: 100;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: $font-size-medium;
  }
}

.testimonial-author,
.testimonial-position,
.testimonial-org {
  @extend %d-block;
}

.testimonial-author {
  font-weight: bold;
}

.page-subfooter__divider {
  background-color: $white;
  height: 4px;
  width: 111px;
}
