.page-subfooter {
  @extend %text-center;
  @extend %mt-5;
  @extend %mt-md-6;
  @extend %py-4;
  @extend %py-md-5;
  color: $page-cta-color;
  background-image: $page-cta-bg-color;
}

.page-subfooter-content {
  @include container-fluid-base;
}

.page-subfooter-header-row {
  @extend %row;
  @extend %mb-3;
}

.page-subfooter-header-col {
  @extend %col;
}

.page-subfooter-text-row {
  @extend %row;
  @extend %mb-4;
}

.page-subfooter-text-col {
  @extend %col-sm-9;
  @extend %col-lg-7;
  @extend %mx-auto;
  font-weight: 100;
  line-height: 1.75;

  @include media-breakpoint-up(md) {
    font-size: $font-size-large;
  }

  p {
    margin-bottom: 0;
  }
}

.page-subfooter-cta-row {
  @extend %row;
}

.page-subfooter-cta-col {
  @extend %col;

  a {
    @extend %btn-base;
    @extend %btn-icon-right;
    @extend %btn-lg;
    @extend %text-uppercase;
    @include button-outline-variant($btn-page-cta-color, $btn-page-cta-bg);
  }
}

// Testimonial CTA
.testimonial {
  @include container-fluid-base;
}

.testimonial-row {
  @extend %row;
}

.testimonial-col {
  @extend %col-sm-7;
  @extend %col-md-10;
  @extend %col-lg-8;
  @extend %mx-auto;

  blockquote {
    @extend %m-0;
  }
}

.testimonial-quote {
  @extend %font-italic;
  @extend %mb-4;
  font-size: $font-size-x-large;
  line-height: 1.25;

  &::before {
    @extend %align-middle;
    content: '\201C';
    font-size: $font-size-xxx-large;
    line-height: .1;
    opacity: .5;
  }

  &::after {
    @extend %align-middle;
    content: '\201D';
    font-size: $font-size-xxx-large;
    line-height: .1;
    opacity: .5;
  }

  @include media-breakpoint-up(md) {
    font-size: $font-size-xxxx-large;

    &::before {
      font-size: 4rem;
    }

    &::after {
      font-size: 4rem;
    }
  }
}

.testimonial-cite {
  font-size: $font-size-xx-small;
  font-style: normal;
  font-weight: 100;
  line-height: 1.5;

  @include media-breakpoint-up(md) {
    font-size: $font-size-lg;
  }
}

.testimonial-author,
.testimonial-position,
.testimonial-org {
  @extend %d-block;
}

.testimonial-author::before {
  content: '— ';
}
