.footer {
  @include grid-container;
  @extend %py-5;
}

.footer-content {
  @extend %row;
}

.footer-brand {
  @extend %col-12;
  @extend %d-flex;
  @extend %flex-column;
  @extend %align-items-center;
  @extend %align-items-lg-start;
  @extend %mb-5;
  @extend %mb-lg-0;

  @include media-breakpoint-up(lg) {
    @include make-col(4);
  }
}

.footer-nav {
  @extend %col-12;
  @extend %col-lg-8;
}

.footer-brandmark {
  @include brandmark(
    $width: $footer-brand-width,
    $height: $footer-brand-height,
    $width-sm-down: $footer-brand-width-sm-down,
    $height-sm-down: $footer-brand-height-sm-down,
    $filename: "logo"
  );
}

.footer-link-groups {
  @extend %row;
  @extend %text-center;
  @extend %text-sm-left;
  @extend %justify-content-md-end;
}

.footer-link-group {
  @extend %col-12;
  @extend %d-sm-flex;

  @include media-breakpoint-up(sm) {
    flex: 1 0;
  }

  &:not(:last-of-type) {
    @extend %mb-5;
    @extend %mb-sm-0;
  }
}

.footer-links {
  font-family: $font-family-mono;

  h4,
  h2 {
    @extend %mb-3;
    font-size: $font-size-medium;
  }

  ul {
    @extend %list-unstyled;
    @extend %mb-0;
    font-size: $font-size-small;

    li {
      &:not(:last-of-type) {
        @extend %mb-2;
      }

      a {
        @include link-decoration(
          $footer-link-color,
          $footer-link-hover-color,
          $footer-link-border,
          $footer-link-border-hover
        );
      }
    }
  }

  li {
    line-height: 1.5;
  }
}

// Sticky footer
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1;
}
