.page-footer {
  @extend .py-4;
  @extend .py-md-5;
}

.footer-content {
  @extend .container;
}

.footer-brand-outer-wrapper,
.footer-contribute-cta-wrapper {
  @extend .row;
}

.footer-brand-inner-wrapper,
.footer-contribute-cta {
  @extend .col-md-3;
}

.footer-brand {
  @include logo($height: 40);
}

.footer-contribute-cta a {
  @extend %btn-base;
  @extend .btn-sm;
  @include button-outline-variant2($btn-footer-color, $btn-footer-bg,
    $btn-footer-border, $btn-footer-active-color);
}

.footer-nav,
.footer-socials {
  @extend .col-md-9;
  @extend .text-md-right;
}

.footer-nav {
  a {
    @include link-decoration($footer-nav-link-color, $footer-nav-link-hover-color,
      $footer-nav-link-border, $footer-nav-link-border-hover);
  }

  font-size: $font-size-xx-small;
  font-weight: 100;

  ul {
    @extend .list-inline;
    @extend .m-0;
  }

  ul li {
    @extend .list-inline-item;
  }

  li+li:before
  {
  	content: '/';
  	color: $footer-nav-link-divider-color;
  	display: inline-block;
  	margin: 0 5px;
  }
}

.footer-socials {
  a {
    @include link-decoration($footer-socials-link-color, $footer-socials-link-hover-color,
      $footer-socials-link-border, $footer-socials-link-border-hover);
  }

  a:not(:last-child) {
    padding-right: 25px;
  }

  span {
    @extend .sr-only;
  }
}

@include media-breakpoint-down(md) {
  .footer-content > div.row > * {
    @include mb-3;
  }

  .footer-content > div:last-child > div:last-child {
    @include mb-0;
  }
}

@include media-breakpoint-up(md) {
  .footer-content > div.row:first-child {
    @include mb-4;
  }

  .footer-nav {
    font-size: $font-size-small;

    li+li::before
    {
      margin: 0 10px;
    }
  }
}
