.header {
  @include container-fluid-base;
}

.navbar {
  @extend %navbar-toggleable-sm;
  @extend %py-3;
  font-size: $font-size-small;
}

.navbar-flex-container {
  @extend %d-flex;
  @extend %justify-content-between;
}

.navbar-logo {
  @include brandmark;
}

.navbar-toggler {
  @extend %align-self-center;
  @extend %p-0;
  color: $nav-toggler-color;

  &:hover,
  &:focus {
    color: $nav-toggler-hover-color;
  }
}

.can-touch {
  .navbar-toggler {
    &:hover {
      color: $nav-toggler-color;
    }

    &:focus {
      color: $nav-toggler-hover-color;
    }
  }

  .navbar-toggler[aria-expanded='true'] {
    color: $nav-toggler-hover-color;
  }
}

.navbar-nav-collapsible {
  @extend %collapse;
  @extend %navbar-collapse;
  @extend %justify-content-end;

  &.collapse.show {
    @extend %mt-3;
  }
}

.nav-item {
  &:last-child {
    @extend %pr-0;
  }
}

.nav-link {
  @extend %nav-link-decoration;

  span {
    padding: 7px 15px;
    background: $white;
  }

  &:hover {
    span {
      background: #f8f8f8;
    }
  }

  &:focus,
  &[aria-current] {
    span {
      font-weight: 700;
    }
  }
}
