.global-header {
  @extend %container;
}

.navbar {
  @extend %navbar-toggleable-sm;
  @extend %py-3;
  font-size: $font-size-small;
}

.navbar-flex-container {
  @extend %d-flex;
  @extend %justify-content-between;
}

.navbar-logo {
  @include logo;
  transition: all 0.1s ease-in-out;

  &:focus,
  &:hover {
    transform: scale(1.1, 1.1);
  }
}

.navbar-toggler {
  @extend %align-self-center;
  color: $nav-toggler-color;

  &:hover,
  &:focus {
    color: $nav-toggler-hover-color;
  }
}

.can-touch {
  .navbar-toggler {
    &:hover {
      color: $nav-toggler-color;
    }

    &:focus {
      color: $nav-toggler-hover-color;
    }
  }

  .navbar-toggler[aria-expanded='true'] {
    color: $nav-toggler-hover-color;
  }
}

.navbar-nav-collapsible {
  @extend %collapse;
  @extend %navbar-collapse;
  @extend %justify-content-end;

  &.collapse.show {
    @extend %mt-3;
  }
}

.nav-item {
  @extend %px-3;
  @extend %px-md-down-2;

  &:last-child {
    @extend %pr-0;
  }
}

.nav-link {
  @extend %nav-link-decoration;
  @extend %px-0;

  &:hover,
  &:focus,
  &[aria-current] {
    span {
      border-bottom: 5px solid $nav-link-border-color;
      padding-bottom: 3px;
    }
  }
}
