.notice-bar {
  @extend %container-fluid;
}

.notice-bar-row {
  @extend %row;
}

.notice-bar-col {
  @extend %col;
  @extend %text-center;
  @extend %py-2;
  font-size: $font-size-xxx-small;
  color: $white;
  background-image: $notice-bar-bg-color;

  a {
    @include link-decoration($notice-bar-link-color, $notice-bar-link-hover-color,
      $notice-bar-link-border, $notice-bar-link-border-hover);
  }

  i {
    @extend %ml-1;
  }
}
