.notice-bar {
  @extend %container-fluid;
}

.notice-bar-row {
  @extend %row;
}

.notice-bar-col {
  @extend %col;
  @extend %text-center;
  font-size: $font-size-xxxx-small;
  color: $white;
  background-image: linear-gradient(-90deg, #003d58, #0073a4);

  i {
    @extend %mr-1;
  }
}
