.notice-bar {
  @extend %container-fluid;
}

.notice-bar-row {
  @extend %row;
}

.notice-bar-col {
  @extend %col;
  @extend %text-center;
  font-size: $font-size-xxxx-small;
  color: $white;
  background-color: $brand-primary;

  i {
    @extend %mr-1;
  }
}
